@using System.Threading.Tasks
@model SciVacancies.ReadModel.Core.Position

<div class="crumbs">
    <a asp-controller="organizations" asp-action="vacancies">Назад</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID @Model.Guid</h4>
</div>

<div class="content-popup">
    <div class="title-cat-inform">Специализация:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Должность:</span>Младший научный сотрудник
        </li>
        <li class="even">
            <span>Полное наименование:</span><span class="status executed">Младший научный сотрудник отраслевой лаборатории ядерных исследований</span>
        </li>
        <li class="odd">
            <span>Отрасль науки:</span>Естественные науки - Физика и астрономия - Ядерная физика
        </li>
        <li class="even">
            <span>Тематика исследований:</span>Ядерная физика и технологии
        </li>
    </ul>

    <div class="title-cat-inform">Задачи и критерии:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Задачи:</span>Основные задачи - описание
        </li>
        <li class="even">
            <span>Критерии оценки:</span>Добавленные критерии
        </li>
    </ul>

    <div class="title-cat-inform">Условия:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Заработная плата:</span>65 000 рублей/месяц
        </li>
        <li class="even">
            <span>Стимулирующие выплаты:</span>предусмотрены
        </li>
        <li class="odd">
            <span>Трудовой договор:</span>Бессрочный
        </li>
        <li class="even">
            <span>Социальный пакет:</span>Да
        </li>
        <li class="odd">
            <span>Найм жилья:</span>Да
        </li>
        <li class="even">
            <span>Компенсация проезда:</span>Да
        </li>
    </ul>

    <div class="title-cat-inform">Лицо для получения дополнительных справок:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Фамилия, имя, отчество:</span>Пушкин Дадон Гвидонович
        </li>
        <li class="even">
            <span>E-mail:</span>dadon@yandex.ru
        </li>
        <li class="even">
            <span>Телефон:</span>+7 (903) 123-4567
        </li>
    </ul>
    
</div>


<br />
<br />
<br/>
<br/>

<div class="ctr-buttons mb5 mt-30">
    <a asp-controller="positions" asp-action="edit" asp-route-id="@Model.Guid">
        <span class="green-btn middle-icon">Изменить вакансию</span>
    </a>

    <a asp-controller="positions" asp-action="delete" asp-route-id="@Model.Guid" onclick="javascript: return confirm('Вы уверены что хотите удалить эту вакансию?');">
        <span class="white-btn middle-icon">Удалить вакансию</span>
    </a>
</div>

<div class="b-bottom-nav">
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Назад</a>
</div>