@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.OrganizationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>Карточка организации
</div>

<h3>@Model.Title</h3>

@Component.Invoke("AccountTabs", typeof(OrganizationsController))

<h4>@ViewBag.Title</h4>

<div class="l-information">
    <div class="row row-profile">
        <div class="profile">
            <div class="photo inline-block">
                <img src="/images/profile-photo.png" width="140" height="180" />
            </div>
            <div class="info info-view inline-block">
                <h4>@Model.Name</h4>

                <div class="profile-description">
                    <div>Сокращенное наименование: <span class="bold">@Model.ShortName</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div class="profile-description profile-description-place">
            <div>Электронный адрес: <a href="#"><span class="bold">@Model.Email</span></a></div>
            <div>Почтовый адрес: <span class="bold">@Model.Address</span><br /></div>
        </div>
    </div>
</div>



<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>