@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model SciVacancies.WebApp.ViewModels.OrganizationDetailsViewModel


<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h4>Информация</h4>
<div class="l-information">
    <div class="row row-profile">
        <div class="profile">
            <div class="photo inline-block">
                <img src="/images/profile-photo.png" width="140" height="180" />
            </div>
            <div class="info info-view inline-block">
                <h4>@Model.Name</h4>
                @*<del>
                    <span>
                        <a href="#" class="big-link-compare lk-icon bold">Добавить в сравнение</a>
                    </span>
                </del>
                <span style="color: red;">в разработке</span>*@
                <div class="profile-description">
                    <div>Сокращенное наименование: <span class="bold">@Model.ShortName</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div class="profile-description profile-description-place">
            <div>Email: <a href="mailto:@(Model.Email)"><span class="bold">@Model.Email</span></a></div>
            <div>Почтовый адрес: <span class="bold">@Model.Address</span><br /></div>
        </div>
    </div>
</div>

<div class="mt30">
    <h4>Вакансии</h4>

    <div class="table-control">
        <a href="@Context.Request.Path.Value" class="reload-table before_icon_top"><span class="italic">Обновить список</span></a>
    </div>

    <table class="table request-table">
        <thead>
            <tr>
                <th>
                    <div class="inline-block">
                    </div>
                    <div class="inline-block ml6 va-middle">№</div>
                </th>
                <th>
                    <div class="inline-block ml6 va-middle">ID вакансии</div>
                </th>
                <th>
                    <div class="pl21 va-middle">Вакансия</div>
                </th>
                <th width="130">
                    <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldPublishDate).CreateString())">
                        <div class="inline-block">
                            <img title="Сортировка" src="@Context.Request.GetOrderIcon(ConstTerms.OrderByFieldPublishDate)" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">
                            Дата<br />публикации
                        </div>
                    </a>
                </th>
                <th width="110">
                    <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldVacancyStatus).CreateString())">
                        <div class="inline-block">
                            <img title="Сортировка" src="@Context.Request.GetOrderIcon(ConstTerms.OrderByFieldVacancyStatus)" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">
                            Статус<br />вакансии
                        </div>
                    </a>
                </th>
                <th class="view-col">
                    <div class="pl21 va-middle"><span>Просмотр</span></div>
                </th>
                <th>
                    <div class="pl21 va-middle">Победитель</div>
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.VacanciesInOrganization.PagedVacancies != null)
            {
                var i = Model.VacanciesInOrganization.PagedVacancies.FirstRowIndexOnPage - 1;
                foreach (var item in Model.VacanciesInOrganization.PagedVacancies.Items)
                {
                    i += 1;
                    <text>
                    <tr>
                        <td>@i</td>
                        <td>VAC @item.read_id</td>
                        <td>@item.name</td>
                        <td>@(item.publish_date?.ToLocalVacancyString())</td>
                        <td><span class="status @item.status.GetHtmlClass()">@item.status.GetDescriptionByResearcher()</span></td>
                        <td>
                            <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.guid" class="view-td-icon" title="Просмотр вакансии"></a>
                        </td>
                        <td class="ta-left"></td>
                    </tr>
                    </text>
                }
            }
        </tbody>
    </table>

    <div pagedlist="Model.VacanciesInOrganization.PagedVacancies"
         request="Context.Request">
    </div>

</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>
