@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.ViewModels
@model OrganizationDetailsViewModel


<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h4>Информация</h4>
<div class="l-information">
    <div class="row">
        <div class="profile">
            <div class="photo inline-block">
                <img src="/images/profile-photo.png" width="140" height="180" />
            </div>
            <div class="info info-view inline-block">
                <h4>@Model.Name</h4>
                <del><span><a href="#" class="big-link-compare lk-icon bold">Добавить в сравнение</a></span></del> <span style="color: red;">в разработке</span>

                <div class="profile-description">
                    <div>Сокращенное наименование: <span class="bold">@Model.ShortName</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div class="profile-description profile-description-place">
            @*<div>Населенный пункт: <span class="bold">@Model.CityName</span></div>*@

            <div>Веб-сайт: <a href="#"><span class="bold">@Model.Email</span></a></div>

            <div>Почтовый адрес: <span class="bold">@Model.Address</span><br /></div>
        </div>
    </div>
</div>

<div class="mt30">
    <h4>Вакансии</h4>

    <div class="table-control">
        <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
    </div>

    <table class="table request-table">
        <thead>
        <tr>
            <th>
                <div class="inline-block">
                </div>
                <div class="inline-block ml6 va-middle">№</div></th>
            <th>
                <div class="inline-block">
                </div>
                <div class="inline-block ml6 va-middle">ID вакансии</div></th>
            <th>
                <div class="pl21 va-middle">Вакансия</div></th>
            <th>
                <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
                </div>
                <div class="inline-block ml6 va-middle">Дата<br/> публикации
                </div></th>
            <th>
                <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
                </div>
                <div class="inline-block ml6 va-middle">Статус<br/> вакансии
                </div></th>
            <th class="view-col">
                <div class="pl21 va-middle"><span>Просмотр</span></div></th>
            <th>
                <div class="pl21 va-middle">Победитель</div></th>
        </tr>
        </thead>
        <tbody>

        @if (Model.VacanciesInOrganization.PagedVacancies != null)
        {
            foreach (var item in Model.VacanciesInOrganization.PagedVacancies.Items.Where(c => c.status== VacancyStatus.Published || c.status == VacancyStatus.InCommittee ))
            {
                <text>
                    <tr>
                        <td>@item.guid.ToString().Substring(0, 4)...</td>
                        <td>ГНС600001</td>
                        <td>@item.name</td>
                        <td>@(item.publish_date?.ToLocalVacancyString())</td>
                        <td><span class="status @item.status.GetHtmlClass()">@item.status.GetDescription()</span></td>
                        <td>
                            <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.guid" class="view-td-icon" title="Просмотр вакансии"></a>
                        </td>
                        <td class="ta-left"></td>
                    </tr>
                </text>
            }
        }
        </tbody>
    </table>

    <div pagedlist="Model.VacanciesInOrganization.PagedVacancies"
         request="Context.Request">
    </div>

</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>
