@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.VacanciesInOrganizationIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">@Model.Name</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Карточка организации</h3>

@Component.Invoke("AccountTabs", typeof(OrganizationsController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    <!-- <a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a> -->
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table">
    <thead>
        <tr>
            <th>
                <div class="inline-block">
                </div>
                <div class="inline-block ml6 va-middle">№</div>
            </th>
            <th>
                <div class="inline-block">
                    <!-- <img src="/images/icons/tab-head.png" class="va-middle"/>  -->
                </div>
                <div class="inline-block ml6 va-middle">ID вакансии</div>
            </th>
            <th>
                <div class="pl21 va-middle">Вакансия</div>
            </th>
            <th>
                <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldPublishDate).CreateString())">
                    <div class="inline-block">
                        <img src="@Context.Request.GetOrderIcon()" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">
                        Дата<br /> завершения
                    </div>
                </a>
            </th>
            <th class="view-col">
                <div class="pl21 va-middle"><span>Просмотр</span></div>
            </th>
            <th>
                <div class="pl21 va-middle">Победитель</div>
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.PagedVacancies != null)
        {
            var i = Model.PagedVacancies.FirstRowIndexOnPage - 1;
            foreach (var item in Model.PagedVacancies.Items.Where(c => c.status == VacancyStatus.Closed))
            {
                i += 1;
                <text>
                <tr>
                    <td>@i</td>
                    <td><a asp-controller="vacancies" asp-action="details" asp-route-id="@item.guid" title="Просмотр вакансии">ГНС600001</a></td>
                    <td>@item.name</td>
                    <td>@(item.announcement_date?.ToLocalVacancyString()) <!--01-09-14, 16:04--></td>
                    <td class="view-col">
                        <a asp-controller="vacancies" asp-action="details" asp-route-id="@item.guid" class="view-td-icon" title="Просмотр вакансии"></a>
                    </td>
                    <td><a asp-controller="applications" asp-action="preview" asp-route-id="@item.guid" class="success-request-icon"><span class="italic bold">Победитель</span></a></td>
                </tr>
                </text>
            }
        }

    </tbody>
</table>

<div pagedlist="Model.PagedVacancies"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">@Model.Name</a>
</div>