@using System.Threading.Tasks
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacanciesFilterModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<form method="GET">
    <div class="l-search">
        <div class="b-filter float-right">
            <h4>Фильтр по результатам</h4>

            <div class="filter-contents">
                <div class="ctr-filter">
                    <span class="small-icon icon-sm-ok" onclick="javascript: void (0);">Выбрать все</span>
                    <span class="small-icon icon-sm-close">Очистить фильтр</span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Регион</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Regions"
                                     values="Model.Regions"
                                     property="Regions"
                                     showcount="10"></checkboxing>


                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>ФОИВ</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Foivs"
                                     values="Model.Foivs"
                                     property="Foivs"
                                     showcount="10"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Научное направление</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.ResearchDirections"
                                     values="Model.ResearchDirections"
                                     property="ResearchDirections"
                                     showcount="10"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Научное направление</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Positions"
                                     values="Model.Positions"
                                     property="Positions"
                                     showcount="10"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Заработная плата</span></div>
                    <div>
                        От <input type="text" asp-for="SalaryMin" class="small-input" />
                    </div>
                    <div>
                        До <input type="text" asp-for="SalaryMax" class="small-input" />
                    </div>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Статус вакансии</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.VacancyStates"
                                     values="Model.VacancyStates"
                                     property="VacancyStates"
                                     showcount="10"></checkboxing>
                    </ul>
                </div>
            </div>
        </div>

        <div class="b-search-result">
            <h4>@ViewBag.Title</h4>
            <div class="italic">
                @Html.Raw(!string.IsNullOrWhiteSpace(Model.Search) ? string.Format("По запросу «{1}» с учетом фильтрации найдено {0} записей.", Model.Items.TotalItems, Model.Search) : "&nbsp;")
            </div>

            <!--<div class="ctr-buttons" style="margin-top: 20px;">
                <a asp-controller="subscriptions" asp-action="add" asp-route-id="@Guid.NewGuid()" class="success-btn-submit open-popup" id="subscribe" rel="tooltip">Подписаться</a>

                <div id="subscribe-popover" style="display: none;">
                    Задав поисковый запрос и выбрав необходимые критерии поиска в фильтре результатов, вы можете подписаться на данную конфигурацию запроса. Это позволит в дальнейшем оперативно отслеживать необходимую информацию с учётом выбранных предпочтений. Ваши подписки отображаются в Личном Кабинете в соответствующей вкладке
                </div>
            </div> -->

            <!--div class="ctr-buttons" style="margin-top:20px;">
            <a  asp-controller="subscriptions" asp-action="delete" asp-route-id="@Guid.NewGuid()" class="blue-btn middle-icon icon-close" rel="tooltip" title="">Отменить подписку</a>
            </div-->
            <!--div class="ctr-buttons" style="margin-top:20px;">
            <a  asp-controller="subscriptions" asp-action="add" asp-route-id="@Guid.NewGuid()" class="white-btn middle-icon icon-lgr-ok" id="subscribed" rel="tooltip">Подписка оформлена</a>
            <div id="subscribed-popover" style="display:none;text-align:center;">
                Поздравляем!<br/>Теперь вы подписаны на запрос по теме «исследователь»
            </div>
            </div-->

            <div class="sorting">
                <div class="inline-block w120">
                    <select asp-for="Period"
                            asp-items="ViewBag.FilterSource.Periods"></select>
                </div>
                <div class="inline-block w160">
                    <select asp-for="OrderBy"
                            asp-items="ViewBag.FilterSource.OrderBys"></select>
                </div>
                <input type="submit" class="blue-btn-sm small-icon icon-sm-eye-wh" value="Показать" />
            </div>

            <div class="list-results">

                @if (Model.Items.Items != null)
                {
                    var index = 0;
                    foreach (var item in Model.Items.Items)
                    {
                        <text>
                        <div>
                            <div class="index-number">@(Model.Items.FirstRowIndexOnPage + index).</div>
                            <div class="index-text">
                                <div class="title">
                                    <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Id" target="_blank">@item.Name</a>
                                </div>
                                <div class="inform">
                                    <p>Дата размещения: @item.DateStart.ToLocalVacancyString()</p>
                                    <p>
                                        Регион: <span>@item.CityName</span>
                                    </p>
                                    <p>Заработная плата: @item.SalaryFrom – @item.SalaryTo руб.</p>
                                    <p>
                                        Организация: <a asp-controller="organizations" asp-action="card" asp-route-id="@item.OrganizationGuid" target="_blank">@item.OrganizationName</a>
                                    </p>
                                    <p>
                                        Научные направления: <span>@item.ResearchDirection</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </text>
                        index++;
                    }
                }
            </div>
        </div>
    </div>

</form>


<div style="margin: 80px 0 20px 0;">
    <div pagedlist="Model.Items"
         request="Context.Request">
    </div>
</div>





@*<div class="window-popup middle" style="display:none;">
        <span class="close-popup"></span>
        <div class="title-popup">
            <h4>Подписка на поисковый запрос</h4>
        </div>
        <div class="content-popup">
            <p class="fs14 arial">Подписываясь на запрос, вы сможете быстро перейти к соответствующим результатам из Личного кабинета, а также будете получать электронные уведомления обо всех обновлениях по теме данного запроса</p>
            <div class="form-line">
                <input type="text" style="width:340px;" placeholder="Название запроса" />
            </div>

            <div class="form-line">
                <input type="text" style="width:340px;" placeholder="Ключевые слова" />
            </div>

            <div class="form-line mt25">
                <span class="checkbox checked">
                    <input type="checkbox" checked />
                </span><label>Получать уведомления по электронной почте</label>
            </div>

            <div class="ctr-buttons mt40">
                <span class="green-btn middle-icon icon-arr-right">Подписаться</span><span class="blue-btn middle-icon icon-close">Отмена</span>
            </div>
        </div>
    </div>
    <div class="bg-window" style="display: none;"></div>*@





<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная страницу</a>
</div>