@using System.Threading.Tasks
@using NPoco
@using SciVacancies.ReadModel.Core
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacanciesFilterModel

@{
    var pagedData = (Page<SciVacancies.ReadModel.ElasticSearchModel.Model.Vacancy>)ViewBag.PagedData;
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<form method="GET">
    <div class="l-search">
        <div class="b-filter float-right">
            <h4>Фильтр по результатам</h4>

            <div class="filter-contents">
                <div class="ctr-filter">
                    <span class="small-icon icon-sm-ok" onclick="javascript: void (0);">Выбрать все</span>
                    <span class="small-icon icon-sm-close">Очистить фильтр</span>
                </div>

                <div class="cat-filter">
                    <div class="title">Регион</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Regions"
                                     values="Model.Regions"
                                     property="Regions"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 453 )</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title">ФОИВ</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Foivs"
                                     values="Model.Foivs"
                                     property="Foivs"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 682 )</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title">Научное направление</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.ResearchDirections"
                                     values="Model.ResearchDirections"
                                     property="ResearchDirections"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 897 )</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title">Категория должности</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Positions"
                                     values="Model.Positions"
                                     property="Positions"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye"><span>Показать ещё 5 ( из 10 )</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title">Организация</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Organizations"
                                     values="Model.Organizations"
                                     property="Organizations"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye"><span>Показать ещё 10 ( из 682 )</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title">Заработная плата</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Salaries"
                                     values="Model.Salaries"
                                     property="Salaries"></checkboxing>
                    </ul>
                </div>

                <div class="cat-filter">
                    <div class="title">Статус вакансии</div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.VacancyStates"
                                     values="Model.VacancyStates"
                                     property="VacancyStates"></checkboxing>
                    </ul>
                </div>
            </div>
        </div>

        <div class="b-search-result">
            <h4>@ViewBag.Title</h4>
            <div class="italic">
                @Html.Raw(!string.IsNullOrWhiteSpace(Model.Search) ? string.Format("По запросу «{1}» с учетом фильтрации найдено {0} записей.", pagedData.TotalItems, Model.Search) : "&nbsp;")
            </div>

            <div class="ctr-buttons" style="margin-top:20px;">
                <a class="success-btn-submit open-popup" id="subscribe" rel="tooltip">Подписаться</a>
                <div id="subscribe-popover" style="display:none;">
                    Задав поисковый запрос и выбрав необходимые критерии поиска в фильтре результатов, вы можете подписаться на данную конфигурацию запроса. Это позволит в дальнейшем оперативно отслеживать необходимую информацию с учётом выбранных предпочтений. Ваши подписки отображаются в Личном Кабинете в соответствующей вкладке
                </div>
            </div>

            <!--div class="ctr-buttons" style="margin-top:20px;">
                <span class="blue-btn middle-icon icon-close" rel="tooltip" title="">Отменить подписку</span>
            </div-->
            <!--div class="ctr-buttons" style="margin-top:20px;">
                <span class="white-btn middle-icon icon-lgr-ok" id="subscribed" rel="tooltip">Подписка оформлена</span>
                <div id="subscribed-popover" style="display:none;text-align:center;">
                    Поздравляем!<br />Теперь вы подписаны на запрос по теме «исследователь»
                </div>
            </div-->

            <div class="sorting">
                <div class="inline-block w120">
                    <select asp-for="Period"
                            asp-items="ViewBag.FilterSource.Periods"></select>
                </div>
                <div class="inline-block w160">
                    <select asp-for="OrderBy"
                            asp-items="ViewBag.FilterSource.OrderBys"></select>
                </div>
                <input type="submit" class="blue-btn-sm small-icon icon-sm-eye-wh" value="Показать" />
            </div>

            <div class="list-results">

                @foreach (var item in pagedData.Items)
            {
                    <div>
                        <div class="index-number">17.</div>
                        <div class="index-text">
                            <div class="title"><a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Id" target="_blank">@item.Name</a></div>
                            <div class="inform">
                                <p>Дата размещения: @item.DateStart.ToLocalVacancyString()</p>
                                <p>
                                    Регион: <span>@item.CityName</span>
                                </p>
                                <p>Заработная плата: @item.SalaryFrom – @item.SalaryTo руб.</p>
                                <p>
                                    Организация: <a asp-controller="organizations" asp-action="card" asp-route-id="@item.OrganizationGuid" target="_blank">@item.OrganizationName</a>
                                </p>
                                <p>
                                    Научные направления: <span>@item.ResearchDirection</span>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="bottom-nav" style="margin: 80px 0 20px 0;">
        <div class="bottom-nav-left">
            <div class="count-news" style="margin: 0 20px 0 0;">
                171-180 из @pagedData.TotalItems вакансий
            </div>
            <div class="count-line-page">
                <input asp-for="PageSize" type="text" /> записей на странице
            </div>
        </div>
        <div class="bottom-nav-right">
            <ul>
                <li>
                    @if (pagedData.CurrentPage == 1)
                    {
                        <text>
                        <span class="first disable">
                            <span>Первая</span>
                        </span>
                        </text>
                    }
                    else
                    {
                        <text>
                        <span class="first">
                            <a href="#">Первая</a>
                        </span>
                        </text>
                    }
                </li>
                <li>
                    @if (pagedData.CurrentPage == 1)
                    {
                        <text>
                        <span class="prev disable">
                            <span>Предыдущая</span>
                        </span>
                        </text>
                    }
                    else
                    {
                        <text>
                        <span class="prev">
                            <a href="#">Предыдущая</a>
                        </span>
                        </text>
                    }
                </li>
                <li>
                    <div class="count-page">
                        <input asp-for="PageNumber" type="text" /> из @pagedData.TotalPages
                    </div>
                </li>
                <li>
                    @if (pagedData.CurrentPage == pagedData.TotalPages)
                    {
                        <text>
                        <span class="next disable">
                            <span>Следующая</span>
                        </span>
                        </text>
                    }
                    else
                    {
                        <text>
                        <span class="next">
                            <a href="#">Следующая</a>
                        </span>
                        </text>
                    }
                </li>
                <li>
                    @if (pagedData.CurrentPage == pagedData.TotalPages)
                    {
                        <text>
                        <span class="latest disable">
                            <span>Последняя</span>
                        </span>
                        </text>
                    }
                    else
                    {
                        <text>
                        <span class="latest">
                            <a href="#">Последняя</a>
                        </span>
                        </text>
                    }
                </li>
            </ul>
        </div>
    </div>
</form>


@*<div class="window-popup middle" style="display:none;">
        <span class="close-popup"></span>
        <div class="title-popup">
            <h4>Подписка на поисковый запрос</h4>
        </div>
        <div class="content-popup">
            <p class="fs14 arial">Подписываясь на запрос, вы сможете быстро перейти к соответствующим результатам из Личного кабинета, а также будете получать электронные уведомления обо всех обновлениях по теме данного запроса</p>
            <div class="form-line">
                <input type="text" style="width:340px;" placeholder="Название запроса" />
            </div>

            <div class="form-line">
                <input type="text" style="width:340px;" placeholder="Ключевые слова" />
            </div>

            <div class="form-line mt25">
                <span class="checkbox checked">
                    <input type="checkbox" checked />
                </span><label>Получать уведомления по электронной почте</label>
            </div>

            <div class="ctr-buttons mt40">
                <span class="green-btn middle-icon icon-arr-right">Подписаться</span><span class="blue-btn middle-icon icon-close">Отмена</span>
            </div>
        </div>
    </div>
    <div class="bg-window" style="display: none;"></div>*@





<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная страницу</a>
</div>