@using System.Linq
@using System.Threading.Tasks
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model VacanciesFilterModel

@{
    int a, b;
    var labelForIndex = 0;
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<form method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" asp-for="NewSubscriptionAdd" />
    <input type="hidden" asp-for="Search" />
    <div class="l-search">
        <div class="b-filter float-right">
            <h4>Фильтр по результатам</h4>

            <div class="filter-contents">
                <div class="ctr-filter">
                    <span class="small-icon icon-sm-ok filter-link-check-all" onclick="javascript: void (0);">Выбрать все</span>
                    <span class="small-icon icon-sm-close filter-link-uncheck-all">Очистить фильтр</span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Регион</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Regions"
                                     values="Model.Regions"
                                     property="Regions"
                                     showcount="10"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>ФОИВ</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.Foivs"
                                     values="Model.Foivs"
                                     property="Foivs"
                                     showcount="10"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Научное направление</span></div>
                    <ul class="sub-cat level-1">
                        @{
                            var researchDirection = (ResearchDirectionViewModel)ViewBag.FilterSource.ResearchDirections[0];
                            labelForIndex = 0;
                            for (a = 0; a < researchDirection.Childs.Count; a++)
                            {
                                var openFirst = researchDirection.Childs[a].Childs.Sum(second => second.Childs.Count(third => (Model.ResearchDirections != null && Model.ResearchDirections.Contains(third.Id)))) > 0 ? "open" : string.Empty;
                                <text>
                                <li class="collapsible-filter-header @openFirst">
                                    <span>@researchDirection.Childs[a].Title (@researchDirection.Childs[a].Childs.Count)</span>
                                    <ul class="sub-cat level-1" style="display: none;">
                                        @for (b = 0; b < researchDirection.Childs[a].Childs.Count; b++)
                                        {
                                            var openSecond = researchDirection.Childs[a].Childs[b].Childs.Count(third => (Model.ResearchDirections != null && Model.ResearchDirections.Contains(third.Id))) > 0 ? "open" : string.Empty;
                                            <text>
                                            <li class="collapsible-filter-header @openSecond">
                                                <span>@researchDirection.Childs[a].Childs[b].Title (@researchDirection.Childs[a].Childs[b].Childs.Count)</span>
                                                <ul class="list-checkboxes" style="display: none;">
                                                    <checkboxing items="researchDirection.Childs[a].Childs[b].Items"
                                                                 values="Model.ResearchDirections"
                                                                 property="ResearchDirections"
                                                                 showcount="-1"
                                                                 labelforindex="@labelForIndex"></checkboxing>
                                                </ul>
                                            </li>
                                            </text>
                                            labelForIndex += researchDirection.Childs[a].Childs[b].Childs.Count;
                                        }
                                    </ul>
                                </li>
                                </text>
                            }
                        }
                    </ul>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Категория должности</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.PositionTypes"
                                     values="Model.PositionTypes"
                                     property="PositionTypes"
                                     showcount="3"></checkboxing>
                    </ul>
                    <span class="small-icon icon-sm-eye show-all-list"><span>Показать все</span></span>
                    <span class="small-icon icon-sm-eye hide-unselected" style="display: none;"><span>Только выбранные</span></span>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Заработная плата</span></div>
                    <div class="b-wages">
                        <div class="inline-block">
                            От <input type="text" asp-for="SalaryMin" class="small-input b-wages__input" />
                        </div>
                        <div class="inline-block ml9">
                            До <input type="text" asp-for="SalaryMax" class="small-input b-wages__input" />
                        </div>
                    </div>
                </div>

                <div class="cat-filter">
                    <div class="title"><span>Статус вакансии</span></div>
                    <ul class="list-checkboxes">
                        <checkboxing items="ViewBag.FilterSource.VacancyStates"
                                     values="Model.VacancyStates"
                                     property="VacancyStates"
                                     showcount="10"></checkboxing>
                    </ul>
                </div>


                <input type="submit" class="blue-btn-sm small-icon icon-sm-eye-wh" value="Применить" />


            </div>
        </div>

        <div class="b-search-result">
            <h4>@ViewBag.Title</h4>


            @Html.Raw(!string.IsNullOrWhiteSpace(Model.Search) ? "<div class='comment-italic'>" + string.Format("По запросу «{1}» с учетм фильтрации найдено {0} записей.", Model.Items.TotalItems, Model.Search) + "</div>" : "")

            @*<div class="comment-italic">
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Search) ? string.Format("По запросу «{1}» с учетом фильтрации найдено {0} записей.", Model.Items.TotalItems, Model.Search) : "&nbsp;")
                </div>*@


            @if (User.IsInRole(ConstTerms.RequireRoleResearcher))
            {
                if (Model.SubscriptionInfo == null || !Model.SubscriptionInfo.NewJustAdded)
                {
                    <text>
                    <div class="ctr-buttons" style="margin-top: 20px;">
                        <a class="green-btn middle-icon icon-ok open-popup" id="subscribe" rel="tooltip">Подписаться</a>

                        <div id="subscribe-popover" style="display: none;">
                            Задав поисковый запрос и выбрав необходимые критерии поиска в фильтре результатов, вы можете подписаться на данную конфигурацию запроса.
                            Это позволит в дальнейшем оперативно отслеживать необходимую информацию с учётом выбранных предпочтений. Ваши подписки отображаются в Личном Кабинете в соответствующей вкладке
                        </div>
                    </div>

                    <div class="window-popup middle" style="display:none;">
                        <span class="close-popup"></span>
                        <div class="title-popup">
                            <h4>Подписка на поисковый запрос</h4>
                        </div>
                        <div class="content-popup">
                            <p class="fs14 arial">Подписываясь на запрос, вы сможете быстро перейти к соответствующим результатам из Личного кабинета, а также будете получать электронные уведомления обо всех обновлениях по теме данного запроса</p>
                            <div class="form-line">
                                <input type="text" asp-for="NewSubscriptionTitle" style="width: 340px;" placeholder="Название запроса" />
                            </div>

                            @*<div class="form-line">
                                    <input type="text" style="width:340px;" placeholder="Ключевые слова" />
                                </div>*@

                            <div class="form-line mt25">
                                @{
                                    var isSheckedEmail = Model.NewSubscriptionNotifyByEmail ? "checked" : string.Empty;
                                }
                                <span class="checkbox @isSheckedEmail">
                                    <input type="checkbox" asp-for="NewSubscriptionNotifyByEmail" />
                                </span><label asp-for="NewSubscriptionNotifyByEmail">Получать уведомления по электронной почте</label>
                            </div>

                            <div class="ctr-buttons mt40">
                                <span class="green-btn middle-icon icon-arr-right">Подписаться<input type="submit" class="bt-default" onclick="javascript: return addNewSubscription(this);" value="" /></span>
                                <span class="blue-btn middle-icon icon-close" onclick="javqascript: return false;">Отмена</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-window" style="display: none;"></div>
                    </text>
                                    }
                                    if (Model.SubscriptionInfo != null && Model.SubscriptionInfo.NewJustAdded)
                                    {
                                        <div class="ctr-buttons b-buttons" style="margin-top: 20px;">
                                            <a asp-controller="researchers" asp-action="subscriptions" class="white-btn middle-icon icon-lgr-ok" id="subscribed" rel="tooltip" target="_blank">Подписка оформлена</a>
                                            <div id="subscribed-popover" style="display: none; text-align: center;">
                                                Поздравляем!<br />Вы добавили новую подписку «@Model.SubscriptionInfo.Title»
                                            </div>

                                            <a asp-controller="subscriptions" asp-action="delete" asp-route-id="@Model.SubscriptionInfo.NewGuid" onclick="javascript: return confirm('Вы уверены что хотите удалить текущую подписку?');" class="blue-btn middle-icon icon-close" rel="tooltip" title="">Отменить подписку</a>
                                        </div>
                                        }
                                    }



            <div class="sorting">
                <div class="inline-block w120">
                    <select asp-for="Period"
                            asp-items="ViewBag.FilterSource.Periods"></select>
                </div>
                <div class="inline-block w160">
                    <select asp-for="OrderBy"
                            asp-items="ViewBag.FilterSource.OrderBys"></select>
                </div>
                <span class="blue-btn-sm small-icon icon-sm-eye-wh">
                    Показать<input type="submit" class="bt-default" value="" />
                </span>
            </div>

            <div class="list-results">

                @if (Model.Items!=null && Model.Items.Items != null)
                {
                    var index = 0;
                    foreach (var item in Model.Items.Items)
                    {
                        <text>
                        <div>
                            <div class="index-number">@(Model.Items.FirstRowIndexOnPage + index).</div>
                            <div class="index-text">
                                <div class="title">
                                    <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Id" target="_blank">@item.Name</a>
                                </div>
                                <div class="inform">
                                    <p>
                                        <span class="status @item.Status.GetHtmlClass()">@item.Status.GetDescription()</span>
                                    </p>
                                    <p>Дата размещения: @(item.PublishDate?.ToLocalVacancyString())</p>
                                    <p>
                                        Регион: <span>@item.Region</span>
                                    </p>
                                    <p>Заработная плата: @item.SalaryFrom – @item.SalaryTo руб.</p>
                                    <p>
                                        Организация: <a asp-controller="organizations" asp-action="card" asp-route-id="@item.OrganizationGuid" target="_blank">@item.OrganizationName</a>
                                    </p>
                                    <p>
                                        Научные направления: <span>@item.ResearchDirection</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </text>
                        index++;
                    }
                }
            </div>
        </div>

    </div>


</form>


<div style="margin: 80px 0 20px 0;">
    <div pagedlist="Model.Items"
         request="Context.Request">
    </div>
</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>