@using System.Threading.Tasks
@using SciVacancies.WebApp
@using SciVacancies.WebApp.ViewModels
@model  SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

<div class="title-cat-inform">Специализация:</div>
<ul class="list-information">
    <li class="even">
        <span>Статус:</span>@Model.Status.GetDescription()
    </li>
    <li class="odd">
        <span>Должность:</span>@Model.Name
    </li>
    <li class="even">
        <span>Полное наименование:</span>@Model.FullName
    </li>
    <li class="odd">
        <span>Отрасль науки:</span>@Model.ResearchDirection
    </li>
    <li class="even">
        <span>Тематика исследований:</span>@Model.ResearchTheme
    </li>
</ul>

<div class="title-cat-inform">Задачи и критерии:</div>
<ul class="list-information">
    <li class="odd">
        <span>Задачи:</span>@Model.Tasks
    </li>
    <li class="even">
        <span>Критерии оценки:</span>
        <br />

        @foreach (CriteriaItemViewModel group in Model.CriteriasHierarchy.Where(c=>c.Items.Sum(d=>d.Count)>0))
        {
            <div class="">
                <span class="name-section">@(@group.Title) (@(@group.Items.Count(c=>c.Count>0)))</span>
                <div class="list-fields">

                    @foreach (CriteriaItemViewModel item in @group.Items.Where(c=>c.Count>0))
                    {
                        <div>
                            <div class="field">
                                &nbsp; &mdash; &nbsp;
                                @item.Title:
                                @item.Count шт.
                            </div>
                        </div>
                    }
                </div>

            </div>
        }


    </li>
</ul>

<div class="title-cat-inform">Условия:</div>
<ul class="list-information">
    <li class="odd">
        <span>Заработная плата:</span>@Model.SalaryFrom - @Model.SalaryTo рублей/месяц
    </li>
    <li class="even">
        <span>Стимулирующие выплаты:</span>@Model.Bonuses
    </li>
    <li class="odd">
        <span>Трудовой договор:</span>@Model.ContractType.GetDescription()
    </li>
    <li class="even">
        <span>Социальный пакет:</span>@(Model.SocialPackage ? "Да" : "Нет")
    </li>
    <li class="odd">
        <span>Найм жилья:</span>@(Model.Rent ? "Да" : "Нет")
    </li>
    <li class="even">
        <span>Компенсация проезда:</span>@(Model.TransportCompensation ? "Да" : "Нет")
    </li>
</ul>

<div class="title-cat-inform">Лицо для получения дополнительных справок:</div>
<ul class="list-information">
    <li class="odd">
        <span>Фамилия, имя, отчество:</span>@Model.ContactName
    </li>
    <li class="even">
        <span>E-mail:</span>@Model.ContactEmail
    </li>
    <li class="even">
        <span>Телефон:</span>@Model.ContactPhone
    </li>
</ul>