@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.ViewModels
@model VacancyApplicationDetailsViewModel


<div class="profile">
    @Component.Invoke("AvatarImage", Model.Researcher.ImageUrl)
    <div class="info info-view inline-block">
        <h4>@Model.Researcher.FullName</h4>
        <span class="int-name">@Model.Researcher.FullNameEng</span>
        <span class="block bold">Год рождения: @Model.Researcher.BirthDate.ToLocalVacancyDateString()</span>
        <span class="block"><span class="bold">Индивидуальный номер ученого:</span> <span class="lgc-ffa-i">00005444</span></span>
        <span class="block">
            <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                @if (Model.Researcher.Interests != null && Model.Researcher.Interests.Count() > 0)
                {
                    @:<div class="lgc-ffa-i">
                    foreach (var item in Model.Researcher.Interests)
                    {
                        <text>
                        @item.IntName (En: @item.IntNameEn);
                        </text>
                    }
                    @:</div>
                }
        </span>
        @*<span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>*@
    </div>
</div>
<div class="list-info">
    <div class="list-item">
        <div class="bold row-profile__title">Образование</div>
        @if (Model.Educations != null && Model.Educations.Count() > 0)
            {
                foreach (var item in Model.Educations)
                {
                <text>
                <div class="row-profile__data">Город: @item.city</div>
                <div class="row-profile__data">ВУЗ: @item.university_shortname</div>
                <div class="row-profile__data">Факультет: @item.faculty_shortname</div>
                <div class="row-profile__data">Год окончания: @(item.graduation_date)</div>
                
                @*<ul class="table-emulation">
                    <li>
                        <span class="w85 italic inline-block">Город</span> <span class="italic">@item.city</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.university_shortname</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.faculty_shortname</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.graduation_date)</span>
                    </li>
                </ul>*@
                <hr />
                </text>
            }
        }
        else
        {
            <text>
                <span class="row-profile__data">Нет данных</span>    
            </text>
        }


    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Награды</div>
            @if (Model.Rewards != null && Model.Rewards.Count() > 0)
            {
                @:<ol class="row-profile__data">
                    foreach (var item in Model.Rewards.OrderBy(c => c.year))
                    {
                    <text>
                        <li>(@item.year) @item.title @item.org</li>
                    </text>
                    }
                @:</ol>
            }
            else
            {
                <text>
                    <span class="row-profile__data">Нет данных</span>
                </text>
            }
                
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Членство в профессиональных сообществах</div>
        
        @if (Model.Memberships != null && Model.Memberships.Count() > 0)
        {
            @:<ol class="row-profile__data">
                foreach (var item in Model.Memberships)
                {
                <text>
                    <li>@item.org - @item.position с @item.year_from по @item.year_to</li>
                </text>
                }
            @:</ol>
        }
        else
        {
            <text>
                <span class="row-profile__data">Нет данных</span>
            </text>
        }
        
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Публикации</div>
            @if (Model.Publications != null && Model.Publications.Count() > 0)
            {
                @:<ol class="row-profile__data">
                foreach (var item in Model.Publications)
                {
                    <text>
                    <li>@item.name (авторы: @item.authors)</li>
                    </text>
                }
                @:</ol>

            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }

        @*<span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>*@
    </div>
    <div class="list-item">
        <span class="bold row-profile__title">Научная деятельность</span>
            @if (Model.ResearchActivity != null && Model.ResearchActivity.Count() > 0)
            {
                @:<span class="row-profile__data">
                    foreach (var item in Model.ResearchActivity)
                    {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                    }
                @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="list-item">
        <span class="bold row-profile__title">Преподавательская деятельность</span>
            @if (Model.TeachingActivity != null && Model.TeachingActivity.Count() > 0)
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.TeachingActivity)
                {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="list-item">
        <span class="bold row-profile__title">Прочая деятельность</span>
            @if (Model.OtherActivity != null && Model.OtherActivity.Count() > 0)
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.OtherActivity)
                {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Конференции</div>
        
            @if (Model.Conferences != null && Model.Conferences.Count() > 0)
            {
                @:<ol class="row-profile__data">
                foreach (var item in Model.Conferences)
                {
                    <text>
                    <li>@item.conference - доклад "@item.title" (год @item.year, тип @item.categoryType)</li>
                    </text>
                    }
                @:</ol>
            }
            else
            {
                <text>
                    <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Приложенные файлы</div>
            @if (Model.Attachments != null && Model.Attachments.Count() > 0)
            {
                @:<ol class="row-profile__data">
                    foreach (var item in Model.Attachments)
                    {
                    <text>
                        <li>
                            @item.name<br />
                            <span class="small-icon icon-sm-download"><a href="@(Model.FolderApplicationsAttachmentsUrl + item.url)">Скачать</a></span>
                        </li>
                    </text>
                    }
                @:</ol>
            }
            else
            {
                <text>
                    <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Сопроводительное письмо</div>
        @if (Model.CoveringLetter != null)
        {
            @:<span class="row-profile__data">
                @Model.CoveringLetter
            @:</span>
        }
        else
        {
            <text>
                <span class="row-profile__data">Нет данных</span>
            </text>
        }

    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.CommitteeReasolution)
        && (Model.Status == VacancyApplicationStatus.Won || Model.Status == VacancyApplicationStatus.Pretended) /*отображается только для победившей или претендеующей заявок*/
        )
    {
        <text>
        <div class="list-item">
            <div class="bold row-profile__title">Решение комиссии</div>
            <span class="row-profile__data">
                @Model.Vacancy.CommitteeReasolution
            </span>
        </div>
        </text>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.CancelReason))
    {
        <text>
        <div class="list-item">
            <div class="bold row-profile__title">Причина отмены вакансии</div>
            <span class="row-profile__data">
                @Model.Vacancy.CommitteeReasolution
            </span>
        </div>
        </text>
    }
</div>