@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp.ViewModels
@model VacancyApplicationDetailsViewModel

<div class="profile">
    @Component.Invoke("AvatarImage", Model.ImageUrl)
    <div class="info info-view inline-block">
        <h4>@Model.FullName</h4>
        <span class="int-name">@Model.FullNameEng</span>
        <span class="block bold">Год рождения: @Model.BirthDate.Year</span>
        <span class="block"><span class="bold">Индивидуальный номер ученого:</span> <span class="lgc-ffa-i">00005444</span></span>
        <span class="block">
            <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                @if (Model.Interests != null && Model.Interests.Any())
                {
                    @:<div class="lgc-ffa-i">
                    foreach (var item in Model.Interests)
                    {
                        <text>
                        @item.IntName (En: @item.IntNameEn);
                        </text>
                    }
                    @:</div>
                }
        </span>
        @*<span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>*@
    </div>
</div>
<div class="list-info">
    <div class="list-item">
        <div class="bold row-profile__title">Образование</div>
        @if (Model.Educations != null && Model.Educations.Any())
            {
                foreach (var item in Model.Educations)
                {
                <text>
                <div class="row-profile__data">Город: @item.City</div>
                <div class="row-profile__data">ВУЗ: @item.UniversityShortName</div>
                <div class="row-profile__data">Факультет: @item.FacultyShortName</div>
                <div class="row-profile__data">Год окончания: @(item.GraduationYear?.Year)</div>
                <hr />
                </text>
            }
        }
        else
        {
            @:<span class="row-profile__data">Нет данных</span>    
        }


    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Награды</div>
            @if (Model.Rewards != null && Model.Rewards.Any())
            {
                @:<ol class="row-profile__data">
                    foreach (var item in Model.Rewards.OrderBy(c => c.year))
                    {
                        @:<li>(@item.year) @item.title @item.org</li>
                    }
                @:</ol>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
                
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Членство в профессиональных сообществах</div>
        
        @if (Model.Memberships != null && Model.Memberships.Any())
        {
            @:<ol class="row-profile__data">
                foreach (var item in Model.Memberships)
                {
                    @:<li>@item.org - @item.position с @item.year_from по @item.year_to</li>
                }
            @:</ol>
        }
        else
        {
                @:<span class="row-profile__data">Нет данных</span>
        }
        
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Публикации</div>
            @if (Model.Publications != null && Model.Publications.Any())
            {
                @:<ol class="row-profile__data">
                foreach (var item in Model.Publications)
                {
                    <text>
                    <li>@item.Name (авторы: @item.Authors)</li>
                    </text>
                }
                @:</ol>

            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }

        @*<span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>*@
    </div>
    <div class="list-item">
        <span class="bold row-profile__title">Научная деятельность</span>
            @if (Model.ResearchActivity != null && Model.ResearchActivity.Any())
            {
                @:<span class="row-profile__data">
                    foreach (var item in Model.ResearchActivity)
                    {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                    }
                @:</span>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
    </div>

    <div class="list-item">
        <span class="bold row-profile__title">Преподавательская деятельность</span>
            @if (Model.TeachingActivity != null && Model.TeachingActivity.Any())
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.TeachingActivity)
                {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</span>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
    </div>

    <div class="list-item">
        <span class="bold row-profile__title">Прочая деятельность</span>
            @if (Model.OtherActivity != null && Model.OtherActivity.Any())
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.OtherActivity)
                {
                    <br />
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</span>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Конференции</div>
        
            @if (Model.Conferences != null && Model.Conferences.Any())
            {
                @:<ol class="row-profile__data">
                foreach (var item in Model.Conferences)
                {
                    <text>
                    <li>@item.conference - доклад "@item.title" (год @item.year, тип @item.categoryType)</li>
                    </text>
                    }
                @:</ol>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Приложенные файлы</div>
            @if (Model.Attachments != null && Model.Attachments.Any())
            {
                @:<ol class="row-profile__data">
                    foreach (var item in Model.Attachments)
                    {
                    <text>
                        <li>
                            @item.name<br />
                            <span class="small-icon icon-sm-download"><a filelink=@item.url pathtocatalog=@Model.FolderApplicationsAttachmentsUrl   href="@(Model.FolderApplicationsAttachmentsUrl + item.url)">Скачать</a></span>
                        </li>
                    </text>
                    }
                @:</ol>
            }
            else
            {
                @:<span class="row-profile__data">Нет данных</span>
            }
    </div>

    <div class="list-item">
        <div class="bold row-profile__title">Сопроводительное письмо</div>
        @if (Model.CoveringLetter != null)
        {
            @:<span class="row-profile__data">
                @Model.CoveringLetter
            @:</span>
        }
        else
        {
            @:<span class="row-profile__data">Нет данных</span>
        }

    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.CommitteeReasolution)
        && (Model.Status == VacancyApplicationStatus.Won || Model.Status == VacancyApplicationStatus.Pretended) /*отображается только для победившей или претендеующей заявок*/
        )
    {
        <text>
        <div class="list-item">
            <div class="bold row-profile__title">Решение комиссии</div>
            <span class="row-profile__data">
                @Model.Vacancy.CommitteeReasolution
            </span>
        </div>
        </text>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Vacancy.CancelReason))
    {
        <text>
        <div class="list-item">
            <div class="bold row-profile__title">Причина отмены вакансии</div>
            <span class="row-profile__data">
                @Model.Vacancy.CommitteeReasolution
            </span>
        </div>
        </text>
    }
</div>