@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.ViewModels
@model VacancyDetailsViewModel

@if (User.Identity.IsAuthenticated &&  !string.IsNullOrWhiteSpace(Model.CommitteeReasolution) || (Model.AttachmentsCommittee != null && Model.AttachmentsCommittee.Any()))
{
    <text>

    <div class="title-cat-inform">Решение комиссии:</div>
    <ul class="list-information layout-inform">

        <li class="odd">

            <div>
                @if (!string.IsNullOrWhiteSpace(Model.CommitteeReasolution))
                {
                    <text>
                    <div class="section-eval">
                        <span class="name-section">Решение комиссии:</span>
                        <div class="list-fields">
                            <div>
                                <div class="field">
                                    @Model.CommitteeReasolution
                                </div>
                            </div>
                        </div>
                    </div>
                    </text>
                }

                <br />

                @if (Model.AttachmentsCommittee != null && Model.AttachmentsCommittee.Any())
                {
                    <text>
                    <div class="section-eval">
                        <span class="name-section">Протокол(ы) решения комиссии:</span>
                        <div class="list-fields">
                            @foreach (var item in Model.AttachmentsCommittee)
                            {
                                <text>
                                <div>
                                    <div class="field">
                                        <div class="section-eval">
                                            @item.name <span class="small-icon icon-sm-download"><a filelink=@item.url pathtocatalog=@Model.FolderVacanciesAttachmentsUrl  href="@(Model.FolderVacanciesAttachmentsUrl + item.url)">Скачать</a></span>
                                        </div>
                                    </div>
                                </div>
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }

            </div>
        </li>
    </ul>
    </text>
}


<ul class="list-information layout-inform">
    <li class="odd">
        <span>Статус:</span><div class="layout-inform__right-col">@Model.Status.GetDescription(User)</div>
        @if (Model.Status == VacancyStatus.Published)
        {
            <text>
            <div>
                Дата окончания публикации вакансии: @(Model.InCommitteeStartDate?.ToLocalMoscowVacancyDateString())
            </div>
            </text>
        }
    </li>
</ul>


<div class="title-cat-inform">Специализация:</div>
<ul class="list-information layout-inform">
    <li class="even">
        <span>Должность:</span><div class="layout-inform__right-col">@Model.Name</div>
    </li>
    @*<li class="odd">
        <span>Полное наименование:</span><div class="layout-inform__right-col">@Model.FullName</div>
    </li>*@
    <li class="odd">
        <span>Отрасль науки:</span><div class="layout-inform__right-col">@(Model.ResearchDirection?.title)</div>
    </li>
    <li class="even">
        <span>Тематика исследований:</span><div class="layout-inform__right-col">@Model.ResearchTheme</div>
    </li>
</ul>

<div class="title-cat-inform">Задачи и критерии:</div>
<ul class="list-information layout-inform">
    <li class="odd">
        <span>Задачи:</span><div class="layout-inform__right-col">@Model.Tasks</div>
    </li>
    <li class="even">
        <span>Критерии оценки:</span>
        <div>
            @if (Model.CriteriasHierarchy != null)
            {
                foreach (CriteriaItemViewModel group in Model.CriteriasHierarchy.Where(c => c.Items.Sum(d => d.Count) > 0))
                {
                    <div class="section-eval">
                        <span class="name-section">@(@group.Title) (@(@group.Items.Count(c => c.Count > 0)))</span>
                        <div class="list-fields">

                            @foreach (CriteriaItemViewModel item in @group.Items.Where(c => c.Count > 0))
                    {
                                <div>
                                    <div class="field">
                                        &nbsp; &mdash; &nbsp;
                                        @item.Title:
                                        @item.Count шт.
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                }
            }
        </div>
    </li>
    @if (Model.CustomCriterias != null)
            {
        <li class="odd">
            <span>Квалифицированные требования:</span>
            <div>
                @foreach (var item in Model.CustomCriterias)
                {
                    <div class="field">
                        &nbsp; &mdash; &nbsp;
                        @item.Title:
                        @item.Count шт.
                    </div>
                }
            </div>
        </li>
    }
</ul>

<div class="title-cat-inform">Условия:</div>
<ul class="list-information layout-inform">
    <li class="odd">
        <span>Заработная плата:</span><div class="layout-inform__right-col">@Model.SalaryFrom - @Model.SalaryTo рублей/месяц</div>
    </li>
    <li class="even">
        <span>Стимулирующие выплаты:</span><div class="layout-inform__right-col">@Model.Bonuses</div>
    </li>
    <li class="odd">
        <span>Трудовой договор:</span><div class="layout-inform__right-col">@Model.ContractType.GetDescription()</div>
        @*@if (Model.ContractType == ContractType.FixedTerm)
            {
                @: - на период @Model.ContractTime.ToString("0.##") (годы и месяцы)
            }*@
    </li>
    <li class="even">
        <span>Социальный пакет:</span><div class="layout-inform__right-col">@(Model.SocialPackage ? "Да" : "Нет")</div>
    </li>
    <li class="odd">
        <span>Найм жилья:</span><div class="layout-inform__right-col">@(Model.Rent ? "Да" : "Нет")</div>
    </li>
    <li class="even">
        <span>Компенсация проезда:</span><div class="layout-inform__right-col">@(Model.TransportCompensation ? "Да" : "Нет")</div>
    </li>
    <li class="even">
        <span>Служебное жилье:</span><div class="layout-inform__right-col">@(Model.OfficeAccomodation ? "Да" : "Нет")</div>
    </li>
    <li class="odd">
        <span>Дополнительно:</span><div class="layout-inform__right-col">@Model.Details</div>
    </li>
</ul>

@if (Model.Attachments != null && Model.Attachments.Any())
{
    <text>
    <div class="title-cat-inform">Прикреплённые файлы:</div>
    <ul class="list-information layout-inform">
        <li class="even">
            <span>Файлы:</span>
            <div>
                @foreach (var item in Model.Attachments)
                {
                    <div class="section-eval">
                        @item.name <span class="small-icon icon-sm-download"><a filelink=@item.url pathtocatalog=@Model.FolderVacanciesAttachmentsUrl  href="@(Model.FolderVacanciesAttachmentsUrl + item.url)">Скачать</a></span>
                    </div>
                }
            </div>
        </li>
    </ul>
    </text>
}

<div class="title-cat-inform">Лицо для получения дополнительных справок:</div>
<ul class="list-information layout-inform">
    <li class="odd">
        <span>Фамилия, имя, отчество:</span><div class="layout-inform__right-col">@Model.ContactName</div>
    </li>
    <li class="even">
        <span>E-mail:</span><div class="layout-inform__right-col">@Model.ContactEmail</div>
    </li>
    <li class="odd">
        <span>Телефон:</span><div class="layout-inform__right-col">@Model.ContactPhone</div>
    </li>
    <li class="even">
        <span>Дополнительно:</span><div class="layout-inform__right-col">@Model.ContactDetails</div>
    </li>
</ul>
