@using System.Threading.Tasks
@using SciVacancies.WebApp.ViewModels
@model VacancyApplicationCreateViewModel

@{
    Model.Publications = Model.Publications ?? new List<PublicationEditViewModel>();
    Model.Publications.Insert(0, new PublicationEditViewModel());

    var invisibleItemStyle = "display: none;";
    string useStyle;
}


<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Новая заявка</h3>

<div asp-validation-summary="ValidationSummary.All"></div>

<form enctype="multipart/form-data">

    <input asp-for="ResearcherGuid" />
    <input asp-for="VacancyGuid" />

    <div class="l-application">
        <div class="row">
            <div class="bold row-title">Вакансия:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>ID вакансии:</label>
                    </div>
                    <div class="right-cell">
                        <input type="text" value="МНС6000567" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Должность:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="PositionName" disabled class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Контактная информация:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Фамилия, имя, отчество:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ResearcherFullName" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Email" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Добавить E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ExtraEmail" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Phone" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Добавить телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ExtraPhone" class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Образование:</div>
            <hr />
            @if (Model.Educations != null)
            {
                for (int index = 0; index < Model.Educations.Count; index++)
                {
                    <div class="table-form">
                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Город:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].City" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>ВУЗ:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].UniversityShortName" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Факультет:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].FacultyShortName" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Ученая степень:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].Degree" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Год окончания:</label>
                            </div>
                            <div class="right-cell">
                                <input type="text" asp-for="Educations[index].GraduationYear" class="disabled big-input" />
                                @*value="@(Model.Educations[index].GraduationYear.HasValue ? Model.Educations[index].GraduationYear.Value.ToString() : string.Empty)"*@
                            </div>
                        </div>
                        <hr />
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="bold row-title">Опыт работы:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Исследовательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="ResearchActivity" class="disabled"></textarea>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Преподавательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="TeachingActivity" class="disabled"></textarea>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Прочая деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="OtherActivity" class="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">
                Научная деятельность<br /> и достижения:
            </div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученая степень:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ScienceDegree" value="без степени" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученые звания:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ScienceRank" value="без звания" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Награды:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Rewards" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Публикации:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container" data-innercount="@(Model.Publications.Count-1)">
                            <ol class="content-list">
                                @for (var i = 0; i < Model.Publications.Count; i++)
                                {

                                    useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                    var item = Model.Publications[i];
                                    <text>
                                    <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                        <input type="hidden" asp-for="Publications[i].ResearcherGuid" />
                                        <input type="hidden" asp-for="Publications[i].Guid" />
                                        <input type="hidden" name="Publications.Index" value="@i" />
                                        @item.Title
                                    </li>
                                    </text>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="table-form">
                <div class="table-row">
                    <div class="left-cell">
                        <label>Приложенные файлы:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container" data-innercount="0">
                            <ul class="content-list">

                                <li style="@invisibleItemStyle" class="property-list-item" data-list-template="true">
                                    <input type="hidden" name="Attachments.Index"  value="0" />
                                    <input type="file" id="Attachments##0##" name="Attachments"/>
                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>

                                </li>
                            </ul>
                            <a onclick="return addNewItemToList(this, 'Attachments')" class="link-add lk-icon italic" href="#">Приложить файл</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ctr-buttons button-align mt26 mb5">
                <input type="submit" class="create-btn middle-icon" onclick=" return beforeFormSubmit(this);" value="Создать заявку" />
                <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">
                    <span class="blue-btn middle-icon icon-close">
                        Закрыть
                    </span>
                </a>
            </div>
        </div>
    </div>

</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>