@using System.Threading.Tasks
@using SciVacancies.WebApp.ViewModels
@model VacancyApplicationCreateViewModel

@{
    //используется для Добавления публикаций. Добавление пустого объекта, для создания по нему шаблона
    //Model.Publications = Model.Publications ?? new List<PublicationEditViewModel>();
    //Model.Publications.Insert(0, new PublicationEditViewModel());

    var invisibleItemStyle = "display: none;";
    string useStyle;
}


<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h4>Новая заявка</h4>

<div asp-validation-summary="ValidationSummary.All"></div>

<form enctype="multipart/form-data" method="post">

    <input asp-for="ResearcherGuid" />
    <input asp-for="VacancyGuid" />

    <div class="l-application b-app-rows">
        <div class="row">
            <div class="bold row-title">Вакансия:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>ID вакансии:</label>
                    </div>
                    <div class="right-cell">
                        @if (Model.ReadId == null)
                        {
                            <input type="text" value="VAC ..." disabled class="disabled big-input" />
                        }
                        else
                        {
                            <input type="text" value="@Model.ReadId" disabled class="disabled big-input" />
                        }
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Должность:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="PositionName" disabled class="disabled big-input" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Контактная информация:</div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Фамилия, имя, отчество:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ResearcherFullName" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Полное имя на англйиском:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ResearcherFullNameEng" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Год рождения:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="BirthDate" value="@Model.BirthDate.Year" disabled class="disabled small-input " />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>E-mail:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Email" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="Phone" disabled class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Дополнительный телефон:</label>
                    </div>
                    <div class="right-cell">
                        <input asp-for="ExtraPhone" class="disabled big-input" />
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Научные интересы:</label>
                    </div>
                    <div class="right-cell">
                        @if (!string.IsNullOrEmpty(Model.Interests) && Model.InterestsDeserialized != null)
                        {
                            foreach (var item in Model.InterestsDeserialized)
                            {
                                <text>
                                <input type="text" class="disabled big-input" value="@item.IntName" />
                                </text>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="bold row-title">Образование:</div>
            <hr />
            @if (Model.Educations != null)
            {
                for (int index = 0; index < Model.Educations.Count; index++)
                {
                    <div class="table-form">
                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Город:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].City" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>ВУЗ:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].UniversityShortName" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Факультет:</label>
                            </div>
                            <div class="right-cell">
                                <input asp-for="Educations[index].FacultyShortName" class="disabled big-input" />
                            </div>
                        </div>

                        <div class="table-row form-row">
                            <div class="left-cell">
                                <label>Год окончания:</label>
                            </div>
                            <div class="right-cell">
                                <input type="text" asp-for="Educations[index].GraduationYear" class="disabled big-input" />
                                @*value="@(Model.Educations[index].GraduationYear.HasValue ? Model.Educations[index].GraduationYear.Value.ToString() : string.Empty)"*@
                            </div>
                        </div>
                        <hr />
                    </div>
                }
            }
        </div>

        <div class="row">
            <div class="bold row-title">Опыт работы:</div>
            <div class="table-form">



                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Исследовательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.ResearchActivityDeserialized != null)
                                {
                                    foreach (var item in Model.ResearchActivityDeserialized)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Преподавательская деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.TeachingActivityDeserialized != null)
                                {
                                    foreach (var item in Model.TeachingActivityDeserialized)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Прочая деятельность:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.OtherActivityDeserialized!=null)
                                {
                                    foreach (var item in Model.OtherActivityDeserialized)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="bold row-title">
                Научная деятельность<br /> и достижения:
            </div>
            <div class="table-form">
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученая степень:</label>
                    </div>
                    <div class="right-cell">
                        @if (string.IsNullOrWhiteSpace(Model.ScienceDegree))
                        {
                            <input type="text" value="без степени" disabled="disabled" class="disabled big-input" />
                        }
                        else
                        {
                            <input asp-for="ScienceDegree" disabled="disabled" class="disabled big-input" />
                        }
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Ученые звания:</label>
                    </div>
                    <div class="right-cell">
                        @if (string.IsNullOrWhiteSpace(Model.ScienceRank))
                        {
                            <input type="text" value="без звания" disabled="disabled" class="disabled big-input" />
                        }
                        else
                        {
                            <input asp-for="ScienceRank" disabled="disabled" class="disabled big-input" />
                        }

                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Награды:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.RewardsDeserialized != null)
                                {
                                    foreach (var item in Model.RewardsDeserialized.OrderBy(c => c.year))
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            (@item.year) @item.title @item.org
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Членство в профессиональных сообществах:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.MembershipsDeserialized != null)
                                {
                                    foreach (var item in Model.MembershipsDeserialized)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            @item.org - @item.position с @item.year_from по @item.year_to
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Публикации:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.Publications != null)
                                {
                                    foreach (var item in Model.Publications)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            @item.Name (авторы: @item.Authors)
                                        </li>
                                        </text>
                                    }
                                }
                                @*@for (var i = 0; i < Model.Publications.Count; i++)
                                {
                                    useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                    var item = Model.Publications[i];
                                    <text>
                                    <li style="@useStyle" class="property-list-item">
                                        @item.Name (авторы: @item.Authors)
                                    </li>
                                    </text>
                                }*@
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Конференции, симпозиумы:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container">
                            <ol class="content-list">
                                @if (Model.ConferencesDeserialized != null)
                                {
                                    foreach (var item in Model.ConferencesDeserialized)
                                    {
                                        <text>
                                        <li class="property-list-item">
                                            @item.conference - доклад "@item.title" (год @item.year)
                                        </li>
                                        </text>
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="table-form">

                <div class="table-row">
                    <div class="left-cell">
                        <label>Приложенные файлы:</label>
                    </div>
                    <div class="right-cell">
                        <div class="property-list-container" data-innercount="0">
                            <ul class="content-list">

                                <li style="@invisibleItemStyle" class="property-list-item" data-list-template="true">
                                    <input type="hidden" name="Attachments.Index" value="0" />
                                    <input type="file" id="Attachments##0##" name="Attachments" />
                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>

                                </li>
                            </ul>
                            <a onclick="return addNewItemToList(this, 'Attachments')" class="link-add lk-icon italic" href="#">Приложить файл</a>
                        </div>
                    </div>
                </div>


                <div class="table-row form-row">
                    <div class="left-cell">
                        <label>Сопроводительное письмо:</label>
                    </div>
                    <div class="right-cell">
                        <textarea asp-for="CoveringLetter"></textarea>
                    </div>
                </div>

            </div>
        </div>

        <div class="row pt15">
            <div class="ctr-buttons button-align mt26 mb5">
                <span class="green-btn middle-icon icon-edit">Создать заявку<input type="submit" class="bt-default" onclick=" return beforeFormSubmit(this);" value="" /></span>
                <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">
                    <span class="blue-btn middle-icon icon-close">Закрыть</span>
                </a>
            </div>
        </div>
    </div>

</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>