@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

<h4>
    Заявка на вакансию <small><a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.FullName</a></small>
    от @Model.CreationDate.ToLocalVacancyDateString()
</h4>


<div class="content-slide">

    @Component.Invoke("VacancyApplicationInfo", Model)

    <div class="ctr-buttons">

        <br />

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromWinner)
        {
            if (Model.Status == VacancyApplicationStatus.Won && !Model.Vacancy.IsWinnerAccept.HasValue
                && Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-hasaccepted="true" class="btn btn-success">Принять предложение</a>
                <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-hasaccepted="false" class="btn btn-danger">Отказаться от предложения</a>
                </text>
            }
        }

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromPretender)
        {
            if (Model.Status == VacancyApplicationStatus.Pretended && !Model.Vacancy.IsPretenderAccept.HasValue
                && Model.Vacancy.IsWinnerAccept.HasValue
                && Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-hasaccepted="true" class="btn btn-success">Принять предложение</a>
                <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-hasaccepted="false" class="btn btn-danger">Отказаться от предложения</a>
                </text>
            }
        }

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromWinner
                     || Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromPretender
                     || Model.Vacancy.Status == VacancyStatus.OfferAcceptedByWinner
                     || Model.Vacancy.Status == VacancyStatus.OfferAcceptedByPretender
                     || Model.Vacancy.Status == VacancyStatus.OfferRejectedByWinner
                     || Model.Vacancy.Status == VacancyStatus.OfferRejectedByPretender
                     || Model.Vacancy.Status == VacancyStatus.Cancelled
                     || Model.Vacancy.Status == VacancyStatus.Closed)
        {
            if (Model.Vacancy.IsWinnerAccept.HasValue && Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsWinnerAccept.Value ? "alert-success" : "alert-danger")" style="padding: 15px;">
                    Вы @(Model.Vacancy.IsWinnerAccept.Value ? "приняли предложение" : "отказались от предложения") на <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">вакансию</a>.
                </div>
                </text>
            }
            if (Model.Vacancy.IsPretenderAccept.HasValue && Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsPretenderAccept.Value ? "alert-success" : "alert-danger")" style="padding: 15px;">
                    Вы @(Model.Vacancy.IsPretenderAccept.Value ? "приняли предложение" : "отказались от предложения") на <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">вакансию</a>.
                </div>
                </text>
            }


        }


    </div>

</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>