@using System.Threading.Tasks
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

<h4>@ViewBag.Title: заявка на ID МНС6000567 №001 от @Model.CreationDate.ToLocalVacancyDateString()</h4>

<h4> Вакансия: <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.FullName</a></h4>

<div class="content-slide">
    <div class="profile">
        <div class="photo inline-block">
            <img width="140" height="180" src="/images/user-photo.jpg" />
        </div>
        <div class="info info-view inline-block">
            <h4>@Model.Researcher.FullName</h4>
            <span class="int-name">@Model.Researcher.FirstNameEng</span>
            <span class="block bold">Год рождения: @Model.Researcher.BirthDate.Year.ToString("0000")</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
            @*<span class="block">
                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                    <span>
                        @if (Model.Researcher.!= null)
                        {
                            foreach (var item in Model.Researcher.Publications)
                            {
                                @item.Title
                            }
                        }
                    </span>
                </span>*@
            <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>

            @if (Model.Researcher.Educations != null)
            {
                foreach (var item in Model.Researcher.Educations)
                {
                    <text>
                    <ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.City</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.UniversityShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.FacultyShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.GraduationYear)</span>
                        </li>
                    </ul>
                    <hr />
                    </text>
                }
            }
        </div>

        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                @if (Model.Researcher.Publications != null)
                {
                    foreach (var item in Model.Researcher.Publications)
                    {
                        <li>@item.Title</li>
                    }
                }
            </ol>
            @*<span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>*@
        </div>

        <div class="list-item">
            <div class="bold">Исследовательская деятельность</div>
            <span aspfor="Researcher.ResearchActivity">
            </span>
        </div>


        <div class="list-item">
            <div class="bold">Преподавательская деятельность</div>
            <span aspfor="Researcher.TeachingActivity">
            </span>
        </div>


        <div class="list-item">
            <div class="bold">Прочая деятельность</div>
            <span aspfor="Researcher.OtherActivity">
            </span>
        </div>

        <div class="list-item">
            <div class="bold">Приложенные файлы</div>
            <ol>
                @foreach (var item in Model.Attachments)
                {
                    <text>
                    <li>
                        @item.name<br />
                        <span class="small-icon icon-sm-download"><a href="@(ConstTerms.FolderApplicationsAttachments + item.url)">Скачать</a></span>
                    </li>
                    </text>
                }
            </ol>
        </div>
    </div>


</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>