@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="applications">Мои заявки</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

<h4>
    Заявка на вакансию <small><a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.FullName</a></small>
    от @Model.CreationDate.ToLocalVacancyDateString()
</h4>
<p>Cтатус заявки "@Model.StatusDescription"</p>



<div class="content-slide">
    <div class="profile">
        @Component.Invoke("AvatarImage", Model.Researcher.ImageUrl)
        <div class="info info-view inline-block">
            <h4>@Model.Researcher.FullName</h4>
            <span class="int-name">@Model.Researcher.FirstNameEng</span>
            <span class="block bold">Год рождения: @Model.Researcher.BirthDate.Year.ToString("0000")</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> @Model.Researcher.ExtNumber</span>
            <span class="block">
                <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                <span>
                    @if (Model.Researcher.Interests != null)
                    {
                        foreach (var item in Model.Researcher.Interests)
                        {
                            <text>
                            @item.IntName (En: @item.IntNameEn);
                            </text>
                        }
                    }
                </span>
            </span>
            @*<span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>*@
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>

            @if (Model.Educations != null)
            {
                foreach (var item in Model.Educations)
                {
                    <text>
                    <ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.city</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.university_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.faculty_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.graduation_date)</span>
                        </li>
                    </ul>
                    <hr />
                    </text>
                }
            }
        </div>

        <div class="list-item">
            <div class="bold">Награды</div>
            <ol>
                @if (Model.Rewards != null)
                {
                    foreach (var item in Model.Rewards.OrderBy(c => c.year))
                    {
                        <text>
                        <li>(@item.year) @item.title @item.org</li>
                        </text>
                    }
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Членство в профессиональных сообществах</div>
            <ol>
                @if (Model.Memberships != null)
                {
                    foreach (var item in Model.Memberships)
                    {
                        <text>
                        <li>@item.org - @item.position с @item.year_from по @item.year_to</li>
                        </text>
                    }
                }
            </ol>
        </div>


        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                @if (Model.Publications != null)
                {
                    foreach (var item in Model.Publications)
                    {
                        <text>
                        <li>@item.name (авторы: @item.authors)</li>
                        </text>
                    }
                }
            </ol>
            @*<span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>*@
        </div>

        <div class="list-item">
            <div class="bold">Исследовательская деятельность</div>
            <span>@Model.ResearchActivity</span>
        </div>


        <div class="list-item">
            <div class="bold">Преподавательская деятельность</div>
            <span>@Model.TeachingActivity</span>
        </div>

        <div class="list-item">
            <div class="bold">Прочая деятельность</div>
            <span>@Model.OtherActivity</span>
        </div>

        <div class="list-item">
            <div class="bold">Приложенные файлы</div>
            <ol>
                @foreach (var item in Model.Attachments)
                {
                    <text>
                    <li>
                        @item.name<br />
                        <span class="small-icon icon-sm-download"><a href="@(Model.FolderApplicationsAttachmentsUrl + item.url)">Скачать</a></span>
                    </li>
                    </text>
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Сопроводительное письмо</div>
            <span>@Model.CoveringLetter</span>
        </div>

    </div>


    <div>

        <br />

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaiting)
        {
            if (Model.Status == VacancyApplicationStatus.Won && !Model.Vacancy.IsWinnerAccept.HasValue)
            {
                if (Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
                {
                    <text>
                    <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-hasaccepted="true" class="btn btn-success">Принять предложение</a>
                    <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-hasaccepted="false" class="btn btn-danger">Отказаться от предложения</a>
                    </text>
                }
            }
            if (Model.Status == VacancyApplicationStatus.Pretended && !Model.Vacancy.IsPretenderAccept.HasValue)
            {
                if (Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid
                    && Model.Vacancy.IsWinnerAccept.HasValue && !Model.Vacancy.IsWinnerAccept.Value)
                {
                    <text>
                    <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-hasaccepted="true" class="btn btn-success">Принять предложение</a>
                    <a asp-controller="applications" asp-action="offeracception" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-hasaccepted="false" class="btn btn-danger">Отказаться от предложения</a>
                    </text>
                }
            }
        }

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaiting
                        || Model.Vacancy.Status == VacancyStatus.OfferAccepted
                        || Model.Vacancy.Status == VacancyStatus.OfferRejected
                        || Model.Vacancy.Status == VacancyStatus.Cancelled
                        || Model.Vacancy.Status == VacancyStatus.Closed)
        {
            if (Model.Vacancy.IsWinnerAccept.HasValue && Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsWinnerAccept.Value ? "alert-success" :"alert-danger")" style="padding: 15px;">
                    Вы @(Model.Vacancy.IsWinnerAccept.Value ? "приняли предложение" : "отказались от предложения") на <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">вакансию</a>.
                </div>
                </text>
            }
            if (Model.Vacancy.IsPretenderAccept.HasValue && Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsPretenderAccept.Value ? "alert-success" :"alert-danger")" style="padding: 15px;">
                    Вы @(Model.Vacancy.IsPretenderAccept.Value ? "приняли предложение" : "отказались от предложения") на <a asp-controller="vacancies" asp-action="card" asp-route-id="@Model.VacancyGuid">вакансию</a>.
                </div>
                </text>
            }


        }


    </div>

</div>


<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
    <a asp-controller="researchers" asp-action="applications" class="small-icon icon-prev">Мои заявки</a>
</div>