@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Карточка организации</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.Name</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title: заявка на ID АБВ##000### №### от @(Model.SentDate?.ToLocalVacancyDateString()) </h3>

<div class="content-slide">

    @Component.Invoke("VacancyApplicationInfo", Model)

    <br />
    <div class="ctr-buttons">
        @{
            if (Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid)
            //заявка победителя
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Заявка Победителя
                </div>
                </text>
            }
            else if (Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
            //заявка претендента
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Заявка претендента
                </div>
                </text>
            }
            else if (Model.Vacancy.WinnerVacancyApplicationGuid != Guid.Empty && Model.Vacancy.PretenderVacancyApplicationGuid != Guid.Empty)
            //заявка проигравшего
            {

                <text>
                <div class="alert alert-danger" style="padding: 15px;">
                    Заявка находится не в финале конкурса
                </div>
                </text>
            }

            if (Model.Status == VacancyApplicationStatus.Applied && !(Model.Vacancy.Status == VacancyStatus.InProcess || Model.Vacancy.Status == VacancyStatus.Published))
            {
                if (Model.Vacancy.WinnerResearcherGuid == Guid.Empty)
                {
                    <text>
                    <a asp-controller="vacancies" asp-action="setwinner" asp-route-id="@Model.Guid" asp-route-iswinner="true" class="green-btn middle-icon">Выбрать победителем</a>
                    </text>
                }
                else if (Model.Vacancy.PretenderResearcherGuid == Guid.Empty)
                {
                    <text>
                    <a asp-controller="vacancies" asp-action="setwinner" asp-route-id="@Model.Guid" asp-route-iswinner="false" class="green-btn middle-icon">Выбрать претендентом</a>
                    </text>
                }
            }


            if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromWinner)
            //ожидается ответ от победителя
            {
                <text>
                <div class="alert alert-info" style="padding: 15px;">
                    Ожидается ответ от победителя
                </div>
                </text>
            }
            if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaitingFromPretender)
            //ожидается ответ от претендента
            {
                <text>
                <div class="alert alert-info" style="padding: 15px;">
                    Ожидается ответ от претендента
                </div>
                </text>
            }

            if (Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid || Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
            //открыта заявка победителя или претендента
            {
                if (Model.Vacancy.IsWinnerAccept.HasValue)
                //рассматриваем победителя, принявшего решение
                {
                    if (Model.Vacancy.Status == VacancyStatus.OfferAcceptedByWinner)
                    {
                        //статус вакансии - победитель принял предложение
                        //организация - может принять его согласие и закрыть вакансию
                        <text>
                        <div class="alert alert-success" style="padding: 15px;">
                            Победитель в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> принял предложение
                        </div>

                        <a asp-controller="vacancies" asp-action="close" asp-route-id="@Model.VacancyGuid" class="btn btn-success " title="Закрыть вакансию">Закрыть вакансию</a>

                        <br />
                        <br />
                        </text>
                    }

                    if (Model.Vacancy.Status == VacancyStatus.OfferRejectedByWinner)
                    {
                        //статус вакансии - победитель отказался от предложения
                        <text>
                        <div class="alert alert-danger" style="padding: 15px;">
                            Победитель в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> отказался от предложения
                        </div>
                        </text>
                    }

                    if (Model.Vacancy.PretenderVacancyApplicationGuid != Guid.Empty
                        && !Model.Vacancy.PretenderRequestDate.HasValue
                        && (Model.Vacancy.Status == VacancyStatus.OfferAcceptedByWinner || Model.Vacancy.Status == VacancyStatus.OfferRejectedByWinner))
                    {
                        //вне зависимости от решения победителя
                        //организация - может перепредложить вакансию претенденту
                        <text>
                        <div class="alert alert-warning" style="padding: 15px;">

                            @if (Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid)
                            //смотрим заявку Победителя
                            {
                                <text>
                                Предложить вакансию претенденту (<a asp-controller="applications" asp-action="preview" asp-route-id="@Model.Vacancy.PretenderVacancyApplicationGuid" title="заявка претендента">заявка претендента</a>)
                                </text>
                            }
                            else if (Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
                            //смотрим заявку Претендента
                            {
                                <text>
                                Предложить вакансию претенденту (<a asp-controller="applications" asp-action="preview" asp-route-id="@Model.Vacancy.WinnerVacancyApplicationGuid" title="заявка победителя">заявка победителя</a>)
                                </text>
                            }

                            <br />
                            <br />
                            <a asp-controller="vacancies" asp-action="reoffertopretender" asp-route-id="@Model.VacancyGuid" onclick="javascript: return confirm('Вы уверены что хотите предложить вакансию претенденту? В этом случае предложение победителю будет отозвано.');" class="btn btn-warning" title="Предложить вакансию претенденту">Предложить</a>
                        </div>
                        </text>
                    }


                }

                else if (Model.Vacancy.IsPretenderAccept.HasValue)
                //рассматриваем претендента, принявшего решение
                {

                    if (Model.Vacancy.Status == VacancyStatus.OfferAcceptedByPretender)
                    {
                        //статус вакансии - претендент принял предложение
                        //организация - может принять его согласие и закрыть вакансию
                        <text>
                        <div class="alert alert-success" style="padding: 15px;">
                            Претендент в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> принял предложение
                        </div>

                        <a asp-controller="vacancies" asp-action="close" asp-route-id="@Model.VacancyGuid" class="btn btn-success " title="Закрыть вакансию">Закрыть вакансию</a>

                        <br />
                        <br />
                        </text>
                    }

                    if (Model.Vacancy.Status == VacancyStatus.OfferRejectedByPretender)
                    {
                        //статус вакансии - претендент отказался от предложения
                        <text>
                        <div class="alert alert-danger" style="padding: 15px;">
                            Претендент в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> отказался от предложения
                        </div>
                        </text>
                    }

                }
            }

        }

        @if (Model.Vacancy.Status != VacancyStatus.InProcess
            && Model.Vacancy.Status != VacancyStatus.Closed
            && Model.Vacancy.Status != VacancyStatus.Cancelled
            && Model.Vacancy.Status != VacancyStatus.Removed
            && Model.Vacancy.Status != VacancyStatus.Published
            && Model.Vacancy.Status != VacancyStatus.InCommittee
            && Model.Vacancy.Status != VacancyStatus.OfferResponseAwaitingFromWinner
            && Model.Vacancy.Status != VacancyStatus.OfferResponseAwaitingFromPretender)
        {
            <a asp-controller="vacancies" asp-action="cancel" asp-route-id="@Model.VacancyGuid" onclick="javascript: return confirm('Вы уверены что хотите отменить вакансию?');" class="btn btn-danger" title="Отменить вакансию">Отменить вакансию</a>
        }

    </div>







</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">Карточка организации</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid" class="small-icon icon-prev">@Model.Vacancy.Name</a>
</div>