@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Карточка организации</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.Name</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title: заявка на ID МНС6000567 №001 от @(Model.SentDate?.ToLocalVacancyDateString()) </h3>

<div class="content-slide">
    <div class="profile">
        <div class="photo inline-block" style="max-width: 140px; max-height: 180px;">
            <img src="@Model.Researcher.ImageUrlOrDefault" style="max-width: 138px; max-height: 178px;" />
        </div>
        <div class="info info-view inline-block">
            <h4>@Model.Researcher.FullName</h4>
            <span class="int-name">@Model.Researcher.FullNameEng</span>
            <span class="block bold">Год рождения: @Model.Researcher.BirthDate.ToLocalVacancyDateString()</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
            @*<span class="block">
                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                    <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
                </span>
                <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>*@
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>
            @if (Model.Educations != null)
            {
                foreach (var item in Model.Educations)
                {
                    <text>
                    <ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.city</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.university_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.faculty_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.graduation_date)</span>
                        </li>
                    </ul>
                    <hr />
                    </text>
                }
            }


        </div>
        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                @if (Model.Publications != null)
                {
                    foreach (var item in Model.Publications)
                    {
                        <text>
                        <li>@item.title</li>
                        </text>
                    }
                }
            </ol>
            @*<span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>*@
        </div>

        <div class="list-item">
            <div class="bold">Исследовательская деятельность</div>
            <span>@Model.ResearchActivity</span>
        </div>


        <div class="list-item">
            <div class="bold">Преподавательская деятельность</div>
            <span>@Model.TeachingActivity</span>
        </div>


        <div class="list-item">
            <div class="bold">Прочая деятельность</div>
            <span>@Model.OtherActivity</span>
        </div>

        <div class="list-item">
            <div class="bold">Приложенные файлы</div>
            <ol>
                @foreach (var item in Model.Attachments)
                {
                    <text>
                    <li>
                        @item.name<br />
                        <span class="small-icon icon-sm-download"><a href="@(ConstTerms.FolderApplicationsAttachmentsUrl + item.url)">Скачать</a></span>
                    </li>
                    </text>
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Сопроводительное письмо</div>
            <span>@Model.CoveringLetter</span>
        </div>

    </div>

    <br />
    <div class="ctr-buttons">
        @if (Model.Status == VacancyApplicationStatus.Applied && !(Model.Vacancy.Status == VacancyStatus.InProcess || Model.Vacancy.Status == VacancyStatus.Published))
        {

            if (Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Победитель в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a>
                </div>
                </text>
            }

            else
            {

                if (Model.Vacancy.WinnerResearcherGuid == Guid.Empty)
                {
                    <text>
                    <a asp-controller="applications" asp-action="setwinner" asp-route-id="@Model.Guid" asp-route-iswinner="true" class="green-btn middle-icon">Выбрать победителем</a>
                    </text>
                }
                else
                {

                    if (Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid)
                    {
                        <text>
                        <div class="alert alert-success" style="padding: 15px;">
                            Претендент на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a>
                        </div>
                        </text>
                    }
                    else
                    {
                        if (Model.Vacancy.PretenderResearcherGuid == Guid.Empty)
                        {

                            <text>
                            <a asp-controller="applications" asp-action="setwinner" asp-route-id="@Model.Guid" asp-route-iswinner="false" class="green-btn middle-icon">Выбрать претендентом</a>
                            </text>
                        }
                    }
                }
            }

        }

        @if (Model.Vacancy.Status == VacancyStatus.OfferResponseAwaiting
                           || Model.Vacancy.Status == VacancyStatus.OfferAccepted
                           || Model.Vacancy.Status == VacancyStatus.OfferRejected
                           || Model.Vacancy.Status == VacancyStatus.Cancelled
                           || Model.Vacancy.Status == VacancyStatus.Closed)
        {
            if (Model.Vacancy.IsWinnerAccept.HasValue && Model.Guid == Model.Vacancy.WinnerVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsWinnerAccept.Value ? "alert-success" : "alert-danger")" style="padding: 15px;">
                    Победитель в конкурсе на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> @(Model.Vacancy.IsWinnerAccept.Value ? "принял предложение" : "отказался от предложения")
                </div>
                </text>
            }
            else if (Model.Vacancy.IsPretenderAccept.HasValue && Model.Guid == Model.Vacancy.PretenderVacancyApplicationGuid)
            {
                <text>
                <div class="alert @(Model.Vacancy.IsPretenderAccept.Value ? "alert-success" : "alert-danger")" style="padding: 15px;">
                    Претендент на <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">вакансию</a> @(Model.Vacancy.IsPretenderAccept.Value ? "принял предложение" : "отказался от предложения")
                </div>
                </text>
            }
        }

    </div>



</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">Карточка организации</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid" class="small-icon icon-prev">@Model.Vacancy.Name</a>
</div>