@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

@{
    Layout = "_LayoutPrint";
}

<h3>@ViewBag.Title: заявка на ID АБВ##000### №### от @(Model.SentDate?.ToLocalVacancyDateString()) </h3>

<div class="content-slide">
    <div class="profile">
        @Component.Invoke("AvatarImage", Model.Researcher.ImageUrl)
        <div class="info info-view inline-block">
            <h4>@Model.Researcher.FullName</h4>
            <span class="int-name">@Model.Researcher.FullNameEng</span>
            <span class="block bold">Год рождения: @Model.Researcher.BirthDate.ToLocalVacancyDateString()</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
            @*<span class="block">
                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                    <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
                </span>*@
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>
            @if (Model.Educations != null)
            {
                foreach (var item in Model.Educations)
                {
                    <text>
                    <ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.city</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.university_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.faculty_shortname</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.graduation_date)</span>
                        </li>
                    </ul>
                    <hr />
                    </text>
                }
            }
        </div>

        <div class="list-item">
            <div class="bold">Награды</div>
            <ol>
                @if (Model.Rewards != null)
                {
                    foreach (var item in Model.Rewards.OrderBy(c => c.year))
                    {
                        <text>
                        <li>(@item.year) @item.title @item.org</li>
                        </text>
                    }
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Членство в профессиональных сообществах</div>
            <ol>
                @if (Model.Memberships != null)
                {
                    foreach (var item in Model.Memberships)
                    {
                        <text>
                        <li>@item.org - @item.position с @item.year_from по @item.year_to</li>
                        </text>
                    }
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                @if (Model.Publications != null)
                {
                    foreach (var item in Model.Publications)
                    {
                        <text>
                        <li>@item.name</li>
                        </text>
                    }
                }
            </ol>
        </div>
        <div class="list-item">
            <span class="bold">Научная деятельность</span>
            <span class="">
                @if (Model.ResearchActivity != null)
            {
                foreach (var item in Model.ResearchActivity)
                {
                        <br />
                        <span>
                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                        </span>
                    }
                }
            </span>
        </div>

        <div class="list-item">
            <span class="bold">Преподавательская деятельность</span>
            <span class="">
                @if (Model.TeachingActivity != null)
            {
                foreach (var item in Model.TeachingActivity)
                {
                        <br />
                        <span>
                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                        </span>
                    }
                }
            </span>
        </div>

        <div class="list-item">
            <span class="bold">Прочая деятельность</span>
            <span class="">
                @if (Model.OtherActivity != null)
            {
                foreach (var item in Model.OtherActivity)
                {
                        <br />
                        <span>
                            Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                        </span>
                    }
                }
            </span>
        </div>

        <div class="list-item">
            <div class="bold">Конференции</div>
            <ol>
                @if (Model.Conferences != null)
                {
                    foreach (var item in Model.Conferences)
                    {
                        <text>
                        <li>@item.conference - доклад "@item.title" (год @item.year, тип @item.categoryType)</li>
                        </text>
                    }
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Приложенные файлы</div>
            <ol>
                @foreach (var item in Model.Attachments)
                {
                    <text>
                    <li>
                        @item.name<br />
                        <span class="small-icon icon-sm-download"><a href="@(Model.FolderApplicationsAttachmentsUrl + item.url)">Скачать</a></span>
                    </li>
                    </text>
                }
            </ol>
        </div>

        <div class="list-item">
            <div class="bold">Сопроводительное письмо</div>
            <span>@Model.CoveringLetter</span>
        </div>

    </div>

    <br />
    <div class="ctr-buttons">
        @if (Model.Status == VacancyApplicationStatus.Applied && !(Model.Vacancy.Status == VacancyStatus.InCommittee || Model.Vacancy.Status == VacancyStatus.Published))
        {

            if (Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Победитель в конкурсе на "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                </div>
                </text>
            }
            else
            {
                if (Model.Vacancy.WinnerResearcherGuid != Guid.Empty && Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid)
                {

                    <text>
                    <div class="alert alert-success" style="padding: 15px;">
                        Претендент на вакансию "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                    </div>
                    </text>
                }
            }
        }
    </div>



</div>
