@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

@{
    Layout = "_LayoutPrint";
}

<h3>@ViewBag.Title: заявка на ID МНС6000567 №001 от @(Model.SentDate?.ToLocalVacancyDateString()) </h3>

<div class="content-slide">
    <div class="profile">
        <div class="photo inline-block">
            <img width="140" height="180" src="/images/user-photo.jpg" />
        </div>
        <div class="info info-view inline-block">
            <h4>@Model.Researcher.FullName</h4>
            <span class="int-name">@Model.Researcher.FullNameEng</span>
            <span class="block bold">Год рождения: @Model.Researcher.BirthDate.ToLocalVacancyDateString()</span>
            <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
            @*<span class="block">
                <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
            </span>
            <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>*@
        </div>
    </div>
    <div class="list-info">
        <div class="list-item">
            <div class="bold">Образование</div>
            @if (Model.Researcher.Educations != null)
            {
                foreach (var item in Model.Researcher.Educations)
                {
                    <text>
                    <ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.City</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.UniversityShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.FacultyShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.GraduationYear)</span>
                        </li>
                    </ul>
                    </text>
                }
            }
        </div>
        <div class="list-item">
            <div class="bold">Публикации</div>
            <ol>
                @if (Model.Researcher.Publications != null)
                {
                    foreach (var item in Model.Researcher.Publications)
                    {
                        <li>@item.Title</li>
                    }
                }
            </ol>
            <span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>
        </div>

        <div class="list-item">
            <div class="bold">Исследовательская деятельность</div>
            <span aspfor="Researcher.ResearchActivity">
            </span>
        </div>


        <div class="list-item">
            <div class="bold">Преподавательская деятельность</div>
            <span aspfor="Researcher.TeachingActivity">
            </span>
        </div>


        <div class="list-item">
            <div class="bold">Прочая деятельность</div>
            <span aspfor="Researcher.OtherActivity">
            </span>
        </div>

    </div>

    <br />
    <div class="ctr-buttons">
        @if (Model.Status == VacancyApplicationStatus.Applied && !(Model.Vacancy.Status == VacancyStatus.InCommittee || Model.Vacancy.Status == VacancyStatus.Published))
        {

            if (Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Победитель в конкурсе на "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                </div>
                </text>
            }
            else
            {
                if (Model.Vacancy.WinnerResearcherGuid != Guid.Empty && Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid)
                {

                    <text>
                    <div class="alert alert-success" style="padding: 15px;">
                        Претендент на вакансию "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                    </div>
                    </text>
                }
            }
        }
    </div>



</div>
