@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyApplicationDetailsViewModel

@{
    Layout = "_LayoutPrint";
}

<h3>@ViewBag.Title: заявка на ID АБВ##000### №### от @(Model.SentDate?.ToLocalVacancyDateString()) </h3>

<div class="content-slide">

    @Component.Invoke("VacancyApplicationInfo", Model)

    <br />
    <div class="ctr-buttons">
        @if (Model.Status == VacancyApplicationStatus.Applied && !(Model.Vacancy.Status == VacancyStatus.InCommittee || Model.Vacancy.Status == VacancyStatus.Published))
        {

            if (Model.Vacancy.WinnerResearcherGuid == Model.ResearcherGuid)
            {
                <text>
                <div class="alert alert-success" style="padding: 15px;">
                    Победитель в конкурсе на "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                </div>
                </text>
            }
            else
            {
                if (Model.Vacancy.WinnerResearcherGuid != Guid.Empty && Model.Vacancy.PretenderResearcherGuid == Model.ResearcherGuid)
                {

                    <text>
                    <div class="alert alert-success" style="padding: 15px;">
                        Претендент на вакансию "@Model.Vacancy.FullName" (@Model.VacancyGuid)
                    </div>
                    </text>
                }
            }
        }
    </div>



</div>
