@using System
@using System.Threading.Tasks
@using SciVacancies.WebApp.ViewModels
@model VacancyApplicationSetWinnerViewModel
@{
    if (Model.Vacancy.WinnerGuid != Guid.Empty || Model.Vacancy.PretenderGuid != Guid.Empty)
    {
        Model.IsWinner = Model.Vacancy.PretenderGuid != Guid.Empty;
    }
}

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">@Model.Vacancy.OrganizationName</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.Name</a><span class="separator">/</span>
    <a asp-controller="applications" asp-action="preview" asp-route-id="@Model.Guid">@Model.FullName</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Выбор победителем </h3>

<div>
    заявки: <a asp-controller="applications" asp-action="preview" asp-route-id="@Model.Guid">@Model.FullName</a>
</div>
<div>
    для вакансии: <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid">@Model.Vacancy.FullName</a>
</div>

<div class="content-slide">

    <form class="table-form" asp-controller="applications" asp-action="setwinner">

        <input type="hidden" asp-anti-forgery="true" />
        <input type="hidden" asp-for="Guid" />
        <input type="hidden" asp-for="VacancyGuid" />
        <input type="hidden" asp-for="ResearcherGuid" />

        <div class="table-row">
            <div class="left-cell">
                <label>Решение по заявке:</label>
            </div>
            <div class="right-cell">
                <ul class="radio-list">
                    @if (Model.Vacancy.WinnerGuid == Guid.Empty)
                    {
                        <li>
                            <span class="radio @(Model.IsWinner ? "checked" : string.Empty)">
                                <input asp-for="IsWinner" id="winner1" value="true" />
                            </span><label for="winner1">Первое место</label>
                        </li>
                    }
                    @if (Model.Vacancy.PretenderGuid == Guid.Empty)
                    {
                        <li>
                            <span class="radio @(!Model.IsWinner ? "checked" : string.Empty)">
                                <input asp-for="IsWinner" id="winner2" value="false" />
                            </span><label for="winner2">Второе место</label>
                        </li>
                    }

                </ul>
            </div>
        </div>

        <div class="table-row form-row mt18">
            <div class="left-cell">
                <label>Обоснование:</label>
            </div>
            <div class="right-cell">
                <textarea asp-for="Reason"></textarea>
            </div>
        </div>

        <div class="table-row form-row mt14">
            <div class="left-cell">
                <label>Приложенные файлы:</label>
            </div>
            <div class="right-cell">
                <ul class="content-list">
                    <li>
                        Протокол №6000567.pdf
                        <div class="buttons">
                            <span class="big-link-remove"></span>
                        </div>
                    </li>
                </ul>
                <span class="small-icon link-add">Приложить файл</span>
            </div>
        </div>

        <br />

        <div class="ctr-buttons button-align">
            <input type="submit" class="green-btn middle-icon" value="Подвтердить" />
        </div>

    </form>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">@Model.Vacancy.OrganizationName</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.VacancyGuid" class="small-icon icon-prev">@Model.Vacancy.Name</a>
    <a asp-controller="applications" asp-action="preview" asp-route-id="@Model.Guid" class="small-icon icon-prev">@Model.FullName</a>
</div>