@using System.Threading.Tasks
@using SciVacancies.WebApp.Models
@using SciVacancies.WebApp.ViewModels
@model IndexViewModel
@{
    var data = new VacanciesFilterSource(Model.CurrentMediator).ResearchDirections;
}

@if (data != null)
{
    for (var i = 0; i < data[0].Childs.Count; i++)
    {
        var child = data[0].Childs[i];
        <text>
        <div class="item-category panel panel-default">
            <div class="item-category__title panel-heading" role="tab" id="heading_@child.Id">
                <a class="item-category__title-elem" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@child.Id" aria-expanded="false" aria-controls="collapse_@child.Id"
                   onclick="getResearchDirectionsStatistics(@child.Id);">
                    @child.Title
                </a>
            </div>

            <div id="collapse_@child.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@child.Id">
                    <div class="item-category__search">
                        <input type="text" class="item-category__input" placeholder="Поиск по научным направлениям" />
                        @*<div class="search-comment-italic">В данной категории – #### вакансий</div>*@
                    </div>

                    <ul class="tabs item-category__tabs jshelper-parent-of-tabs">
                        @for (var j = 0; j < child.Childs.Count; j++)
                    {
                        var innerItem = child.Childs[j];
                            <text>
                            <li class="@(j == 0 ? "active" : string.Empty) jshelper-sub-research-directions" data-tabname="jshelper-list-sections-science_@innerItem.Id">
                                <span>@innerItem.Title</span>
                            </li>
                            </text>
                        }
                    </ul>


                    @for (var j = 0; j < child.Childs.Count; j++)
                    {
                        var innerItem = child.Childs[j];
                        <text>
                        <div class="b-directions jshelper-list-sections-science" id="jshelper-list-sections-science_@innerItem.Id" @(j != 0 ? @"style=display:none;" : string.Empty)>
                            @{
                                //TODO - костыль, чтобы в левой колонке было столько же или на одну больше категорий, чем в правой
                                int innerItemsLength = innerItem.Childs.Count;
                                int leftColLength = 0;
                                if (innerItemsLength % 2 != 0)
                                {
                                    leftColLength = innerItemsLength / 2 + 1;
                                }
                                else
                                {
                                    leftColLength = innerItemsLength / 2;

                                }
                            }
                            <div class="item-col-2">
                                @foreach (var innerInnerItem in innerItem.Childs.OrderBy(c => c.Title).Take(leftColLength))
                                {
                                    <text>
                                    <div class="item-direction" data-researchdirectionid="@innerInnerItem.Id">
                                        <a asp-controller="search" asp-action="index" asp-route-researchdirections="@innerInnerItem.Id" class="item-direction__title">
                                            @innerInnerItem.Title
                                        </a>
                                        <div class="item-direction__desc">
                                            <div>
                                                <span class="totalvacancies"></span> вакансий
                                            </div>
                                            Средняя заработная плата – <span class="averagesalaries"></span> руб.
                                        </div>
                                    </div>
                                    </text>
                                }
                            </div>
                            <div class="item-col-2">
                                @foreach (var innerInnerItem in innerItem.Childs.OrderBy(c => c.Title).Skip(leftColLength))
                                {
                                    <text>
                                    <div class="item-direction" data-researchdirectionid="@innerInnerItem.Id">
                                        <a asp-controller="search" asp-action="index" asp-route-researchdirections="@innerInnerItem.Id" class="item-direction__title">
                                            @innerInnerItem.Title
                                        </a>
                                        <div class="item-direction__desc">
                                            <div>
                                                <span class="totalvacancies"></span> вакансий
                                            </div>
                                            Средняя заработная плата – <span class="averagesalaries"></span> руб.
                                        </div>
                                    </div>
                                    </text>
                                }
                            </div>
                        </div>
                        </text>
                                }
            </div>
        </div>
        </text>
                                    }
                                }