@using System.Threading.Tasks
@using SciVacancies.WebApp.ViewModels
@model ResearcherProfileCompareModel

<h3>@ViewBag.Title</h3>

@{
    int countLeft, countRight, count;
}

<span style="color: red;">в разработке</span>
<br />
<br />

<p>
    Выберите данные, которые вы нужно загрузить с портала Карта Науки, и заменить в текущем профиле на Портале Вакансий.
</p>

@if (Model.HasError)
{
    <p class="text-danger" style="padding: 15px; font-size: larger;">
        @Model.Error
    </p>
}
else
{
    <text>

    <form method="POST">

        <div class="row-block-item">

            <div class="row-item">

                <div class="row-item-label">
                </div>

                <div class="row-item-data">
                    <h3>Карта наук</h3>
                </div>

                <div class="row-item-data">
                    <h3>Текущий профиль</h3>
                </div>

            </div>
        </div>


        <div class="row-block-item">

            <div class="row-item">

                <div class="row-item-label">
                    <span class="checkbox"><input type="checkbox" asp-for="New.SelectCommon" /></span>
                    <label asp-for="New.SelectCommon">
                        Общая информация (Выбрать блок)
                    </label>
                </div>

                <div class="row-item-data">
                </div>

                <div class="row-item-data">
                </div>

            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Имя
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.FirstName" />
                    <input asp-for="New.FirstName" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.FirstName" class="disabled" disabled="disabled" />
                </div>
            </div>


            <div class="row-item">
                <div class="row-item-label">
                    Отчество
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.MiddleName" />
                    <input asp-for="New.MiddleName" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.MiddleName" class="disabled" disabled="disabled" />
                </div>
            </div>


            <div class="row-item">
                <div class="row-item-label">
                    Фамилия
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.LastName" />
                    <input asp-for="New.LastName" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.LastName" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Предыдущая фамилия
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.PreviousLastName" />
                    <input asp-for="New.PreviousLastName" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.PreviousLastName" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Имя (англ.)
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.FirstNameEng" />
                    <input asp-for="New.FirstNameEng" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.FirstNameEng" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Отчество (англ.)
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.MiddleNameEng" />
                    <input asp-for="New.MiddleNameEng" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.MiddleNameEng" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Фамилия (англ.)
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.LastNameEng" />
                    <input asp-for="New.LastNameEng" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.LastNameEng" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Предыдущая фамилия (англ.)
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.PreviousLastNameEng" />
                    <input asp-for="New.PreviousLastNameEng" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.PreviousLastNameEng" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Номер учёного
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.ExtNumber" />
                    <input asp-for="New.ExtNumber" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.ExtNumber" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Год рождения
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.BirthYear" />
                    <input asp-for="New.BirthYear" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.BirthYear" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Электронная почта
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.Email" />
                    <input asp-for="New.Email" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.Email" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Номер телефона
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.Phone" />
                    <input asp-for="New.Phone" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.Phone" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Ученая степень
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.ScienceDegree" />
                    <input asp-for="New.ScienceDegree" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.ScienceDegree" class="disabled" disabled="disabled" />
                </div>
            </div>

            <div class="row-item">
                <div class="row-item-label">
                    Ученые звания
                </div>
                <div class="row-item-data">
                    <input type="hidden" asp-for="New.ScienceRank" />
                    <input asp-for="New.ScienceRank" class="disabled" disabled="disabled" />
                </div>
                <div class="row-item-data">
                    <input asp-for="Original.ScienceRank" class="disabled" disabled="disabled" />
                </div>
            </div>


        </div>


        @if ((Model.New.ResearchActivity != null && Model.New.ResearchActivity.Any()) || (Model.Original.ResearchActivity != null && Model.Original.ResearchActivity.Any()))
        {
            countLeft = (Model.New.ResearchActivity != null && Model.New.ResearchActivity.Any()) ? Model.New.ResearchActivity.Count : 0;
            countRight = (Model.Original.ResearchActivity != null && Model.Original.ResearchActivity.Any()) ? Model.Original.ResearchActivity.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.ResearchActivityChecked" /></span>
                        <label asp-for="New.ResearchActivityChecked">
                            Исследовательская деятельность (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                    {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Организация
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.ResearchActivity.Index" value="@i" />
                                <input type="hidden" asp-for="New.ResearchActivity[i].organization" />
                                <input type="hidden" asp-for="New.ResearchActivity[i].position" />
                                <input type="hidden" asp-for="New.ResearchActivity[i].title" />
                                <input type="hidden" asp-for="New.ResearchActivity[i].yearFrom" />
                                <input type="hidden" asp-for="New.ResearchActivity[i].yearTo" />
                                <input asp-for="New.ResearchActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.ResearchActivity.Index" value="@i" />
                                <input asp-for="Original.ResearchActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Должность
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.ResearchActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.ResearchActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Название
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.ResearchActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.ResearchActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год от
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.ResearchActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.ResearchActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год по
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.ResearchActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.ResearchActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.TeachingActivity != null && Model.New.TeachingActivity.Any()) || (Model.Original.TeachingActivity != null && Model.Original.TeachingActivity.Any()))
        {
            countLeft = (Model.New.TeachingActivity != null && Model.New.TeachingActivity.Any()) ? Model.New.TeachingActivity.Count : 0;
            countRight = (Model.Original.TeachingActivity != null && Model.Original.TeachingActivity.Any()) ? Model.Original.TeachingActivity.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">

                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.TeachingActivityChecked" /></span>
                        <label asp-for="New.TeachingActivityChecked">
                            Преподавательская деятельность (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Организация
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.TeachingActivity.Index" value="@i" />
                                <input type="hidden" asp-for="New.TeachingActivity[i].organization" />
                                <input type="hidden" asp-for="New.TeachingActivity[i].position" />
                                <input type="hidden" asp-for="New.TeachingActivity[i].title" />
                                <input type="hidden" asp-for="New.TeachingActivity[i].yearFrom" />
                                <input type="hidden" asp-for="New.TeachingActivity[i].yearTo" />
                                <input asp-for="New.TeachingActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.TeachingActivity.Index" value="@i" />
                                <input asp-for="Original.TeachingActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Должность
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.TeachingActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.TeachingActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Название
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.TeachingActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.TeachingActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год от
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.TeachingActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.TeachingActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год по
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.TeachingActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.TeachingActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.OtherActivity != null && Model.New.OtherActivity.Any()) || (Model.Original.OtherActivity != null && Model.Original.OtherActivity.Any()))
        {
            countLeft = (Model.New.OtherActivity != null && Model.New.OtherActivity.Any()) ? Model.New.OtherActivity.Count : 0;
            countRight = (Model.Original.OtherActivity != null && Model.Original.OtherActivity.Any()) ? Model.Original.OtherActivity.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.OtherActivityChecked" /></span>
                        <label asp-for="New.OtherActivityChecked">
                            Прочая деятельность (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Организация
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.OtherActivity.Index" value="@i" />
                                <input type="hidden" asp-for="New.OtherActivity[i].organization" />
                                <input type="hidden" asp-for="New.OtherActivity[i].position" />
                                <input type="hidden" asp-for="New.OtherActivity[i].title" />
                                <input type="hidden" asp-for="New.OtherActivity[i].yearFrom" />
                                <input type="hidden" asp-for="New.OtherActivity[i].yearTo" />
                                <input asp-for="New.OtherActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.OtherActivity.Index" value="@i" />
                                <input asp-for="Original.OtherActivity[i].organization" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Должность
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.OtherActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.OtherActivity[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Название
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.OtherActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.OtherActivity[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Год от
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.OtherActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.OtherActivity[i].yearFrom" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Год по
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.OtherActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.OtherActivity[i].yearTo" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Rewards != null && Model.New.Rewards.Any()) || (Model.Original.Rewards != null && Model.Original.Rewards.Any()))
                {
                    countLeft = (Model.New.Rewards != null && Model.New.Rewards.Any()) ? Model.New.Rewards.Count : 0;
                    countRight = (Model.Original.Rewards != null && Model.Original.Rewards.Any()) ? Model.Original.Rewards.Count : 0;
                    count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.RewardsChecked" /></span>
                        <label asp-for="New.RewardsChecked">
                            Награды (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Награда
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Rewards.Index" value="@i" />
                                <input type="hidden" asp-for="New.Rewards[i].org" />
                                <input type="hidden" asp-for="New.Rewards[i].title" />
                                <input type="hidden" asp-for="New.Rewards[i].year" />
                                <input asp-for="New.Rewards[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Rewards.Index" value="@i" />
                                <input asp-for="Original.Rewards[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Организация
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Rewards[i].org" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Rewards[i].org" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Rewards[i].year" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Rewards[i].year" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Memberships != null && Model.New.Memberships.Any()) || (Model.Original.Memberships != null && Model.Original.Memberships.Any()))
        {
            countLeft = (Model.New.Memberships != null && Model.New.Memberships.Any()) ? Model.New.Memberships.Count : 0;
            countRight = (Model.Original.Memberships != null && Model.Original.Memberships.Any()) ? Model.Original.Memberships.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.MembershipsChecked" /></span>
                        <label asp-for="New.MembershipsChecked">
                            Профессиональные сообщества (Выбрать блок)
                        </label>
                    </div>
                    <div class="row-item-data">
                    </div>
                    <div class="row-item-data">
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Организация
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Memberships.Index" value="@i" />
                                <input type="hidden" asp-for="New.Memberships[i].org" />
                                <input type="hidden" asp-for="New.Memberships[i].position" />
                                <input type="hidden" asp-for="New.Memberships[i].year_from" />
                                <input type="hidden" asp-for="New.Memberships[i].year_to" />
                                <input asp-for="New.Memberships[i].org" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Memberships.Index" value="@i" />
                                <input asp-for="Original.Memberships[i].org" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Должность
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Memberships[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Memberships[i].position" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <label>C</label>
                                <input asp-for="New.Memberships[i].year_from" class="small-input disabled" style="max-width: 70px;" disabled="disabled" />
                                <label>по</label>
                                <input asp-for="New.Memberships[i].year_to" class="small-input disabled" style="max-width: 70px;" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <label>C</label>
                                <input asp-for="Original.Memberships[i].year_from" class="small-input disabled" style="max-width: 70px;" disabled="disabled" />
                                <label>по</label>
                                <input asp-for="Original.Memberships[i].year_to" class="small-input disabled" style="max-width: 70px;" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Educations != null && Model.New.Educations.Any()) || (Model.Original.Educations != null && Model.Original.Educations.Any()))
        {
            countLeft = (Model.New.Educations != null && Model.New.Educations.Any()) ? Model.New.Educations.Count : 0;
            countRight = (Model.Original.Educations != null && Model.Original.Educations.Any()) ? Model.Original.Educations.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.EducationsChecked" /></span>
                        <label asp-for="New.EducationsChecked">
                            Образование (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Город
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Educations.Index" value="@i" />
                                <input type="hidden" asp-for="New.Educations[i].Guid" />
                                <input type="hidden" asp-for="New.Educations[i].GraduationYear" />
                                <input type="hidden" asp-for="New.Educations[i].FacultyShortName" />
                                <input type="hidden" asp-for="New.Educations[i].UniversityShortName" />
                                <input asp-for="New.Educations[i].City" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Educations.Index" value="@i" />
                                <input asp-for="Original.Educations[i].City" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Университет
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Educations[i].UniversityShortName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Educations[i].UniversityShortName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Факультет
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Educations[i].FacultyShortName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Educations[i].FacultyShortName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Educations[i].GraduationYear" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Educations[i].GraduationYear" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Conferences != null && Model.New.Conferences.Any()) || (Model.Original.Conferences != null && Model.Original.Conferences.Any()))
        {
            countLeft = (Model.New.Conferences != null && Model.New.Conferences.Any()) ? Model.New.Conferences.Count : 0;
            countRight = (Model.Original.Conferences != null && Model.Original.Conferences.Any()) ? Model.Original.Conferences.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.ConferencesChecked" /></span>
                        <label asp-for="New.ConferencesChecked">
                            Конференции (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Название конференции
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Conferences.Index" value="@i" />
                                <input type="hidden" asp-for="New.Conferences[i].year" />
                                <input type="hidden" asp-for="New.Conferences[i].title" />
                                <input type="hidden" asp-for="New.Conferences[i].conference" />
                                <input asp-for="New.Conferences[i].conference" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Conferences.Index" value="@i" />
                                <input asp-for="Original.Conferences[i].conference" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Доклад
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Conferences[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Conferences[i].title" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Год
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Conferences[i].year" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Conferences[i].year" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Publications != null && Model.New.Publications.Any()) || (Model.Original.Publications != null && Model.Original.Publications.Any()))
        {
            countLeft = (Model.New.Publications != null && Model.New.Publications.Any()) ? Model.New.Publications.Count : 0;
            countRight = (Model.Original.Publications != null && Model.Original.Publications.Any()) ? Model.Original.Publications.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.PublicationsChecked"/></span>
                        <label asp-for="New.PublicationsChecked">
                            Публикации (Выбрать блок)
                        </label>
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Название
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Publications.Index" value="@i" />
                                <input type="hidden" asp-for="New.Publications[i].Guid" />
                                <input type="hidden" asp-for="New.Publications[i].Type" />
                                <input type="hidden" asp-for="New.Publications[i].ExtId" />
                                <input type="hidden" asp-for="New.Publications[i].Updated" />
                                <input type="hidden" asp-for="New.Publications[i].ResearcherGuid" />
                                <input type="hidden" asp-for="New.Publications[i].Name" />
                                <input type="hidden" asp-for="New.Publications[i].Authors" />
                                <input asp-for="New.Publications[i].Name" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Publications.Index" value="@i" />
                                <input asp-for="Original.Publications[i].Name" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    <div class="row-item">
                        <div class="row-item-label">
                            Авторы
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Publications[i].Authors" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Publications[i].Authors" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        @if ((Model.New.Interests != null && Model.New.Interests.Any()) || (Model.Original.Interests != null && Model.Original.Interests.Any()))
        {
            countLeft = (Model.New.Interests != null && Model.New.Interests.Any()) ? Model.New.Interests.Count : 0;
            countRight = (Model.Original.Interests != null && Model.Original.Interests.Any()) ? Model.Original.Interests.Count : 0;
            count = countLeft > countRight ? countLeft : countRight;
            <text>
            <div class="row-block-item">
                <div class="row-item">
                    <div class="row-item-label">
                        <span class="checkbox"><input type="checkbox" asp-for="New.InterestsChecked" /></span>
                        <label asp-for="New.InterestsChecked">
                            Интересы (Выбрать блок)
                        </label>
                    </div>
                    <div class="row-item-data">
                    </div>
                    <div class="row-item-data">
                    </div>
                </div>
                @for (int i = 0; i < count; i++)
                {
                    <text>
                    <div class="row-item @(i>0 ? "row-item-top" : string.Empty)">
                        <div class="row-item-label">
                            Интерес
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                        {
                                <text>
                                <input type="hidden" name="New.Interests.Index" value="@i" />
                                <input type="hidden" asp-for="New.Interests[i].IntName" />
                                <input type="hidden" asp-for="New.Interests[i].IntNameEn" />
                                <input asp-for="New.Interests[i].IntName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                        {
                                <text>
                                <input type="hidden" name="Original.Interests.Index" value="@i" />
                                <input asp-for="Original.Interests[i].IntName" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>

                    <div class="row-item">
                        <div class="row-item-label">
                            Интерес (англ.)
                        </div>
                        <div class="row-item-data">
                            @if (i < countLeft)
                            {
                                <text>
                                <input asp-for="New.Interests[i].IntNameEn" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                        <div class="row-item-data">
                            @if (i < countRight)
                            {
                                <text>
                                <input asp-for="Original.Interests[i].IntNameEn" class="disabled" disabled="disabled" />
                                </text>
                            }
                        </div>
                    </div>
                    </text>
                }
            </div>
            </text>
        }

        <br />

        <input type="submit" value="Продолжить" class="btn btn-success" />
    </form>
    </text>
}
