@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.ResearcherDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="l-information">
    <div class="row">
        <div class="profile">
            <div class="inline-block">
                @Component.Invoke("AvatarImage", Model.ImageUrl)
                <br/>
                <a asp-controller="researchers" asp-action="editphoto" style="background: 70%; background-color: white; left: 3px; top: -30px; position: relative; padding: 3px;">
                    Изменить
                </a>
            </div>
            <div class="info inline-block">
                <h4>@Model.FullName</h4>
                <span>Год рождения: @Model.BirthDate.Year.ToString("0000")</span>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div><span class="bold">Индивидуальный номер ученого:</span> 00005444<br /></div>
        <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span><br />
        @if (Model.Publications != null)
        {
            foreach (var item in Model.Publications)
            {
                @item.Title;
            }
        }
    </div>
    <div class="row">
        <span class="bold">Образование</span>
        @if (Model.Educations != null)
        {
            foreach (var item in Model.Educations)
            {
                <br />
                <ul class="table-emulation">
                    <li>
                        <span class="w85 italic inline-block">Город</span> <span class="italic">@item.City</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.UniversityShortName</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.FacultyShortName</span>
                    </li>
                    <li>
                        <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.GraduationYear)</span>
                    </li>
                </ul>
            }
        }
    </div>
    <div class="row">
        <span class="bold">Ученая степень</span>
        <span class="italic">
            @Model.ScienceDegree
        </span>
    </div>
    <div class="row">
        <span class="bold">Ученые звания</span>
        @Model.ScienceRank
    </div>
    <div class="row">
        <span class="bold">Награды</span>
        <span class="italic">
            @if (Model.Rewards != null)
            {
                foreach (var item in Model.Rewards.OrderBy(c => c.year))
                {
                    <br />
                    <span>
                        (@item.year) @item.title @item.org
                    </span>
                }
            }
        </span>
    </div>
    <div class="row">
        <span class="bold">Членство в профессиональных сообществах</span><br />
        <span class="italic">
            @if (Model.Memberships != null)
            {
                foreach (var item in Model.Memberships)
                {
                    <br />
                    <span>
                        @item.org - @item.position с @item.year_from по @item.year_to
                    </span>
                }
            }
        </span>
    </div>
    <div class="row">
        <span class="bold">Конференции, симпозиумы, конгрессы</span>
        <span class="italic">
            @Model.Conferences
        </span>
    </div>
    <div class="row">
        <span class="bold">Публикации</span>
        @if (Model.Publications != null)
        {
            foreach (var item in Model.Publications)
            {
                <br />
                <span>
                    @item.Title
                </span>
            }
        }
    </div>
</div>
<div class="b-links mt-2 ml3">
    <div class="link-edit">
        <a asp-controller="researchers" asp-action="edit" class="arial italic">Редактировать</a>
    </div>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>