@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.ResearcherDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="l-information">
    <div class="row">
        <div class="profile">
            <div class="photo inline-block">
                <img src="/images/profile-photo.png" width="140" height="180" />
            </div>
            <div class="info inline-block">
                <h4>@Model.FullName</h4>
                <span>Год рождения: @Model.BirthDate.Year.ToString("0000")</span>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div><span class="bold">Индивидуальный номер ученого:</span> 00005444<br /></div>
        <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span><br />
        Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение;<br />
        Информационная деятельность в области науковедения; Научные и технические библиотеки и библиотечные сети; Техническое оснащение библиотек;<br />
        Электронные библиотеки
    </div>
    <div class="row">
        <span class="bold">Образование</span>
        <ul class="table-emulation" style="color: lightgray;">
            <li>
                <span class="w85 italic inline-block">Город</span> <span class="italic grey" style="color: lightgray;">Челябинск</span>
            </li>
            <li>
                <span class="w85 italic inline-block">ВУЗ</span> <span class="italic grey" style="color: lightgray;">ЧГАКИ</span>
            </li>
            <li>
                <span class="w85 italic inline-block">Факультет</span> <span class="italic grey" style="color: lightgray;">Информационных ресурсов и технологий</span>
            </li>
            <li>
                <span class="w85 italic inline-block">Год окончания</span> <span class="italic grey" style="color: lightgray;">2000</span>
            </li>
        </ul>
    </div>
    <div class="row">
        <span class="bold">Ученая степень</span>
    </div>
    <div class="row">
        <span class="bold">Ученые звания</span>
    </div>
    <div class="row">
        <span class="bold">Награды</span>
    </div>
    <div class="row">
        <span class="bold">Членство в профессиональных сообществах</span><br />
        <span class="italic">Редколлегии и консультативные советы рецензируемых научных изданий<br /> Научные общества и организации</span>
    </div>
    <div class="row">
        <span class="bold">Конференции, симпозиумы, конгрессы</span>
    </div>
    <div class="row">
        <span class="bold">Публикации</span>
    </div>
</div>
<div class="b-links mt-2 ml3">
    <div class="link-edit">
        <a asp-controller="researchers" asp-action="edit" class="arial italic">Редактировать</a>
    </div>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>