@using System.Threading.Tasks
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.ResearcherDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>@ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="l-information">
    <div class="row row-profile">
        <div class="profile">
            <div class="inline-block">
                @Component.Invoke("AvatarImage", Model.ImageUrl)
                
                <div class="link-edit mt10"><a asp-controller="researchers" asp-action="editphoto">Изменить фото</a></div>
            </div>
            <div class="info inline-block">
                <h4>@Model.FullName</h4>
                <span>Год рождения: @Model.BirthDate.Year.ToString("0000")</span>
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div class="profile-description profile-description-place">
            <div>
                Email:
                <span class="bold">
                    @Model.Email
                </span>
                <br />
            </div>
            <div>
                Телефон:
                <span class="bold">
                    @Model.Phone
                </span>
                <br />
            </div>
            <div>
                Телефон (доп.):
                <span class="bold">
                    @Model.ExtraPhone
                </span>
                <br />
            </div>
        </div>
    </div>
    <div class="row pt15 fs12">
        <div><span class="bold row-profile__title">Индивидуальный номер ученого:</span><div class="row-profile__data">@Model.ExtNumber</div></div>
        <span class="bold row-profile__title">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
            @if (Model.Publications != null && Model.Interests.Count() > 0)
            {
                foreach (var item in Model.Interests)
                {
                    <div class="row-profile__data">@item.IntName (Engl: @item.IntNameEn);</div>
                }
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>
    <div class="row">
        <span class="bold row-profile__title">Образование</span>
        @if (Model.Educations != null && Model.Educations.Count() > 0)
        {
            foreach (var item in Model.Educations)
            {
                <div class="row-profile__data">Город: @item.City</div>
                <div class="row-profile__data">ВУЗ: @item.UniversityShortName</div>
                <div class="row-profile__data">Факультет: @item.FacultyShortName</div>
                <div class="row-profile__data">Год окончания: @(item.GraduationYear)</div>
                    
                    @*<ul class="table-emulation">
                        <li>
                            <span class="w85 italic inline-block">Город</span> <span class="italic">@item.City</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">ВУЗ</span> <span class="italic">@item.UniversityShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Факультет</span> <span class="italic">@item.FacultyShortName</span>
                        </li>
                        <li>
                            <span class="w85 italic inline-block">Год окончания</span> <span class="italic">@(item.GraduationYear)</span>
                        </li>
                    </ul>*@
            }
        }
        else
        {
            <text>
            <span class="row-profile__data">Нет данных</span>
            </text>
        }
    </div>
    <div class="row">
        <span class="bold row-profile__title">Ученая степень</span>
        @if (Model.ScienceDegree != null)
        {
            <text><span class="row-profile__data">@Model.ScienceDegree</span></text>
        }
        else
        {
            <text>
            <span class="row-profile__data">Нет данных</span>
            </text>
        }
    </div>
    <div class="row">
        <span class="bold row-profile__title">Ученые звания</span>
        @if (Model.ScienceRank != null)
        {
            <text><span class="row-profile__data">@Model.ScienceRank</span></text>
        }
        else
        {
            <text>
            <span class="row-profile__data">Нет данных</span>
            </text>
        }
    </div>
    <div class="row">
        <span class="bold row-profile__title">Награды</span>
            @if (Model.Rewards != null && Model.Rewards.Count() > 0)
            {
                @:<div class="row-profile__data">
                foreach (var item in Model.Rewards.OrderBy(c => c.year))
                {
                    <text>(@item.year) @item.title @item.org</text>
                }
                @:</div>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>
    <div class="row">
        <span class="bold row-profile__title">Членство в профессиональных сообществах</span>
        
            @if (Model.Memberships != null && Model.Memberships.Count() > 0)
            {
            @:<span class="row-profile__data">
                foreach (var item in Model.Memberships)
                {
                    <span>
                        @item.org - @item.position с @item.year_from по @item.year_to
                    </span>
                }
            @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>
    
    <div class="row">
        <span class="bold row-profile__title">Конференции, симпозиумы, конгрессы</span>
            @if (Model.Conferences != null && Model.Conferences.Count() > 0)
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.Conferences)
                {
                    <span>
                        @item.conference - доклад "@item.title" (год @item.year, тип @item.categoryType)
                    </span>
                }
                @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="row">
        <span class="bold row-profile__title">Публикации</span>
        @if (Model.Publications != null && Model.Publications.Count() > 0)
        {
            @:<span class="row-profile__data">
            foreach (var item in Model.Publications)
            {
                <div>
                    @item.Name (авторы: @item.Authors)
                </div>
            }
            @:</span>
        }
        else
        {
            <text>
            <span class="row-profile__data">Нет данных</span>
            </text>
        }
    </div>

    <div class="row">
        <span class="bold row-profile__title">Научная деятельность</span>
            @if (Model.ResearchActivity != null && Model.ResearchActivity.Count() > 0)
            {
                @:<div class="row-profile__data">
                foreach (var item in Model.ResearchActivity)
                {
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</div>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

    <div class="row">
        <span class="bold row-profile__title">Преподавательская деятельность</span>
            @if (Model.TeachingActivity != null && Model.TeachingActivity.Count() > 0)
            {
                @:<span class="row-profile__data">
                foreach (var item in Model.TeachingActivity)
                {
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</span>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
    </div>

<div class="row">
    <span class="bold row-profile__title">Прочая деятельность</span>
            @if (Model.OtherActivity != null && Model.OtherActivity.Count() > 0)
            {
                @:<div class="row-profile__data">
                foreach (var item in Model.OtherActivity)
                {
                    <span>
                        Организация "@item.organization", на должности "@item.position" (период с @item.yearFrom по @item.yearTo; род деятельности @item.title)
                    </span>
                }
                @:</div>
            }
            else
            {
                <text>
                <span class="row-profile__data">Нет данных</span>
                </text>
            }
</div>
    
</div>
<div class="b-links">
    <div class="link-edit"><a asp-controller="researchers" asp-action="edit" class="arial italic">Редактировать</a></div>
</div>

<div class="mt13">
    <a asp-controller="accountintegration" asp-action="UpdateResearcherAccountFromOutside" class="link-upload-s middle-icon fs13">Загрузить данные из системы «@AuthorizeResourceTypes.ScienceMap.GetDescription()»</a>
    <span style="color: red;">в разработке</span>
</div>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
</div>