@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyApplicationsInResearcherIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    <!-- <a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a> -->
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table tbl-vac">
    <thead>
        <tr>
            <th>
                <div class="inline-block pl21 va-middle">ID вакансии</div>
            </th>
            <th>
                <div class="inline-block pl21 va-middle">Должность</div>
            </th>
            <th width="130">
                <div class="pl21 va-middle">
                    Заработная<br />плата
                </div>
            </th>
            <th width="130">
                <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldApplyDate).CreateString())">
                    <div class="inline-block">
                        <img title="Сортировка" src="@Context.Request.GetOrderIcon(ConstTerms.OrderByFieldApplyDate)" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">
                        Дата<br />отправки
                    </div>
                </a>
            </th>
            <th width="170">
                <div class="pl21 va-middle">
                    Статус вакансии
                </div>
            </th>
            <th width="130">
                <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldVacancyApplicationStatus).CreateString())">
                    <div class="inline-block">
                        <img title="Сортировка" src="@Context.Request.GetOrderIcon(ConstTerms.OrderByFieldVacancyApplicationStatus)" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">
                        Статус заявки
                    </div>
                </a>
            </th>
            <th width="50">
                <div class="va-middle">Действия</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Applications != null)
        {
            foreach (var item in Model.Applications.Items)
            {
                <text>
                <tr>
                    <td>
                        @if (item.Vacancy.ReadId == null)
                        {
                            <text>VAC ...</text>
                        }
                        else
                        {
                            <text>VAC @item.Vacancy.ReadId</text>
                        }
                    </td>
                    <td>@item.PositionTypeName</td>
                    <td>@item.Vacancy.SalaryFrom-@item.Vacancy.SalaryTo руб.</td>
                    <td>@(item.SentDate?.ToLocalVacancyString())</td>
                    <td><span class="status @item.Vacancy.Status.GetHtmlClass()">@item.Vacancy.Status.GetDescriptionByResearcher()</span></td>
                    <td><span class="status @item.StatusDescription.Item2">@item.StatusDescription.Item1</span></td>
                    <td>
                        <a asp-controller="applications" asp-action="details" asp-route-id="@item.Guid" class="view-td-icon"></a>
                        @*@if (item.Status == VacancyApplicationStatus.Applied)
                            {
                                <text>
                                    <a asp-controller="applications" asp-action="delete" asp-route-id="@item.Guid" class="close-td-icon"></a>
                                </text>
                            }*@
                    </td>
                </tr>
                </text>
            }
        }
    </tbody>
</table>

<div pagedlist="Model.Applications"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>