@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.VacancyApplicationsInResearcherIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    <!-- <a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a> -->
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table">
    <thead>
    <tr>
        <th>
            <div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">ID конкурса</div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/arrow-bottom-tab.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Должность</div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Заработная<br/> плата
            </div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Дата<br/> отправки
            </div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Статус<br/>конкурса
            </div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/tab-head.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Статус<br/>заявки
            </div></th>
        <th>
            <div class="pl21 va-middle">Действия</div></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Applications != null)
    {
        foreach (var item in Model.Applications.Items)
        {
            <text>
                <tr>
                    <td>ГНС600001</td>
                    <td>@item.FullName</td>
                    <td>@item.Rewards руб.</td>
                    <td>@(item.SentDate?.ToLocalVacancyString())</td>
                    <td><span class="status @item.Vacancy.Status.GetHtmlClass()">@item.Vacancy.Status.GetDescription()</span></td>
                    <td><span class="status @item.Status.GetHtmlClass()">@item.Status.GetDescription()</span></td>
                    <td>
                        <a asp-controller="applications" asp-action="details" asp-route-id="@item.Guid" class="view-td-icon"></a>
                        @if (item.Status == VacancyApplicationStatus.Applied)
                        {
                            <text>
                                <a asp-controller="applications" asp-action="delete" asp-route-id="@item.Guid" class="close-td-icon"></a>
                            </text>
                        }
                    </td>
                </tr>
            </text>
        }
    }
    </tbody>
</table>

<div pagedlist="Model.Applications"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>