@using System.Linq
@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model ResearcherEditViewModel

@{
    //добавляем пустые элементы, чтобы использовать их разметку в качестве шаблона для новых элементов
    Model.Educations = Model.Educations ?? new List<EducationEditViewModel>();
    Model.Educations.Insert(0, new EducationEditViewModel());
    Model.Publications = Model.Publications ?? new List<PublicationEditViewModel>();
    Model.Publications.Insert(0, new PublicationEditViewModel());
    Model.Rewards = Model.Rewards ?? new List<RewardEditViewModel>();
    Model.Rewards.Insert(0, new RewardEditViewModel());
    Model.Conferences = Model.Conferences ?? new List<ConferenceEditViewModel>();
    Model.Conferences.Insert(0, new ConferenceEditViewModel());
    Model.Memberships = Model.Memberships ?? new List<MembershipEditViewModel>();
    Model.Memberships.Insert(0, new MembershipEditViewModel());
    Model.ResearchActivity = Model.ResearchActivity ?? new List<ActivityEditViewModel>();
    Model.ResearchActivity.Insert(0, new ActivityEditViewModel());
    Model.TeachingActivity = Model.TeachingActivity ?? new List<ActivityEditViewModel>();
    Model.TeachingActivity.Insert(0, new ActivityEditViewModel());
    Model.OtherActivity = Model.OtherActivity ?? new List<ActivityEditViewModel>();
    Model.OtherActivity.Insert(0, new ActivityEditViewModel());
    //перед отправкой формы эти элементы будут удалены с формы

    var yearsBirth = Enumerable.Range(DateTime.Now.Year - 100, 100).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    var yearsActivity = Enumerable.Range(DateTime.Now.Year - 100, 110).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    var invisibleItemStyle = "display: none;";
    string useStyle;
    string cuselUniqueKey;
}
<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div asp-validation-summary="ValidationSummary.All"></div>

<form asp-controller="researchers" asp-action="edit" method="POST" class="l-information e-information b-edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Guid" />
    <div class="row">
        <div class="bold mb20">Общая информация</div>

        <div class="table-form">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondName" />
                    <span asp-validation-for="SecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondName" />
                    <span asp-validation-for="PreviousSecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя  <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Patronymic" />
                    <span asp-validation-for="Patronymic"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия (англ.) <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondNameEng" />
                    <span asp-validation-for="SecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия (англ.,)<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondNameEng" />
                    <span asp-validation-for="PreviousSecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя (англ.) <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstNameEng" />
                    <span asp-validation-for="FirstNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PatronymicEng" />
                    <span asp-validation-for="PatronymicEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Индивидуальный номер учёного</label>
                </div>
                <div class="right-cell">
                    @if (Model.IsScienceMapUser)
                    {
                        <input type="hidden" asp-for="ExtNumber" />
                        <input asp-for="ExtNumber" disabled="disabled" class="disabled" />
                    }
                    else
                    {
                        <input asp-for="ExtNumber" />
                    }
                    <span asp-validation-for="ExtNumber"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Год рождения</label>
                </div>
                <div class="right-cell b-r-form w120">
                    <select asp-for="BirthYear"
                            asp-items="yearsBirth"></select>
                    <span asp-validation-for="BirthYear"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>E-mail <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Контактный телефон <span class="require-marker" /></label>
                </div>
                <div class="right-cell">
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Добавить телефон</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ExtraPhone" />
                    <span asp-validation-for="ExtraPhone"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb13">
        <div class="bold">Образование</div>
        <div class="table-form mt15 property-list-container" data-property-responsible="Educations" data-innercount="@(Model.Educations.Count - 1)">
            @for (var i = 0; i < Model.Educations.Count; i++)
            {
                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" asp-for="Educations[i].Guid" />
                    <input type="hidden" name="Educations.Index" value="@i" />
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Город:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].City" class="big-input" />
                            <span asp-validation-for="Educations[i].City"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>ВУЗ:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].UniversityShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].UniversityShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Факультет:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].FacultyShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].FacultyShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="Educations[i].GraduationYear"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="Educations[i].GraduationYear"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="right-cell">
                            @*<button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>*@
                            <span class="small-icon icon-sm-close" onclick="return removeItemFromList(this, 'Educations');">Очистить форму</span>
                        </div>
                    </div>
                    <div class="right-cell property-list-item__separator"></div>
                </div>
                </text>
            }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'Educations')" class="link-add lk-icon italic link-add-field">Добавить Образование</a>
                </div>
            </div>

        </div>
    </div>




    <div class="row mb13">
        <div class="bold">Исследовательская деятельность</div>
        <div class="table-form mt15 property-list-container" data-property-responsible="ResearchActivity" data-innercount="@(Model.ResearchActivity.Count - 1)">
            @for (var i = 0; i < Model.ResearchActivity.Count; i++)
            {
                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                cuselUniqueKey = i == 0 ? "js_add_guid_here" : Guid.NewGuid().ToString();
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="ResearchActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].organization" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].position" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].title" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120" data-cusel-number-parent="@cuselUniqueKey">
                            <select class="skip"
                                    asp-for="ResearchActivity[i].yearFrom"
                                    asp-items="yearsActivity"
                                    onchange="cuselValueChanged(this, '@cuselUniqueKey');"></select>
                            <span asp-validation-for="ResearchActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120" data-cusel-number-child="@cuselUniqueKey">
                            <select class="skip"
                                    asp-for="ResearchActivity[i].yearTo"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="ResearchActivity[i].yearTo"></span>
                        </div>
                    </div>

                    <div class="table-row form-row">
                        <div class="right-cell">
                            @*<button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>*@
                            <span class="small-icon icon-sm-close" onclick="return removeItemFromList(this, 'ResearchActivity');">Очистить форму</span>
                        </div>
                    </div>
                    <div class="right-cell property-list-item__separator"></div>
                </div>
                </text>
            }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'ResearchActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>





    <div class="row mb13">
        <div class="bold">Преподавательская деятельность</div>
        <div class="table-form mt15 property-list-container" data-property-responsible="TeachingActivity" data-innercount="@(Model.TeachingActivity.Count - 1)">
            @for (var i = 0; i < Model.TeachingActivity.Count; i++)
            {
                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="TeachingActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].organization" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].position" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].title" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="TeachingActivity[i].yearFrom"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="TeachingActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="TeachingActivity[i].yearTo"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="TeachingActivity[i].yearTo"></span>
                        </div>
                    </div>

                    <div class="table-row form-row">
                        <div class="right-cell">
                            @*<button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>*@
                            <span class="small-icon icon-sm-close" onclick="return removeItemFromList(this, 'TeachingActivity');">Очистить форму</span>
                        </div>
                    </div>
                    <div class="right-cell property-list-item__separator"></div>
                </div>
                </text>
            }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'TeachingActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>




    <div class="row mb13">
        <div class="bold">Прочая деятельность</div>
        <div class="table-form mt15 property-list-container" data-property-responsible="OtherActivity" data-innercount="@(Model.OtherActivity.Count - 1)">
            @for (var i = 0; i < Model.OtherActivity.Count; i++)
            {
                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="OtherActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].organization" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].position" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].title" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="OtherActivity[i].yearFrom"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="OtherActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="OtherActivity[i].yearTo"
                                    asp-items="yearsActivity"></select>
                            <span asp-validation-for="OtherActivity[i].yearTo"></span>
                        </div>
                    </div>

                    <div class="table-row form-row">
                        <div class="right-cell">
                            @*<button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>*@
                            <span class="small-icon icon-sm-close" onclick="return removeItemFromList(this, 'OtherActivity');">Очистить форму</span>
                        </div>
                    </div>
                    <div class="right-cell property-list-item__separator"></div>
                </div>
                </text>
            }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'OtherActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>


    <div class="row mb6">
        <div class="bold">Научная деятельность<br /> и достижения</div>
        <div class="table-form mt15">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученая степень:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceDegree" class="big-input" />
                    <span asp-validation-for="ScienceDegree"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученые звания:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceRank" class="big-input" />
                    <span asp-validation-for="ScienceRank"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Награды:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-property-responsible="Rewards" data-innercount="@(Model.Rewards.Count-1)">

                        <ul class="list-Rewards content-list">
                            @for (var i = 0; i < Model.Rewards.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item sub-form-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Rewards.Index" value="@i" />

                                    <div>
                                        <div class="sub-form-item__title-field"><span>Название</span></div>
                                        <input asp-for="Rewards[i].title" class="w366" />
                                    </div>

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Год вручения</span></div>
                                        <input asp-for="Rewards[i].year" class="sub-form-item__input" />
                                    </div>

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Вручившая организация</span></div>
                                        <input asp-for="Rewards[i].org" class="w366" />
                                    </div>

                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this, 'Rewards');"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ul>
                        <a onclick="return addNewItemToList(this, 'Rewards')" class="link-add lk-icon italic link-add-field" href="#">Добавить награду</a>
                    </div>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Членство в профессиональных сообществах:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-property-responsible="Memberships" data-innercount="@(Model.Memberships.Count - 1)">

                        <ul class="list-Memberships content-list">
                            @for (var i = 0; i < Model.Memberships.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item sub-form-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Memberships.Index" value="@i" />
                                    <div class="sub-form-item__title-field"><span>Организация</span></div>
                                    <input asp-for="Memberships[i].org" class="w366" />

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Позиция</span></div>
                                        <input asp-for="Memberships[i].position" class="w366" />
                                    </div>

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Период участия (членства)</span></div>
                                        <span>c</span>
                                        <input asp-for="Memberships[i].year_from" class="sub-form-item__input" />
                                        <span>по</span>
                                        <input asp-for="Memberships[i].year_to" class="sub-form-item__input" />
                                    </div>

                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this, 'Memberships');"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ul>
                        <a onclick="return addNewItemToList(this, 'Memberships')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>



            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Конференции, симпозиумы, доклады:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-property-responsible="Conferences" data-innercount="@(Model.Conferences.Count - 1)">

                        <ul class="list-Conferences content-list">
                            @for (var i = 0; i < Model.Conferences.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item sub-form-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Conferences.Index" value="@i" />

                                    <div class="sub-form-item__title-field"><span>Название</span></div>
                                    <input asp-for="Conferences[i].conference" class="w366" />

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Доклад</span></div>
                                        <input asp-for="Conferences[i].title" class="w366" />
                                    </div>

                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Год</span></div>
                                        <input asp-for="Conferences[i].year" class="sub-form-item__input" />
                                    </div>

                                    <div class="buttons">
                                        @*<span class="big-link-edit"></span>*@
                                        <span class="big-link-remove" onclick="return removeItemFromList(this, 'Conferences');"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ul>
                        <a onclick="return addNewItemToList(this, 'Conferences')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>






            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Публикации:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-property-responsible="Publications" data-innercount="@(Model.Publications.Count - 1)">

                        <ul class="list-publications content-list">
                            @for (var i = 0; i < Model.Publications.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item sub-form-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" asp-for="Publications[i].Guid" />
                                    <input type="hidden" asp-for="Publications[i].ResearcherGuid" />
                                    <input type="hidden" asp-for="Publications[i].Type" />
                                    <input type="hidden" asp-for="Publications[i].ExtId" />
                                    <input type="hidden" asp-for="Publications[i].Updated" />
                                    <input type="hidden" name="Publications.Index" value="@i" />

                                    <div>
                                        <div class="sub-form-item__title-field"><span>Название</span></div>
                                        <input asp-for="Publications[i].Name" class="w366" />
                                    </div>
                                    <div class="mt10">
                                        <div class="sub-form-item__title-field"><span>Авторы</span></div>
                                        <input asp-for="Publications[i].Authors" class="w366" />
                                    </div>

                                    <div class="buttons">
                                        @*<span class="big-link-edit"></span>*@
                                        <span class="big-link-remove" onclick="return removeItemFromList(this, 'Publications');"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ul>
                        <a onclick="return addNewItemToList(this, 'Publications')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>





        </div>
    </div>
    <div class="row">
        <div class="ctr-buttons button-align mt12 mb5">
            <span class="save-button">Сохранить изменения<input type="submit" class="bt-default" onclick="return beforeFormSubmit(this, 'researcherEdit');" value="" /></span>
            <a asp-controller="researchers" asp-action="account" class="close-button">Закрыть</a>
        </div>
    </div>
</form>



<div class="b-bottom-nav">
    <a href="/">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>