@using System
@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks
@using Microsoft.AspNet.Mvc.Rendering
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model ResearcherEditViewModel

@{
    //добавляем пустые элементы, чтобы использовать их разметку в качестве шаблона для новых элементов
    Model.Educations = Model.Educations ?? new List<EducationEditViewModel>();
    Model.Educations.Insert(0, new EducationEditViewModel());
    Model.Publications = Model.Publications ?? new List<PublicationEditViewModel>();
    Model.Publications.Insert(0, new PublicationEditViewModel());
    Model.Interests = Model.Interests ?? new List<string>();
    Model.Interests.Insert(0, string.Empty);

    var years = Enumerable.Range(DateTime.Now.Year - 150, 150 + 1).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    var yearsZeroBased = Enumerable.Range(DateTime.Now.Year - 150, 150 + 1).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    yearsZeroBased.Add(new SelectListItem { Text = "--", Value = "0" });
    var invisibleItemStyle = "display: none;";
    string useStyle;
}
<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div asp-validation-summary="ValidationSummary.All"></div>

<form asp-controller="researchers" asp-action="edit" method="POST" class="l-information e-information b-edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Guid" />
    <input type="hidden" asp-for="ImageUrl" />
    <input type="hidden" asp-for="ImageExtension" />
    <input type="hidden" asp-for="ImageName" />
    <input type="hidden" asp-for="ImageSize" />
    <div class="row">
        <div class="bold mb20">Общая информация</div>

        <a asp-controller="accountintegration" asp-action="UpdateResearcherAccountFromOutside" asp-route-datasource="@((int)AuthorizeResourceTypes.ScienceMap)" class="link-upload fs13">Загрузить данные из системы «@AuthorizeResourceTypes.ScienceMap.GetDescription()»</a>
        <span style="color: red;">не реализовано</span>

        <div class="table-form">
            <div class="table-row mb15">
                <div class="left-cell">
                    <label class="mb10">
                        Ваше фото
                    </label>
                    <a data-selectorphoto="true" asp-controller="researcher" asp-action="edit#" class="link-upload fs13" onclick="javascript: return false;">Загрузить фото</a>
                    <input type="file" class="hide" name="PhotoFile" id="PhotoFile" data-selectphoto="true" />
                    <div class="description mt10">
                        Выберите изображение размером<br /> не более 500 кБ<br />Рекомендуемое соотношение сторон – 3:4
                    </div>
                </div>
                <div class="right-cell">
                    <div class="user-photo" style="max-width: 140px; max-height: 180px;">
                        <img src="@Model.ImageUrlOrDefault" style="max-width: 138px; max-height: 178px;" />
                    </div>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия</label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondName" />
                    <span asp-validation-for="SecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondName" class="big-input" />
                    <span asp-validation-for="PreviousSecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя</label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstName" class="big-input" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Patronymic" class="big-input" />
                    <span asp-validation-for="Patronymic"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondNameEng" class="big-input" />
                    <span asp-validation-for="SecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstNameEng" class="big-input" />
                    <span asp-validation-for="FirstNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PatronymicEng" class="big-input" />
                    <span asp-validation-for="PatronymicEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия (англ.,)<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondNameEng" class="big-input" />
                    <span asp-validation-for="PreviousSecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Год рождения</label>
                </div>
                <div class="right-cell b-r-form w120">
                    <select asp-for="BirthYear"
                            asp-items="years"></select>
                    <span asp-validation-for="BirthYear"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>E-mail</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Email" class="big-input" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Добавить E-mail</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ExtraEmail" class="big-input" />
                    <span asp-validation-for="ExtraEmail"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Контактный телефон</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Phone" class="big-input" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Добавить телефон</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ExtraPhone" class="big-input" />
                    <span asp-validation-for="ExtraPhone"></span>
                </div>
            </div>
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label>Гражданство</label>
                </div>
                <div class="right-cell">
                    @*<select asp-for="Nationality"
                                    asp-items=""></select>
                        <span asp-validation-for="Nationality"></span>*@
                </div>
            </div>
            <div class="table-row form-row mt23">
                <div class="left-cell">
                    <del><label>Научные интересы</label></del>
                </div>
                <div class="right-cell">
                    <del>
                        <a href="#" class="italic link-add lk-icon link-add-field">Добавить из Государственного рубрикатора научно-технической информации</a>
                    </del>
                    <span style="color: red;">не реализовано обновление в БД, и получение данных от третьей системы</span>
                    <ul class="list-tags research-interests">
                        <li>Автоматизация и автоматизированные системы в области науковедения <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                        <li>Библиотечное дело, библиотековедение <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                        <li>Информационная деятельность в области науковедения <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                        <li>Научные и технические библиотеки и библиотечные сети <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                        <li>Техническое оснащение библиотек <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                        <li>Электронные библиотеки <a href="#" class="link-remove lk-icon italic">Удалить</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb13">
        <div class="bold">Образование</div>
        <div class="table-form mt15 property-list-container" data-innercount="@(Model.Educations.Count-1)">
            @for (var i = 0; i < Model.Educations.Count; i++)
            {
                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" asp-for="Educations[i].Guid" />
                    <input type="hidden" name="Educations.Index" value="@i" />
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Город:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].City" class="big-input" />
                            <span asp-validation-for="Educations[i].City"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>ВУЗ:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].UniversityShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].UniversityShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Факультет:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].FacultyShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].FacultyShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="Educations[i].GraduationYear"
                                    asp-items="years"></select>
                            <span asp-validation-for="Educations[i].GraduationYear"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Учёная степень:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].Degree" class="big-input" />
                            <span asp-validation-for="Educations[i].Degree"></span>
                        </div>
                    </div>
                    <br />
                    <div class="table-row form-row">
                        <div class="right-cell">
                            <button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>
                        </div>
                    </div>
                    <hr />
                </div>
                </text>
            }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'Educations')" class="link-add lk-icon italic link-add-field">Добавить Образование</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb13">
        <div class="bold">Опыт работы</div>
        <div class="table-form mt15">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Исследовательская деятельность:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="ResearchActivity"></textarea>
                    <span asp-validation-for="ResearchActivity"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Преподавательская деятельность:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="TeachingActivity"></textarea>
                    <span asp-validation-for="TeachingActivity"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прочая деятельность:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="OtherActivity"></textarea>
                    <span asp-validation-for="OtherActivity"></span>
                </div>
            </div>
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <del>
                        <a href="#" class="link-add lk-icon italic link-add-field">Добавить Опыт работы</a>
                    </del>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb6">
        <div class="bold">Научная деятельность<br /> и достижения</div>
        <div class="table-form mt15">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученая степень:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceDegree" class="big-input" />
                    <span asp-validation-for="ScienceDegree"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученые звания:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceRank" class="big-input" />
                    <span asp-validation-for="ScienceRank"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Награды:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Rewards" class="big-input" />
                    <span asp-validation-for="Rewards"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Членство в профессиональных сообществах:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="Memberships"></textarea>
                    <span asp-validation-for="Memberships"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Конференции, симпозиумы, конгрессы:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="Conferences"></textarea>
                    <span asp-validation-for="Conferences"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Публикации:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-innercount="@(Model.Publications.Count-1)">

                        <ol class="list-publications content-list">
                            @for (var i = 0; i < Model.Publications.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" asp-for="Publications[i].ResearcherGuid" />
                                    <input type="hidden" asp-for="Publications[i].Guid" />
                                    <input type="hidden" name="Publications.Index" value="@i" />
                                    <input asp-for="Publications[i].Title" />
                                    <div class="buttons">
                                        @*<span class="big-link-edit"></span>*@
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ol>
                        <a onclick="return addNewItemToList(this, 'Publications')" class="link-add lk-icon italic link-add-field" href="#">Добавить публикацию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ctr-buttons button-align mt12 mb5">
            <input type="submit" class="save-button" onclick=" return beforeFormSubmit(this);" value="Сохранить изменения" />
            <a asp-controller="researchers" asp-action="account" class="close-button">Закрыть</a>
        </div>
    </div>
</form>



<div class="b-bottom-nav">
    <a href="/">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>