@using System.Linq
@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@using SciVacancies.WebApp.ViewModels
@model ResearcherEditViewModel

@{
    //добавляем пустые элементы, чтобы использовать их разметку в качестве шаблона для новых элементов
    Model.Educations = Model.Educations ?? new List<EducationEditViewModel>();
    Model.Educations.Insert(0, new EducationEditViewModel());
    Model.Publications = Model.Publications ?? new List<PublicationEditViewModel>();
    Model.Publications.Insert(0, new PublicationEditViewModel());
    Model.Rewards = Model.Rewards ?? new List<RewardEditViewModel>();
    Model.Rewards.Insert(0, new RewardEditViewModel());
    Model.Conferences = Model.Conferences ?? new List<ConferenceEditViewModel>();
    Model.Conferences.Insert(0, new ConferenceEditViewModel());
    Model.Memberships = Model.Memberships ?? new List<MembershipEditViewModel>();
    Model.Memberships.Insert(0, new MembershipEditViewModel());
    Model.Interests = Model.Interests ?? new List<InterestEditViewModel>();
    Model.Interests.Insert(0, new InterestEditViewModel());
    Model.ResearchActivity = Model.ResearchActivity ?? new List<ActivityEditViewModel>();
    Model.ResearchActivity.Insert(0, new ActivityEditViewModel());
    Model.TeachingActivity = Model.TeachingActivity ?? new List<ActivityEditViewModel>();
    Model.TeachingActivity.Insert(0, new ActivityEditViewModel());
    Model.OtherActivity = Model.OtherActivity ?? new List<ActivityEditViewModel>();
    Model.OtherActivity.Insert(0, new ActivityEditViewModel());
    //перед отправкой формы эти элементы будут удалены с формы

    var years = Enumerable.Range(DateTime.Now.Year - 150, 150 + 1).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    var yearsZeroBased = Enumerable.Range(DateTime.Now.Year - 150, 150 + 1).OrderByDescending(c => c).Select(c => new SelectListItem { Text = c.ToString(), Value = c.ToString() }).ToList();
    yearsZeroBased.Add(new SelectListItem { Text = "--", Value = "0" });
    var invisibleItemStyle = "display: none;";
    string useStyle;
}
<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div asp-validation-summary="ValidationSummary.All"></div>

<form asp-controller="researchers" asp-action="edit" method="POST" class="l-information e-information b-edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Guid" />
    <div class="row">
        <div class="bold mb20">Общая информация</div>

        <div class="table-form">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия</label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondName" />
                    <span asp-validation-for="SecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondName" class="big-input" />
                    <span asp-validation-for="PreviousSecondName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя</label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstName" class="big-input" />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Patronymic" class="big-input" />
                    <span asp-validation-for="Patronymic"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="SecondNameEng" class="big-input" />
                    <span asp-validation-for="SecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Имя (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="FirstNameEng" class="big-input" />
                    <span asp-validation-for="FirstNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Отчество (англ.)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PatronymicEng" class="big-input" />
                    <span asp-validation-for="PatronymicEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Прежняя фамилия (англ.,)<br />(необязательно)</label>
                </div>
                <div class="right-cell">
                    <input asp-for="PreviousSecondNameEng" class="big-input" />
                    <span asp-validation-for="PreviousSecondNameEng"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Индивидуальный номер учёного</label>
                </div>
                <div class="right-cell">
                    @if (Model.IsScienceMapUser)
                    {
                        <input type="hidden" asp-for="ExtNumber" />
                        <input asp-for="ExtNumber" disabled="disabled" class="disabled" />
                    }
                    else
                    {
                        <input asp-for="ExtNumber" />
                    }
                    <span asp-validation-for="ExtNumber"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Год рождения</label>
                </div>
                <div class="right-cell b-r-form w120">
                    <select asp-for="BirthYear"
                            asp-items="years"></select>
                    <span asp-validation-for="BirthYear"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>E-mail</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Email" class="big-input" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Контактный телефон</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Phone" class="big-input" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Добавить телефон</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ExtraPhone" class="big-input" />
                    <span asp-validation-for="ExtraPhone"></span>
                </div>
            </div>
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label>Гражданство</label>
                </div>
                <div class="right-cell">
                    @*<select asp-for="Nationality"
                                    asp-items=""></select>
                        <span asp-validation-for="Nationality"></span>*@
                </div>
            </div>
            <div class="table-row form-row mt23">
                <div class="left-cell">
                    <label>Научные интересы</label>
                </div>
                <div class="right-cell">

                    <a href="#" class="italic link-add lk-icon link-add-field">Добавить из Государственного рубрикатора научно-технической информации <span style="color: red;">в разработке</span></a>

                    <br />

                    <div class="property-list-container" data-innercount="@(Model.Interests.Count - 1)">
                        <ul class="list-Interests content-list">
                            @for (var i = 0; i < Model.Interests.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Interests.Index" value="@i" />

                                    <input asp-for="Interests[i].IntName" />
                                    <span>Русское название</span>

                                    <br />

                                    <input asp-for="Interests[i].IntNameEn" />
                                    <span>Английское название</span>

                                    <br />

                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>

                                </li>
                                </text>
                            }
                        </ul>
                        <a onclick="return addNewItemToList(this, 'Interests')" class="link-add lk-icon italic link-add-field" href="#">Добавить Научный интерес</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row mb13">
        <div class="bold">Образование</div>
        <div class="table-form mt15 property-list-container" data-innercount="@(Model.Educations.Count - 1)">
            @for (var i = 0; i < Model.Educations.Count; i++)
        {
            useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" asp-for="Educations[i].Guid" />
                    <input type="hidden" name="Educations.Index" value="@i" />
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Город:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].City" class="big-input" />
                            <span asp-validation-for="Educations[i].City"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>ВУЗ:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].UniversityShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].UniversityShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Факультет:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].FacultyShortName" class="big-input" />
                            <span asp-validation-for="Educations[i].FacultyShortName"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="Educations[i].GraduationYear"
                                    asp-items="years"></select>
                            <span asp-validation-for="Educations[i].GraduationYear"></span>
                        </div>
                    </div>
                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Учёная степень:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="Educations[i].Degree" class="big-input" />
                            <span asp-validation-for="Educations[i].Degree"></span>
                        </div>
                    </div>
                    <br />
                    <div class="table-row form-row">
                        <div class="right-cell">
                            <button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>
                        </div>
                    </div>
                    <hr />
                </div>
                </text>
        }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'Educations')" class="link-add lk-icon italic link-add-field">Добавить Образование</a>
                </div>
            </div>

        </div>
    </div>




    <div class="row mb13">
        <div class="bold">Исследовательская деятельность</div>
        <div class="table-form mt15 property-list-container" data-innercount="@(Model.ResearchActivity.Count - 1)">
            @for (var i = 0; i < Model.ResearchActivity.Count; i++)
        {
            useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="ResearchActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].organization" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].position" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].title" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="ResearchActivity[i].yearFrom"
                                    asp-items="years"></select>
                            <span asp-validation-for="ResearchActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="ResearchActivity[i].yearTo"
                                    asp-items="years"></select>
                            <span asp-validation-for="ResearchActivity[i].yearTo"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Тип:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="ResearchActivity[i].type" class="big-input" />
                            <span asp-validation-for="ResearchActivity[i].type"></span>
                        </div>
                    </div>


                    <br />
                    <div class="table-row form-row">
                        <div class="right-cell">
                            <button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>
                        </div>
                    </div>
                    <hr />
                </div>
                </text>
        }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'ResearchActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>





    <div class="row mb13">
        <div class="bold">Преподавательская деятельность</div>
        <div class="table-form mt15 property-list-container" data-innercount="@(Model.TeachingActivity.Count - 1)">
            @for (var i = 0; i < Model.TeachingActivity.Count; i++)
        {
            useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="TeachingActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].organization" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].position" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].title" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="TeachingActivity[i].yearFrom"
                                    asp-items="years"></select>
                            <span asp-validation-for="TeachingActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="TeachingActivity[i].yearTo"
                                    asp-items="years"></select>
                            <span asp-validation-for="TeachingActivity[i].yearTo"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Тип:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="TeachingActivity[i].type" class="big-input" />
                            <span asp-validation-for="TeachingActivity[i].type"></span>
                        </div>
                    </div>


                    <br />
                    <div class="table-row form-row">
                        <div class="right-cell">
                            <button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>
                        </div>
                    </div>
                    <hr />
                </div>
                </text>
        }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'TeachingActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>




    <div class="row mb13">
        <div class="bold">Прочая деятельность</div>
        <div class="table-form mt15 property-list-container" data-innercount="@(Model.OtherActivity.Count - 1)">
            @for (var i = 0; i < Model.OtherActivity.Count; i++)
        {
            useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                <text>
                <div class="property-list-item" style="@useStyle" data-list-template="@(i == 0 ? "true" : "false")">
                    <input type="hidden" name="OtherActivity.Index" value="@i" />


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Организация:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].organization" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].organization"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Должность:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].position" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].position"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Название:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].title" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].title"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год начала:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="OtherActivity[i].yearFrom"
                                    asp-items="years"></select>
                            <span asp-validation-for="OtherActivity[i].yearFrom"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Год окончания:</label>
                        </div>
                        <div class="right-cell b-r-form w120">
                            <select class="skip"
                                    asp-for="OtherActivity[i].yearTo"
                                    asp-items="years"></select>
                            <span asp-validation-for="OtherActivity[i].yearTo"></span>
                        </div>
                    </div>


                    <div class="table-row form-row">
                        <div class="left-cell">
                            <label>Тип:</label>
                        </div>
                        <div class="right-cell">
                            <input asp-for="OtherActivity[i].type" class="big-input" />
                            <span asp-validation-for="OtherActivity[i].type"></span>
                        </div>
                    </div>


                    <br />
                    <div class="table-row form-row">
                        <div class="right-cell">
                            <button class="btn btn-warning btn-sm" onclick="return removeItemFromList(this);">Удалить</button>
                        </div>
                    </div>
                    <hr />
                </div>
                </text>
        }
            <div class="table-row form-row mt17">
                <div class="left-cell">
                    <label></label>
                </div>
                <div class="right-cell">
                    <a href="#" onclick="return addNewItemToList(this, 'OtherActivity')" class="link-add lk-icon italic link-add-field">Добавить запись</a>
                </div>
            </div>

        </div>
    </div>


    <div class="row mb6">
        <div class="bold">Научная деятельность<br /> и достижения</div>
        <div class="table-form mt15">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученая степень:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceDegree" class="big-input" />
                    <span asp-validation-for="ScienceDegree"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Ученые звания:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ScienceRank" class="big-input" />
                    <span asp-validation-for="ScienceRank"></span>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Награды:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-innercount="@(Model.Rewards.Count-1)">

                        <ol class="list-Rewards content-list">
                            @for (var i = 0; i < Model.Rewards.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Rewards.Index" value="@i" />

                                    <br />

                                    <input asp-for="Rewards[i].title" />
                                    <span>Название</span>

                                    <br />

                                    <input asp-for="Rewards[i].year" />
                                    <span>Год вручения</span>

                                    <br />

                                    <input asp-for="Rewards[i].org" />
                                    <span>Вручившая организация</span>

                                    <div class="buttons">
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ol>
                        <a onclick="return addNewItemToList(this, 'Rewards')" class="link-add lk-icon italic link-add-field" href="#">Добавить награду</a>
                    </div>
                </div>
            </div>
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Членство в профессиональных сообществах:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-innercount="@(Model.Memberships.Count - 1)">

                        <ol class="list-Memberships content-list">
                            @for (var i = 0; i < Model.Memberships.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                    <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                        <input type="hidden" name="Memberships.Index" value="@i"/>

                                        <br/>

                                        <input asp-for="Memberships[i].org"/>
                                        <span>Организация</span>

                                        <br/>

                                        <input asp-for="Memberships[i].position"/>
                                        <span>Позиция</span>

                                        <br/>

                                        <span>С </span>
                                        <input asp-for="Memberships[i].year_from" class="small-input"/>
                                        <span> по </span>
                                        <input asp-for="Memberships[i].year_to" class="small-input"/>

                                        <div class="buttons">
                                            <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                        </div>
                                    </li>
                                </text>
                            }
                        </ol>
                        <a onclick="return addNewItemToList(this, 'Memberships')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>



            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Конференции, симпозиумы, доклады:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-innercount="@(Model.Conferences.Count - 1)">

                        <ol class="list-Conferences content-list">
                            @for (var i = 0; i < Model.Conferences.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                    <input type="hidden" name="Conferences.Index" value="@i" />

                                    <br />

                                    <input asp-for="Conferences[i].conference" />
                                    <span>Название</span>

                                    <br />

                                    <input asp-for="Conferences[i].title" />
                                    <span>Доклад</span>

                                    <br />

                                    <input asp-for="Conferences[i].categoryType" />
                                    <span>тип</span>

                                    <br />

                                    <input asp-for="Conferences[i].year" />
                                    <span>год</span>


                                    <div class="buttons">
                                        @*<span class="big-link-edit"></span>*@
                                        <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                    </div>
                                </li>
                                </text>
                            }
                        </ol>
                        <a onclick="return addNewItemToList(this, 'Conferences')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>






            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Публикации:</label>
                </div>
                <div class="right-cell">
                    <div class="property-list-container" data-innercount="@(Model.Publications.Count - 1)">

                        <ol class="list-publications content-list">
                            @for (var i = 0; i < Model.Publications.Count; i++)
                            {
                                useStyle = i == 0 ? invisibleItemStyle : string.Empty;
                                <text>
                                    <li style="@useStyle" class="property-list-item" data-list-template="@(i == 0 ? "true" : "false")">
                                        <input type="hidden" asp-for="Publications[i].Guid"/>
                                        <input type="hidden" asp-for="Publications[i].ResearcherGuid"/>
                                        <input type="hidden" asp-for="Publications[i].Type"/>
                                        <input type="hidden" asp-for="Publications[i].ExtId"/>
                                        <input type="hidden" asp-for="Publications[i].Updated"/>
                                        <input type="hidden" name="Publications.Index" value="@i"/>

                                        <br/>

                                        <input asp-for="Publications[i].Name"/>
                                        <span>Название</span>

                                        <br/>

                                        <input asp-for="Publications[i].Authors"/>
                                        <span>Авторы</span>


                                        <div class="buttons">
                                            @*<span class="big-link-edit"></span>*@
                                            <span class="big-link-remove" onclick="return removeItemFromList(this);"></span>
                                        </div>
                                    </li>
                                </text>
                            }
                        </ol>
                        <a onclick="return addNewItemToList(this, 'Publications')" class="link-add lk-icon italic link-add-field" href="#">Добавить запись</a>
                    </div>
                </div>
            </div>





        </div>
    </div>
    <div class="row">
        <div class="ctr-buttons button-align mt12 mb5">
            <input type="submit" class="save-button" onclick=" return beforeFormSubmit(this);" value="Сохранить изменения" />
            <a asp-controller="researchers" asp-action="account" class="close-button">Закрыть</a>
        </div>
    </div>
</form>



<div class="b-bottom-nav">
    <a href="/">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>