@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.VacanciesFavoritiesInResearcherIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    @*<a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a>*@
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table">
    <thead>
    <tr>
        <th>
            <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
            </div>
            <div class="inline-block ml6 va-middle">ID конкурса</div></th>
        <th>
            <div class="inline-block"><img src="/images/icons/arrow-bottom-tab.png" class="va-middle"/>
            </div>
            <div class="inline-block ml6 va-middle">Должность</div></th>
        <th>
            <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
            </div>
            <div class="inline-block ml6 va-middle">Заработная<br/> плата
            </div></th>
        <th>
            <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
            </div>
            <div class="inline-block ml6 va-middle">Дата<br/> закрытия
            </div></th>
        <th>
            <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
            </div>
            <div class="inline-block ml6 va-middle">Статус<br/>вакансии
            </div></th>
        <th>
            <div class="inline-block"><!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
            </div>
            <div class="inline-block ml6 va-middle">Статус<br/>заявки
            </div></th>
        <th>
            <div class="pl21 va-middle">Действия</div></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Vacancies != null)
    {
        foreach (var item in Model.Vacancies.Items)
        {
            <text>
                <tr>
                    <td>@item.Guid.ToString().Substring(0, 4)...</td>
                    <td>@item.Name</td>
                    <td>@item.SalaryFrom - @item.SalaryTo руб.</td>
                    <td>@item.DateStartAcceptance.ToLocalVacancyString()</td>
                    <td>
                        <span class="status @item.Status.GetHtmlClass()">
                            @item.Status.GetDescription()
                        </span>
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case VacancyStatus.AppliesAcceptance:
                                <text>
                                    <a asp-controller="applications" asp-action="create" asp-route-vacancyguid="@item.Guid" class="send-request-icon">
                                        <span class="italic">Подать заявку</span>
                                    </a>
                                </text>
                                break;
                            case VacancyStatus.Closed:
                                <text>
                                    <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Guid" target="_blank" class="success-request-icon"><span class="italic">Победитель</span></a>
                                </text>
                                break;
                        }

                    </td>
                    <td>
                        <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Guid" target="_blank" class="view-td-icon" title="Просмотр вакансии"></a>
                        <a asp-controller="researchers" asp-action="removefavorite" asp-route-vacancyguid="@item.Guid" target="_blank" class="close-td-icon" title="Убрать из избранных"></a>
                    </td>
                </tr>
            </text>
        }
    }
    </tbody>
</table>

<div pagedlist="Model.Vacancies"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>