@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.NotificationsInResearcherIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    @*<a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a>*@
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
    @*<a href="#" class="mail-td-icon"></a><a href="#"><span class="italic">Оповещения выключить</span></a>
    <a href="#" class="unmail-td-icon"></a><a href="#"><span class="italic">Оповещения включить</span></a>*@
</div>

<table class="table request-table tbl-vac">
    <thead>
        <tr>
            <th>
                <div class="inline-block">
                </div>
                <div class="inline-block ml6 va-middle">№</div>
            </th>
            <th width="130">
                <a class="sort-order" href="@(Context.Request.Path.Value+"?"+Context.Request.ToQueryStringDictionary().SetDefaultOrInvertOrderParameter(ConstTerms.OrderByFieldCreationDate).CreateString())">
                    <div class="inline-block">
                        <img src="@Context.Request.GetOrderIcon()" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">
                        Дата
                    </div>
                </a>
            <th>
                <div class="pl21 va-middle">Вакансии</div>
            </th>
            <th>
                <div class="pl21 va-middle">Текст</div>
            </th>
            <th width="110">
                <div class="va-middle lh30">Действия</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PagedItems != null)
        {
            var i = Model.PagedItems.FirstRowIndexOnPage - 1;
            foreach (var item in Model.PagedItems.Items)
            {
                i += 1;
                <text>
                <tr>
                    <td class="bold">@i</td>
                    <td class="bold">@item.creation_date.ToLocalVacancyDateString()</td>
                    <td class="bold">
                        <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.vacancy_guid">Вакансия</a>
                    </td>
                    <td>
                        <span class="italic bold">@item.title</span>
                    </td>
                    <td>
                        @if (item.status != NotificationStatus.Read && item.status != NotificationStatus.Removed)
                        {
                            <a asp-controller="notifications" asp-action="marknotificationread" asp-route-notificationguids="@item.guid" class="view-td-icon" title="Пометить как прочитанное"></a>
                        }

                        @if (item.status != NotificationStatus.Removed)
                        {
                            <a asp-controller="notifications" asp-action="delete" asp-route-notificationguids="@item.guid" class="-td-icon" title="Удалить сообщение"></a>
                        }
                    </td>
                </tr>
                </text>
            }
        }

    </tbody>
</table>

<div pagedlist="Model.PagedItems"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>