@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Controllers
@model SciVacancies.WebApp.ViewModels.SearchSubscriptionsInResearcherIndexViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="researchers" asp-action="account">Личная карточка</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>Личная карточка пользователя</h3>

@Component.Invoke("AccountTabs", typeof(ResearchersController))

<h4>@ViewBag.Title</h4>

<div class="table-control">
    <!-- <a href="#" class="close-table"><span class="italic">Очистить фильтры</span></a> -->
    <a href="@Context.Request.Path.Value" class="reload-table"><span class="italic">Обновить список</span></a>
</div>

<table class="table request-table tbl-vac">
    <thead>
        <tr>
            <th>
                <div class="inline-block">
                    <!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
                </div>
                <div class="inline-block ml6 va-middle">№</div>
            </th>
            <th>
                <div class="inline-block">
                    <img src="/images/icons/arrow-bottom-tab.png" class="va-middle" />
                </div>
                <div class="inline-block ml6 va-middle">Название подписки (поискового запроса)</div>
            </th>
            <th>
                <div class="inline-block">
                    <!-- <img src="/images/icons/tab-head.png" class="va-middle"/> -->
                </div>
                <div class="inline-block ml6 va-middle">Дата создания</div>
            </th>
            <th>
                <div class="pl21 va-middle">Оповещения</div>
            </th>
            <th width="200">
                <div class="pl21 va-middle">Действия</div>
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.PagedItems != null)
        {
            foreach (var item in Model.PagedItems.Items)
            {
                <text>
                <tr>
                    <td>@item.guid.ToString().Substring(0, 4)</td>
                    <td>@item.title</td>
                    <td>@item.creation_date.ToLocalVacancyString()</td>
                    <td>
                        @if (item.status == SearchSubscriptionStatus.Active)
                        {
                            <a asp-controller="subscriptions" asp-action="cancel" asp-route-id=@item.guid class="mail-td-icon" title="Оповещения отключить"></a>
                        }
                        else
                        {
                            <a asp-controller="subscriptions" asp-action="activate" asp-route-id=@item.guid  class="unmail-td-icon" title="Оповещения включить"></a>
                        }
                    </td>
                    <td>
                        <a asp-controller="subscriptions" asp-action="details" asp-route-id="@item.guid" class="view-td-icon" title="Выполнить поиск по подписке"></a>
                        <a asp-controller="subscriptions" asp-action="delete" asp-route-id=@item.guid class="close-td-icon" title="Удалить" onclick="javascript: return confirm('Вы уверены что хотите удалить текущую подписку?');"></a>
                    </td>
                </tr>
                </text>
            }
        }
    </tbody>
</table>

<div pagedlist="Model.PagedItems"
     request="Context.Request">
</div>

<div class="b-bottom-nav">
    <a htef="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="researchers" asp-action="account" class="small-icon icon-prev">Личная карточка</a>
</div>