@using System.Threading.Tasks
@model SciVacancies.WebApp.ViewModels.IndexViewModel

<!--<div class="crumbs">
    @ViewBag.Title
    @Context.User.Identity.Name
</div>-->

<div class="row-block">
    <div class="row-2">

        <div class="align-right f0">
            <ul class="tabs-toggle inline-block">
                <li class="tabs-toggle__item active">
                    <a href="#vac-day" data-toggle="tab" class="vac-day tab_icon"></a>
                </li>
                <li class="tabs-toggle__item">
                    <a href="#work-org" data-toggle="tab" class="work-org tab_icon"></a>
                </li>
                <li class="tabs-toggle__item">
                    <a href="#vac-sci" data-toggle="tab" class="vac-sci tab_icon"></a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="vac-day">
                <h4>Вакансии дня</h4>
                <div class="b-items">

                    @foreach (var item in Model.VacanciesList.Items)
                    {
                        <text>
                        <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Guid" class="b-item bg_blue">
                            <div class="b-item__title top_title bg_lblue">
                                <div class="line_three">@item.Name.Substring(0, Math.Min(item.Name.Length, 50))@(item.Name.Length > 50 ? "..." : null)</div>
                            </div>
                            <div class="b-item__content vac_item">
                                <div class="cell-middle">
                                    <div class="b-vacan__price">@item.SalaryFrom – @item.SalaryTo руб.</div>
                                    <span class="b-vacan__desc">@item.OrganizationName</span>
                                </div>
                                <div class="helper"></div>
                            </div>
                        </a>
                        </text>
                    }
                </div>
                <a asp-controller="search" asp-route-order="">
                    <span class="small-icon icon-sm-eye inline-block ml6"><span>Показать все</span></span>
                </a>
            </div>
            <div class="tab-pane" id="work-org">
                <h4>Работа в организациях</h4>
                <div class="b-items">
                    @foreach (var item in Model.OrganizationsList.Items)
                    {
                        <text>
                        <a asp-controller="organizations" asp-action="card" asp-route-id="@item.Guid" class="b-item bg_blue">
                            <div class="b-item__content work_org_item">
                                <img src="/images/mgu.png" alt="" class="cell-middle">
                                <div class="helper"></div>
                            </div>
                            <div class="b-item__title bottom_title bg_lblue">
                                <div class="line_four">
                                    @item.Name
                                </div>
                            </div>
                        </a>
                        </text>
                    }

                </div>
                @*<a asp-controller="search" asp-route-order="">
                        <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
                    </a>*@
            </div>

            <div class="tab-pane" id="vac-sci">
                <h4>Вакансии по областям науки</h4>

                <div class="b-items-category panel-group" id="accordion">
                    @for (var i = 0; i < Model.ResearchDirections[0].Childs.Count; i++)
                    {
                        var child = Model.ResearchDirections[0].Childs[i];
                        <text>
                        <div class="item-category panel panel-default">
                            <div class="item-category__title panel-heading" role="tab" id="heading_@child.Id">
                                <a class="item-category__title-elem" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@child.Id" aria-expanded="false" aria-controls="collapse_@child.Id">
                                    @child.Title
                                </a>
                            </div>
                            <div id="collapse_@child.Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_@child.Id">

                                <div class="item-category__search">
                                    <input type="text" class="item-category__input" placeholder="Поиск по научным направлениям" />
                                    <div class="search-comment-italic">В данной категории – #### вакансий</div>
                                </div>

                                <ul class="tabs item-category__tabs jshelper-parent-of-tabs">
                                    @for (var j = 0; j < child.Childs.Count; j++)
                                    {
                                        var innerItem = child.Childs[j];
                                        <text>
                                        <li class="@(j == 0 ? "active" : string.Empty) jshelper-sub-research-directions" data-tabname="jshelper-list-sections-science_@innerItem.Id">
                                            <span>@innerItem.Title</span>
                                        </li>
                                        </text>
                                    }
                                </ul>


                                @for (var j = 0; j < child.Childs.Count; j++)
                                {
                                    var innerItem = child.Childs[j];
                                    <text>
                                    <div class="b-directions jshelper-list-sections-science" id="jshelper-list-sections-science_@innerItem.Id" @(j != 0 ? @"style=display:none;" : string.Empty)>
                                        @foreach (var innerInnerItem in innerItem.Childs.OrderBy(c => c.Title))
                                        {
                                            <text>
                                            <div class="item-direction">
                                                <a asp-controller="search" asp-action="index" asp-route-researchdirections="@innerInnerItem.Id" class="item-direction__title">
                                                    @innerInnerItem.Title
                                                </a>
                                                <div class="item-direction__desc">
                                                    <div>
                                                        1256 вакансий
                                                    </div>
                                                    Средняя заработная плата – 67000 руб.
                                                </div>
                                            </div>
                                            </text>
                                        }
                                    </div>
                                    </text>
                                }


                            </div>
                        </div>
                        </text>
                    }

                </div>
            </div>
        </div>
    </div>


    <div class="row-2">

        <div class="b-search">
            <form asp-controller="search" asp-action="index" method="GET">
                <input class="search-input" type="text" name="search" placeholder="поиск по порталу" value="@ViewBag.Search"/>
                <span class="search-button search-button__icon">
                    <input type="submit" value="" class="search-button__submit">
                </span>
            </form>
        </div>

        <h4>Вакансии в графиках</h4>

        <ul class="tabs tabs_after_title">
            <li class="active">
                <span>День</span>
            </li>
            <li>
                <span>Неделя</span>
            </li>
            <li>
                <span>Месяц</span>
            </li>
        </ul>

        <div class="graphics">
            <div class="graphics-item">
                <div class="title-graphic">Число вакансий ( среднее предложение в месяц )</div>
                <div class="image">
                    <img src="/images/index-gr1.jpg" style="margin-top: 5px;">
                </div>
                <ul class="graph-details">
                    <li class="color1"><span>Руководители групп структурных подразделений</span></li>
                    <li class="color2"><span>Руководители структурных подразделений</span></li>
                    <li class="color3"><span>Сотрудники</span></li>
                    <li class="color4"><span>Прочие</span></li>
                </ul>
            </div>

            <div class="graphics-item">
                <div class="title-graphic">Средняя зарплата и количество вакансий</div>
                <div class="image"><img src="/images/index-gr2.jpg"></div>
                <ul class="graph-details">
                    <li class="color3"><span>Средняя заработная плата</span></li>
                    <li class="color1"><span>Количество вакансий</span></li>
                </ul>
                <div class="graph-region-select-block">
                    <div tabindex="0" style="width: 124px" id="cuselFrame-region" class="cusel graph-region-select  cuselScrollArrows">
                        <div class="cuselFrameRight"></div>
                        <div class="cuselText">Выбор региона</div>
                        <div class="cusel-scroll-wrap" style="display: none; visibility: visible;">
                            <div id="cusel-scroll-region" class="cusel-scroll-pane">
                                <span val="1" class="cuselActive" style="">Выбор региона</span>
                                <span val="2">Выбор региона 1</span>
                                <span val="3">Выбор региона 2</span>
                            </div>
                        </div><input type="hidden" value="1" name="region" id="region">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>