@using System.Threading.Tasks
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.IndexViewModel
<div class="crumbs">
    @ViewBag.Title
    @Context.User.Identity.Name
</div>

<div class="b-list-vac">
    <div class="row-2">
        <h4>Работа в организациях</h4>
        <div class="b-vacancies">

            @foreach (var item in Model.OrganizationsList.Items)
            {
                <text>
                <a asp-controller="organizations" asp-action="card" asp-route-id="@item.Guid" class="row-4">
                    @*<img class="img-vac" src="/images/im.jpg">*@
                    <span class="text-vac">
                        @item.Name
                    </span>
                </a>
                </text>
            }

        </div>
        @*<a asp-controller="search" asp-route-order="">
                <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
            </a>*@
    </div>
    <div class="row-2">
        <h4>Вакансии дня</h4>
        <div class="b-vacancies b-vacancies-day">

            @foreach (var item in Model.VacanciesList.Items)
            {
                <text>
                <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Guid" class="row-4">
                    <div class="iblock-middle">
                        <div class="title-vac">@item.Name</div>
                        <div class="sal-vac">@item.SalaryFrom – @item.SalaryTo руб.</div>
                        <p>@item.OrganizationName</p>
                        <p>
                            (статус вакансии: @item.Status.GetDescription().ToLower())
                        </p>
                    </div>
                </a>
                </text>
            }
        </div>
        @*<a asp-controller="search" asp-route-order="">
                <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
            </a>*@
    </div>
</div>

<div class="b-tabs">
    <h4 class="mb10">Вакансии по областям науки</h4>

    <ul class="nav nav-tabs" id="tab">
        @for (var i = 0; i < Model.ResearchDirections[0].Childs.Count; i++)
        {
            var item = Model.ResearchDirections[0].Childs[i];
            <li class="@(i==0? "active":string.Empty)">
                <a href="#ResearchDirection_@item.Id">
                    @item.Title
                </a>
            </li>
        }
    </ul>


    <div class="tab-content tab-content-main-page">

        @foreach (var item in Model.ResearchDirections[0].Childs.Where(c => c.Childs.Count > 0))
        {
            <text>
            <div class="tab-pane active" id="ResearchDirection_@item.Id">

                @*<div class="float-right">
                        <input type="text" placeholder="Поиск по научным направлениям" />
                    </div>*@

                <h4>@item.Title</h4>

                <ul class="tabs">
                    @for (int i = 0; i < item.Childs.Count; i++)
                    {
                        var innerItem = item.Childs[i];
                        <text>
                        <li class="sub-research-directions @(i == 0 ? "active" : string.Empty)" data-tabname="list-sections-science_@innerItem.Id">
                            <span>@innerItem.Title</span>
                        </li>
                        </text>
                    }
                </ul>

                @for (int i = 0; i < item.Childs.Count; i++)
                {
                    var innerItem = item.Childs[i];
                    <text>
                    <ul class="list-sections-science" id="list-sections-science_@innerItem.Id" @(i != 0 ? @"style=display:none;" : string.Empty)>
                        @foreach (var innerInnerItem in innerItem.Childs)
                        {
                            <li>
                                <a href="#">@innerInnerItem.Title</a>
                                <p>1256 вакансий</p>
                                <p>Средняя заработная плата – 67000 руб.</p>
                            </li>
                        }
                    </ul>
                    </text>
                }
            </div>
            </text>
        }


    </div>
</div>


<div class="b-graphics">
    <h4>Вакансии в графиках</h4>

    <ul class="tabs">
        <li class="active">
            <span>День</span>
        </li>
        <li>
            <span>Неделя</span>
        </li>
        <li>
            <span>Месяц</span>
        </li>
    </ul>

    <div class="graphics">
        <div class="row-2">
            <div class="title-graphic">Число вакансий ( среднее предложение в месяц )</div>
            <div class="image"><img style="margin-top: 5px;" src="/images/graph1.png" /></div>
            <style>
                .graph-details {
                    margin: 7px 0 0 36px;
                }

                    .graph-details li:before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 8px;
                    }

                    .graph-details li.color1:before {
                        background-color: #041833;
                    }

                    .graph-details li.color2:before {
                        background-color: #06365c;
                    }

                    .graph-details li.color3:before {
                        background-color: #3a5e90;
                    }

                    .graph-details li.color4:before {
                        background-color: #d8e1e9;
                    }

                    .graph-details li span {
                        font-size: 10px;
                        font-family: Arial;
                        line-height: 16px;
                    }

                .graph-region-select-block {
                    margin: 10px 0 0 38px;
                    width: 372px;
                }
            </style>
            <ul class="graph-details">
                <li class="color1"><span>Руководители групп структурных подразделений</span></li>
                <li class="color2"><span>Руководители структурных подразделений</span></li>
                <li class="color3"><span>Сотрудники</span></li>
                <li class="color4"><span>Прочие</span></li>
            </ul>
        </div>

        <div class="row-2">
            <div class="title-graphic">Средняя зарплата и количество вакансий</div>
            <div class="image"><img src="/images/graph2.png" /></div>
            <ul class="graph-details">
                <li class="color3"><span>Средняя заработная плата</span></li>
                <li class="color1"><span>Количество вакансий</span></li>
            </ul>
            <div class="graph-region-select-block">
                <select name="region" class="graph-region-select" id="region">
                    <option value="1">Выбор региона</option>
                    <option value="2">Выбор региона 1</option>
                    <option value="3">Выбор региона 2</option>
                </select>
            </div>
        </div>
    </div>
    <!--img src="/images/graph.png"/-->
</div>