@using System.Threading.Tasks
@model SciVacancies.WebApp.ViewModels.IndexViewModel
<div class="crumbs">
    @ViewBag.Title
</div>

<div class="b-list-vac">
    <div class="row-2">
        <h4>Работа в организациях</h4>
        <div class="b-vacancies">

            @foreach (var item in Model.OrganizationsList.Items)
            {
                <text>
                <a asp-controller="organizations" asp-action="card" asp-route-id="@item.Guid" class="row-4">
                    @*<img class="img-vac" src="/images/im.jpg">*@
                    <span class="text-vac">
                        @item.Name
                    </span>
                </a>
                </text>
            }

        </div>
        <a asp-controller="search" asp-route-order="">
            <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
        </a>
    </div>
    <div class="row-2">
        <h4>Вакансии дня</h4>
        <div class="b-vacancies b-vacancies-day">

            @foreach (var item in Model.VacanciesList.Items)
            {
                <text>
                <a asp-controller="vacancies" asp-action="details" asp-route-id="@item.Guid" class="row-4">
                    <div class="iblock-middle">
                        <div class="title-vac">@item.Name</div>
                        <div class="sal-vac">@item.SalaryFrom – @item.SalaryTo руб.</div>
                        <p>@item.OrganizationName</p>
                    </div>
                </a>
                </text>
            }
        </div>
        <a asp-controller="vacancies" asp-action="search">
            <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
        </a>
    </div>
</div>

<div class="b-tabs">
    <h4 class="mb10">Вакансии по областям науки</h4>

    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a href="#natural">Естественные</a>
        </li>
        <li>
            <a href="#medical">Медицинские</a>
        </li>
        <li>
            <a href="#humanities">Гуманитарные</a>
        </li>
        <li>
            <a href="#technical">Технические</a>
        </li>
        <li>
            <a href="#social">Социальные</a>
        </li>
        <li>
            <a href="#agricultural">Сельскохозяйственные</a>
        </li>
    </ul>

    <div class="tab-content tab-content-main-page">
        <div class="tab-pane active" id="natural">

            <div class="float-right">
                <input type="text" placeholder="Поиск по научным направлениям" />
            </div>

            <h4>Естественные и точные науки</h4>

            <div class="read-italic">В данной категории – 2681110 вакансий</div>

            <ul class="tabs">
                <li class="active">
                    <span>Науки о Земле и смежные экологические науки	</span>
                </li>
                <li>
                    <span>Математика</span>
                </li>
                <li>
                    <span>Компьютерные и информационные науки</span>
                </li>
                <li>
                    <span>Биологические науки</span>
                </li>
                <li>
                    <span>Химические науки</span>
                </li>
                <li>
                    <span>Физика и Астрономия</span>
                </li>
                <li>
                    <span>Прочие естественные науки</span>
                </li>
            </ul>

            <ul class="list-sections-science">
                <li>
                    <a href="#">Океанография</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Водные ресурсы</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Минералогия</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Палеонтология</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Геология</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Науки о земле – междисциплинарные</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Физическая география</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Геохимия и геофизика</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Науки об окружающей среде</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Геоинформационные системы</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
                <li>
                    <a href="#">Метеорология и науки об атмосфере</a>
                    <p>1256 вакансий</p>
                    <p>Средняя заработная плата – 67000 руб.</p>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="medical">
            <h4>Медицинские науки</h4>
        </div>
        <div class="tab-pane" id="humanities">
            <h4>Гуманитарные науки</h4>
        </div>
        <div class="tab-pane" id="technical">
            <h4>Технические науки</h4>
        </div>
        <div class="tab-pane" id="social">
            <h4>Социальные науки</h4>
        </div>
        <div class="tab-pane" id="agricultural">
            <h4>Сельскохозяйственные науки</h4>
        </div>
    </div>
</div>

<div class="b-graphics">
    <h4>Вакансии в графиках</h4>

    <ul class="tabs">
        <li class="active">
            <span>День</span>
        </li>
        <li>
            <span>Неделя</span>
        </li>
        <li>
            <span>Месяц</span>
        </li>
    </ul>

    <div class="graphics">
        <div class="row-2">
            <div class="title-graphic">Число вакансий ( среднее предложение в месяц )</div>
            <div class="image"><img style="margin-top: 5px;" src="/images/graph1.png" /></div>
            <style>
                .graph-details {
                    margin: 7px 0 0 36px;
                }

                    .graph-details li:before {
                        content: "";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 8px;
                    }

                    .graph-details li.color1:before {
                        background-color: #041833;
                    }

                    .graph-details li.color2:before {
                        background-color: #06365c;
                    }

                    .graph-details li.color3:before {
                        background-color: #3a5e90;
                    }

                    .graph-details li.color4:before {
                        background-color: #d8e1e9;
                    }

                    .graph-details li span {
                        font-size: 10px;
                        font-family: Arial;
                        line-height: 16px;
                    }

                .graph-region-select-block {
                    margin: 10px 0 0 38px;
                    width: 372px;
                }
            </style>
            <ul class="graph-details">
                <li class="color1"><span>Руководители групп структурных подразделений</span></li>
                <li class="color2"><span>Руководители структурных подразделений</span></li>
                <li class="color3"><span>Сотрудники</span></li>
                <li class="color4"><span>Прочие</span></li>
            </ul>
        </div>

        <div class="row-2">
            <div class="title-graphic">Средняя зарплата и количество вакансий</div>
            <div class="image"><img src="/images/graph2.png" /></div>
            <ul class="graph-details">
                <li class="color3"><span>Средняя заработная плата</span></li>
                <li class="color1"><span>Количество вакансий</span></li>
            </ul>
            <div class="graph-region-select-block">
                <select name="region" class="graph-region-select" id="region">
                    <option value="1">Выбор региона</option>
                    <option value="2">Выбор региона 1</option>
                    <option value="3">Выбор региона 2</option>
                </select>
            </div>
        </div>
    </div>
    <!--img src="/images/graph.png"/-->
</div>