@using System.Threading.Tasks
@model SciVacancies.WebApp.ViewModels.IndexViewModel

<!--<div class="crumbs">
    @ViewBag.Title
    @Context.User.Identity.Name
</div>-->

<div class="row-block">
    <div class="row-2">

        <div class="align-right f0">
            <ul class="tabs-toggle inline-block">
                <li class="tabs-toggle__item active">
                    <a href="#vac-day" data-toggle="tab" class="vac-day tab_icon"></a>
                </li>
                <li class="tabs-toggle__item">
                    <a href="#work-org" data-toggle="tab" class="work-org tab_icon"></a>
                </li>
                <li class="tabs-toggle__item">
                    <a href="#vac-sci" data-toggle="tab" class="vac-sci tab_icon"></a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="vac-day">
                <h4>Вакансии дня @ViewBag.test</h4>
                <div class="b-items">

                    @if (Model.VacanciesList != null)
                    {
                        foreach (var item in Model.VacanciesList.Items)
                        {
                            <text>
                            <a asp-controller="vacancies" asp-action="card" asp-route-id="@item.Guid" class="b-item bg_blue">
                                <div class="b-item__title top_title bg_lblue">
                                    <div class="line_three">@item.Name.Substring(0, Math.Min(item.Name.Length, 50))@(item.Name.Length > 50 ? "..." : null)</div>
                                </div>
                                <div class="b-item__content vac_item">
                                    <div class="cell-middle">
                                        <div class="b-vacan__price">@item.SalaryFrom – @item.SalaryTo руб.</div>
                                        <span class="b-vacan__desc">@item.OrganizationName</span>
                                    </div>
                                    <div class="helper"></div>
                                </div>
                            </a>
                            </text>
                        }
                    }
                </div>
                <a asp-controller="search" asp-route-order="">
                    <span class="small-icon icon-sm-eye inline-block ml6"><span>Показать все</span></span>
                </a>
            </div>
            <div class="tab-pane" id="work-org">
                <h4>Работа в организациях</h4>
                <div class="b-items">
                    @if (Model.OrganizationsList != null)
                    {
                        foreach (var item in Model.OrganizationsList.Items)
                        {
                            <text>
                            <a asp-controller="organizations" asp-action="card" asp-route-id="@item.Guid" class="b-item bg_blue">
                                <div class="b-item__content work_org_item">
                                    <img src="/images/building-default.png" alt="" class="cell-middle">
                                    <div class="helper"></div>
                                </div>
                                <div class="b-item__title bottom_title bg_lblue">
                                    <div class="line_four">
                                        @item.Name
                                    </div>
                                </div>
                            </a>
                            </text>
                        }
                    }
                </div>
                @*<a asp-controller="search" asp-route-order="">
                        <span class="small-icon icon-sm-eye inline-block ml9 mt13"><span>Показать все</span></span>
                    </a>*@
            </div>

            @*<div class="tab-pane" id="vac-sci">
                <h4>Вакансии по областям науки</h4>

                <div class="b-items-category panel-group" id="accordion">
                    <cache expires-after="@TimeSpan.FromMinutes(90)">
                        @Html.Partial("_HomeIndexResearchDirections", Model)
                    </cache>
                </div>
            </div>*@
        </div>
    </div>


    <div class="row-2">

        <div class="b-search">
            <form asp-controller="search" asp-action="index" method="GET">
                <input class="search-input" type="text" name="search" placeholder="поиск по порталу" value="@ViewBag.Search" />
                <span class="search-button search-button__icon">
                    <input type="submit" value="" class="search-button__submit">
                </span>
            </form>
        </div>

        <cache expires-after="@TimeSpan.FromSeconds(2)">
            @Html.Partial("_HomeIndexGraphics", Model)
        </cache>

    </div>

</div>
