@using System.Threading.Tasks
@using SciVacancies.WebApp.ViewModels
@model VacancyCreateViewModel

<div asp-validation-summary="ValidationSummary.All"></div>

<form class="l-application">
    <input type="hidden" asp-anti-forgery="true" />
    <input asp-for="ToPublish" />
    <input asp-for="OrganizationGuid" />
    <input asp-for="Guid" />

    <div class="row">
        <div class="bold row-title">Специализация:</div>
        <div class="table-form">

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Должность:</label>
                </div>
                <div class="right-cell">
                    <input type="text" disabled asp-for="PositionType" clas="big-input" />
                    <a onclick="javascript: return false;" class="link-add lk-icon italic open-popup" data-modal="PositionTypeId">Выбрать должность</a>
                    <input type="hidden" asp-for="PositionTypeId" />
                    <span asp-validation-for="PositionTypeId"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Наименование:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="Name" class="big-input" data-setnewvalue="PositionType" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Полное наименование:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="FullName"></textarea>
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>

            <div class="table-row form-row ">
                <!--mt35-->
                <div class="left-cell">
                    <label>Отрасль науки:</label>
                </div>
                <div class="right-cell">
                    <input type="text" disabled asp-for="ResearchDirection" clas="big-input" />
                    <a onclick="javascript: return false;" class="link-add lk-icon italic open-popup" data-modal="ResearchDirectionId">Добавить из Государственного рубрикатора научно-технической информации</a>
                    <input type="hidden" asp-for="ResearchDirectionId" />
                    <span asp-validation-for="ResearchDirectionId"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Тематика исследований:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="ResearchTheme"></textarea>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Дата окончания <br /> приема заявок:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="InCommitteeDate" class="small-input datepicker-vacancy" Value="@Model.InCommitteeDate.ToString("dd.MM.yyyy")" />
                    <span asp-validation-for="InCommitteeDate"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="bold row-title">Место:</div>
        <div class="table-form">

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Регион:</label>
                </div>
                <div class="right-cell">
                    <input type="text" disabled asp-for="Region" clas="big-input" />
                    <a onclick="javascript: return false;" class="link-add lk-icon italic open-popup" data-modal="RegionId">Выбрать регион</a>
                    <input type="hidden" asp-for="RegionId" />
                    <span asp-validation-for="RegionId"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Населенный пункт:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="CityName" class="big-input" />
                    <span asp-validation-for="CityName"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="bold row-title">Задачи и критерии:</div>
        <div class="table-form">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Задачи:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="Tasks"></textarea>
                    <span asp-validation-for="Tasks"></span>
                </div>
            </div>


            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Критерии оценки:</label>
                </div>
                <div class="right-cell">


                    <div class="lnk-container">
                        <span class="small-icon icon-hsm-eye">Показать все (@Model.CriteriasHierarchy.Count)</span>
                        <span class="small-icon icon-sm-eye" style="display: none;">Скрыть все (@Model.CriteriasHierarchy.Count)</span>
                    </div>


                    @for (int groupIndex = 0; groupIndex < Model.CriteriasHierarchy.Count; groupIndex++)
                    {
                        var @group = Model.CriteriasHierarchy[groupIndex];
                        <div class="b-publication">

                            <input type="hidden" name="CriteriasHierarchy.Index" value="@groupIndex" />
                            <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Id" />
                            <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Title" />

                            <span class="name-section">@group.Title (@group.Items.Count)</span>
                            <div class="list-fields">

                                @for (int itemIndex = 0; itemIndex < @group.Items.Count; itemIndex++)
                                {
                                    var item = @group.Items[itemIndex];
                                    <div>
                                        <input type="hidden" name="CriteriasHierarchy[groupIndex].Items.Index" value="@itemIndex" />
                                        <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Items[itemIndex].Id" />
                                        <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Items[itemIndex].ParentId" />
                                        <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Items[itemIndex].Code" />
                                        <input type="hidden" asp-for="CriteriasHierarchy[groupIndex].Items[itemIndex].Title" />

                                        <div class="field">
                                            <input type="number" asp-for="CriteriasHierarchy[groupIndex].Items[itemIndex].Count" />
                                            <span>@item.Title (шт.)</span>
                                        </div>

                                    </div>
                                }
                            </div>

                        </div>
                    }


                </div>
            </div>

        </div>
    </div>






    <div class="row">
        <div class="bold row-title">Условия:</div>
        <div class="table-form">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Зарплата в месяц:</label>
                </div>
                <div class="right-cell interval">
                    <span class="italic fs14">от</span>
                    <input type="text" asp-for="SalaryFrom" class="small-input" />
                    <span class="italic fs14">до</span>
                    <input type="text" asp-for="SalaryTo" class="small-input" />
                    <div class="inline-block w60 sorting va-top">
                        <select name="6" id="6" disabled="disabled">
                            <option value="руб." selected="selected">руб.</option>
                            <option value="usd.">usd.</option>
                            <option value="eur.">eur.</option>
                        </select>
                    </div>
                    <span asp-validation-for="SalaryFrom"></span>
                    <span asp-validation-for="SalaryTo"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Стимулирующие выплаты:</label>
                </div>
                <div class="right-cell">
                    <input type="text" asp-for="Bonuses" class="big-input" />
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Трудовой договор:</label>
                </div>
                <div class="right-cell">
                    <div class="inline-block w290 sorting">
                        <select asp-for="ContractTypeValue"
                                asp-items="Model.ContractTypes"></select>
                        <span asp-validation-for="ContractTypeValue"></span>
                    </div>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>
                        Срок трудового договора
                        <br />
                        (для срочного договора):
                    </label>
                </div>
                <div class="right-cell interval">
                    <input asp-for="ContractTimeYears" class="small-input" />
                    <span class="italic fs14">лет</span>
                    <input asp-for="ContractTimeMonths" class="small-input" />
                    <span class="italic fs14">месяцев</span>
                    <span asp-validation-for="ContractTimeYears"></span>
                    <span asp-validation-for="ContractTimeMonths"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                </div>
                <div class="right-cell">
                    <ul class="list-checkboxes">
                        <li>
                            <span class="checkbox @(Model.SocialPackage ? "checked" : "")">
                                <input asp-for="SocialPackage" />
                            </span><label asp-for="SocialPackage">Социальный пакет</label>
                        </li>
                        <li>
                            <span class="checkbox @(Model.Rent ? "checked" : "")">
                                <input asp-for="Rent" />
                            </span><label asp-for="Rent">Найм жилья</label>
                        </li>
                        <li>
                            <span class="checkbox @(Model.OfficeAccomodation ? "checked" : "")">
                                <input asp-for="OfficeAccomodation" />
                            </span><label asp-for="OfficeAccomodation">Служебное жильё</label>
                        </li>
                        <li>
                            <span class="checkbox @(Model.TransportCompensation ? "checked" : "")">
                                <input asp-for="TransportCompensation" />
                            </span><label asp-for="TransportCompensation">Компенсация проезда</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Дополнительно:</label>
                </div>
                <div class="right-cell">
                    <textarea as-for="details"></textarea>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Тип занятости:</label>
                </div>
                <div class="right-cell">
                    <div class="inline-block w290 sorting">
                        <select asp-for="EmploymentType"
                                asp-items="Model.EmploymentTypes"></select>
                        <span asp-validation-for="EmploymentType"></span>
                    </div>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Режим работы:</label>
                </div>
                <div class="right-cell">
                    <div class="inline-block w290 sorting">
                        <select asp-for="OperatingScheduleType"
                                asp-items="Model.OperatingScheduleTypes"></select>
                        <span asp-validation-for="OperatingScheduleType"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="bold row-title">Лицо для получения дополнительных справок:</div>
        <div class="table-form">
            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Фамилия, имя, отчество:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ContactName" class="big-input" />
                    <span asp-validation-for="ContactName"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>E-mail:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ContactEmail" class="big-input" />
                    <span asp-validation-for="ContactEmail"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Телефон:</label>
                </div>
                <div class="right-cell">
                    <input asp-for="ContactPhone" class="big-input" />
                    <span asp-validation-for="ContactPhone"></span>
                </div>
            </div>

            <div class="table-row form-row">
                <div class="left-cell">
                    <label>Дополнительно:</label>
                </div>
                <div class="right-cell">
                    <textarea asp-for="ContactDetails"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ctr-buttons button-align">
            <input type="submit" class="success-btn middle-icon icon-ok" onclick="javascript: vacancySaveOptions({ publish: true });" value="Сохранить и опубликовать" />
            <input type="submit" class="success-blue-btn middle-icon icon-ok" onclick="javascript: vacancySaveOptions({ saveDraft: true });" value="Сохранить как черновик" />
            <a asp-controller="organizations" asp-action="vacancies">
                <span class="blue-btn middle-icon icon-close">Закрыть</span>
            </a>
        </div>
    </div>
</form>



<div class="window-popup middle" style="display: none;" data-name="PositionTypeId">
    <span class="close-popup"></span>
    <div class="title-popup">
        <h4>Выбор должности</h4>
    </div>
    <div class="content-popup" style="overflow: scroll;">
        <div>
            @foreach (var item in Model.PositionTypes.OrderBy(c => c.Text))
            {
                <text>
                <a href="#" onclick="javascript: return selectedItemFromModalDictionary('PositionTypeId', 'PositionType','@item.Value', '@item.Text');">
                    @item.Text
                </a>

                <br />
                <br />

                </text>
            }
        </div>
    </div>
</div>

<div class="window-popup middle" style="display: none;" data-name="ResearchDirectionId">
    <span class="close-popup"></span>
    <div class="title-popup">
        <h4>Выбор отрасли науки</h4>
    </div>
    <div class="content-popup" style="overflow: scroll;">
        <div>
            @foreach (var item in Model.ResearchDirections.OrderBy(c => c.Text))
            {
                <text>
                <a href="#" onclick="javascript: return selectedItemFromModalDictionary('ResearchDirectionId', 'ResearchDirection','@item.Value', '@item.Text');">
                    @item.Text
                </a>

                <br />
                <br />

                </text>
            }
        </div>
    </div>
</div>

<div class="window-popup middle" style="display: none;" data-name="RegionId">
    <span class="close-popup"></span>
    <div class="title-popup">
        <h4>Выбор должности</h4>
    </div>
    <div class="content-popup" style="overflow: scroll;">
        <div>
            @foreach (var item in Model.Regions)
            {
                <text>
                <a href="#" onclick="javascript: return selectedItemFromModalDictionary('RegionId', 'Region','@item.Value', '@item.Text');">
                    @item.Text
                </a>

                <br />
                <br />

                </text>
            }
        </div>
    </div>
</div>