@using System.Threading.Tasks
@using SciVacancies
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="card" asp-route-id="@Model.OrganizationGuid">Карточка организации</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID @Model.Guid.ToString().Substring(0, 4)</h4>
</div>

<div class="content-popup b-buttons">
    @if (User.IsInRole(ConstTerms.RequireRoleOrganizationAdmin))
    {
        <text>
            <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.Guid" class="green-btn middle-icon icon-arr-right default-link">Подробнее</a>
        </text>
    }

    @if (User.IsInRole(ConstTerms.RequireRoleResearcher))
    {

        if (!Model.AppliedByUserApplications.Select(c => c.vacancy_guid).Contains(Model.Guid))
        {
            if (Model.Status == VacancyStatus.Published)
            {
                <text>
                    <a asp-controller="applications" asp-action="create" asp-route-vacancyguid="@Model.Guid" class="green-btn middle-icon icon-arr-right default-link">Подать заявку</a>
                </text>
            }
        }
        

        if (bool.Parse(ViewData["VacancyInFavorites"].ToString()))
        {
            <text>
                <a asp-controller="researchers" asp-action="favorities" class="green-btn middle-icon icon-ok default-link">В избранном</a>
                <a asp-controller="researchers" asp-action="removefavorite" asp-route-vacancyguid="@Model.Guid" class="blue-btn middle-icon icon-close default-link">Убрать из избранных</a>
            </text>
        }
        else
        {
            <text>
                <a asp-controller="researchers" asp-action="addtofavorite" asp-route-vacancyguid="@Model.Guid" class="blue-btn middle-icon icon-favorite default-link">Добавить в избранное</a>
            </text>
        }
    }

    @Component.Invoke("VacancyInfo", Model)

    <div class="b-bottom-nav">
        <a href="/" class="small-icon icon-prev">Главная</a>
        <a asp-controller="organizations" asp-action="card" asp-route-id="@Model.OrganizationGuid" class="small-icon icon-prev">Карточка организации</a>
    </div>

</div>
