@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Карточка организации</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.Guid">@Model.Name</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>

<h4>Вы действительно хотите закрыть вакансию?</h4>

<ul class="list-information">
    <li class="even">
        <span>Вакансия</span>@Model.FullName
    </li>
    <li class="odd">
        <span>Победитель:</span>@Model.Winner.FullName
        @if (Model.PretenderRequestDate.HasValue)
        {
            <text>
            <em>(Предложение отозвано в пользу претендента)</em>
            </text>
        }
    </li>
    @if (Model.Pretender != null)
    {
        <li class="even">
            <span>Претендент:</span>@Model.Pretender.FullName
            @if (Model.Status == VacancyStatus.OfferAcceptedByPretender)
            {
                <text>
                <em>(Претендент принял предложение)</em>
                </text>
            }
        </li>
    }
</ul>

<form asp-controller="vacancies" asp-action="closepost" class="l-application">
    <input type="hidden" asp-anti-forgery="true" />
    <input type="hidden" id="id" name="id" value="@Model.Guid" />
    <div class="row">
        <div class="ctr-buttons button-align">
            <input type="submit" class="blue-btn" value="Подтвердить" />
        </div>
    </div>
</form>

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">Карточка организации</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
    <a asp-controller="vacancies" asp-action="details" asp-route-id="@Model.Guid" class="small-icon icon-prev">@Model.Name</a>
</div>
