@using System.Threading.Tasks
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

@{
    var referer = Context.Request.Headers["referer"];
}
@if (!string.IsNullOrWhiteSpace(referer))
{
    <text>
    <div class="crumbs">
        <a href="@referer.ToLower()">Назад</a><span class="separator">/</span>
        @ViewBag.Title
    </div>
    </text>
}

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID МНС6000567</h4>
</div>

@if (bool.Parse(ViewData["ShowAddFavorite"].ToString()))
{
    <text>
    <a asp-controller="researchers" asp-action="addtofavorite" asp-route-vacancyguid="@Model.Guid" class="success-btn middle-icon">Добавить в избранное</a>
    <br />
    <br />
    </text>
}
@if (bool.Parse(ViewData["VacancyInFavorites"].ToString()))
{
    <text>
    <a asp-controller="researchers" asp-action="favorities" class="success-btn middle-icon">В избранном</a>
    <br />
    <br />
    </text>
}

<div class="content-popup">
    <div class="title-cat-inform">Специализация:</div>
    <ul class="list-information">
        <li class="even">
            <span>Статус:</span>@Model.Status.GetDescription()
        </li>
        <li class="odd">
            <span>Должность:</span>@Model.Name
        </li>
        <li class="even">
            <span>Полное наименование:</span>@Model.FullName
        </li>
        <li class="odd">
            <span>Отрасль науки:</span>@Model.ResearchDirection
        </li>
        <li class="even">
            <span>Тематика исследований:</span>@Model.ResearchTheme
        </li>
    </ul>

    <div class="title-cat-inform">Задачи и критерии:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Задачи:</span>@Model.Tasks
        </li>
        <li class="even">
            <!-- TODO: показать критерии оценки -->
            <del><span>Критерии оценки:</span>@Model.Criteria </del>(в разработке)
        </li>
    </ul>

    <div class="title-cat-inform">Условия:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Заработная плата:</span>@Model.SalaryFrom - @Model.SalaryTo рублей/месяц
        </li>
        <li class="even">
            <span>Стимулирующие выплаты:</span>@Model.Bonuses
        </li>
        <li class="odd">
            <span>Трудовой договор:</span>@Model.ContractType.GetDescription()
        </li>
        <li class="even">
            <span>Социальный пакет:</span>@(Model.SocialPackage ? "Да" : "Нет")
        </li>
        <li class="odd">
            <span>Найм жилья:</span>@(Model.Rent ? "Да" : "Нет")
        </li>
        <li class="even">
            <span>Компенсация проезда:</span>@(Model.TransportCompensation ? "Да" : "Нет")
        </li>
    </ul>

    <div class="title-cat-inform">Лицо для получения дополнительных справок:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Фамилия, имя, отчество:</span>@Model.ContactName
        </li>
        <li class="even">
            <span>E-mail:</span>@Model.ContactEmail
        </li>
        <li class="even">
            <span>Телефон:</span>@Model.ContactPhone
        </li>
    </ul>

    @if (User.IsInRole(ConstTerms.RequireRoleOrganizationAdmin)
                                                                && ViewBag.CurrentOrganizationGuid != null
                                                                && ViewBag.CurrentOrganizationGuid == Model.OrganizationGuid)
    {
        <text>
        <h4 class="mt45 mb12">Поданные заявки</h4>

        <table class="table request-table">
            <thead>
                <tr>
                    <th>
                        <div class="inline-block">
                            <img src="/images/icons/arrow-bottom-tab.png" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">№</div>
                    </th>
                    <th>
                        <div class="inline-block">
                            <img src="/images/icons/tab-head.png" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">Дата подачи заявки</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle lh30">Фамилия, имя, отчество</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle">Победители</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle">Действия</div>
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Applications != null)
                {
                    foreach (var item in Model.Applications.Items)
                    {
                        <text>

                        <tr>
                            <td>@Model.Applications.Items.IndexOf(item)</td>
                            <td>@{ item.SentDate?.ToShortDateString(); }<!--01-09-14, 16:04--></td>
                            <!--TODO: Vacancy -> Applications -> Researcher -> FIO : отобразить полное имя Заявителя-->
                            <td>@*@item.ResearcherGuid.LastName<br />@item.ResearcherGuid.FirstName @item.ResearcherGuid.Patronimic*@ <del style="color: red">не реализовано</del></td>
                            <td class="align-center pl0"></td>
                            <td>
                                <!--TODO: Vacancy -> Applications -> View : просмотреть заявку-->
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <!--TODO: Vacancy -> Applications -> Print: распечатать заявку-->
                                <a asp-controller="applications" asp-action="print" asp-route-id="@Guid.NewGuid()" href="#" class="print-td-icon"></a>
                            </td>
                        </tr>
                        </text>
                        }
                    }

                    @*<tr>
                            <td>001</td>
                            <td>01-09-14, 16:04</td>
                            <td>Глаголев<br />Виктор Александрович</td>
                            <td class="align-center pl0"></td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <a href="#" class="print-td-icon"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>01-09-14, 16:04</td>
                            <td>Лермонторидзе<br /> Мцири Вахтангович</td>
                            <td class="align-center pl0">
                                <div class="td-gr-bg">1</div>
                            </td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <a href="#" class="print-td-icon"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>003</td>
                            <td>01-09-14, 16:04</td>
                            <td>Кочергин-Никитский<br /> Константин Вениаминович</td>
                            <td class="align-center pl0"></td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <a href="#" class="print-td-icon"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>004</td>
                            <td>01-09-14, 16:04</td>
                            <td>Беляев<br /> Евгений Петрович</td>
                            <td class="align-center pl0">
                                <div class="td-gr-bg">2</div>
                            </td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <a href="#" class="print-td-icon"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>005</td>
                            <td>01-09-14, 16:04</td>
                            <td>Каримбаева<br /> Жасмин Алибабаевна</td>
                            <td class="align-center pl0"></td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@Guid.NewGuid()" class="view-td-icon"></a>
                                <a href="#" class="print-td-icon"></a>
                            </td>
                        </tr>*@
                </tbody>
            </table>

            @if (Model.Applications != null && Model.Applications.Items.Any())
            {
                <div class="ctr-buttons">
                    <span class="blue-btn middle-icon icon-print-button" rel="tooltip" title="">Распечатать все заявки</span>
                </div>
            }

            </text>
        }

</div>

@if (!string.IsNullOrWhiteSpace(referer))
{
    <text>
    <div class="b-bottom-nav">
        <a href="@referer.ToLower()" class="small-icon icon-prev">Назад</a>
    </div>
    </text>
}
