@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">Карточка организации</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID @Model.Guid.ToString().Substring(0, 4)</h4>
</div>


<div class="content-popup">

    <a asp-controller="vacancies" asp-action="copy" asp-route-id="@Model.Guid" class="btn btn-info btn-xs" title="Копировать вакансию">Копировать вакансию</a>
    @if (Model.Status == VacancyStatus.InProcess)
    {
        <a asp-controller="vacancies" asp-action="edit" asp-route-id="@Model.Guid" class="btn btn-info btn-xs" title="Изменить">Изменить</a>
        <a asp-controller="vacancies" asp-action="delete" asp-route-id="@Model.Guid" onclick="javascript: return confirm('Вы уверены что хотите удалить вакансию?');" class="btn btn-info btn-xs" title="Удалить">Удалить</a>
        <a asp-controller="vacancies" asp-action="publish" asp-route-id="@Model.Guid" class="btn btn-info btn-xs" title="Опубликовать">Опубликовать</a>
    }
    @if (Model.Status == VacancyStatus.Published || Model.Status == VacancyStatus.InCommittee)
    {
        <a asp-controller="vacancies" asp-action="cancel" asp-route-id="@Model.Guid" onclick="javascript: return confirm('Вы уверены что хотите отменить вакансию?');" class="btn btn-info btn-xs" title="Отменить вакансию">Отменить вакансию</a>
    }
    @if (Model.Status == VacancyStatus.Published)
    {
        <a asp-controller="vacancies" asp-action="startincommittee" asp-route-id="@Model.Guid" class="btn btn-info btn-xs" title="Перевести на рассмотрение">Перевести на рассмотрение</a>
    }
    @if (Model.Status == VacancyStatus.OfferAccepted || Model.Status == VacancyStatus.OfferRejected)
    {
        <a asp-controller="vacancies" asp-action="close" asp-route-id="@Model.Guid" class="btn btn-info btn-xs" title="Выбрать победителя">Выбрать победителя</a>
    }

    <br />
    <br />

    @Component.Invoke("VacancyInfo", Model)

    <h4 class="mt45 mb12">Поданные заявки</h4>

    <table class="table request-table">
        <thead>
            <tr>
                <th>
                    <div class="inline-block">
                        @*<img src="/images/icons/arrow-bottom-tab.png" class="va-middle" />*@
                    </div>
                    <div class="inline-block ml6 va-middle">
                        №
                    </div>
                </th>
                <th>
                    <div class="inline-block">
                        @*<img src="/images/icons/tab-head.png" class="va-middle" />*@
                    </div>
                    <div class="inline-block ml6 va-middle">Дата подачи заявки</div>
                </th>
                <th>
                    Фамилия, имя, отчество
                </th>
                <th class="align-center">
                    Победители
                </th>
                <th class="align-center">
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Applications != null)
            {
                foreach (var item in Model.Applications.Items.Where(c => c.Status != VacancyApplicationStatus.Removed && c.Status != VacancyApplicationStatus.Cancelled && c.Status != VacancyApplicationStatus.InProcess))
                {
                    <text>
                    <tr>
                        <td>@Model.Applications.Items.IndexOf(item)</td>
                        <td>@(item.SentDate?.ToLocalVacancyString())</td>
                        <td class="pl0">>@item.Researcher.SecondName<br />@item.Researcher.FullName @item.Researcher.Patronymic</td>
                        <td class="pl0 align-center">
                            <span class="status-request win">
                                @if (Model.WinnerGuid == item.Guid)
                                {
                                    <text>
                                    1
                                    </text>
                                }
                                @if (Model.PretenderGuid == item.Guid)
                                {
                                    <text>
                                    2
                                    </text>
                                }
                            </span>
                        </td>
                        <td>
                            @if (item.Status != VacancyApplicationStatus.Applied)
                            {
                                @item.Status.GetDescription()
                            }
                        </td>
                        <td>
                            <a asp-controller="applications" asp-action="preview" asp-route-id="@item.Guid" class="view-td-icon" title="Просмотр заявки"></a>
                            <!--TODO: Vacancy -> Applications -> Print: распечатать заявку-->
                            <a asp-controller="applications" asp-action="print" asp-route-id="@item.Guid" class="print-td-icon" title="Распечатать Заявку"></a>
                        </td>
                    </tr>
                    </text>
                }
            }

        </tbody>
    </table>


</div>

<div pagedlist="Model.Applications"
     request="Context.Request">
</div>

@if (Model.Applications != null && Model.Applications.Items.Any())
{
    <span class="blue-btn middle-icon icon-print-button" style="margin-right: 15px;" rel="tooltip" title="Распечатать все заявки">Распечатать все заявки</span>
}

@if (Model.Status == VacancyStatus.InCommittee)
{
    if (Model.WinnerRequestDate.HasValue)
    {
        //ожидаем ответ от победителя
        if (!Model.WinnerResponseDate.HasValue)
        {
            <a asp-controller="vacancies" asp-action="winnerdecision" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-decision="true" title="Победитель принял">Победитель принял</a>
            <a asp-controller="vacancies" asp-action="winnerdecision" asp-route-id="@Model.Guid" asp-route-iswinner="true" asp-route-decision="false" title="Победитель отказался">Победитель отказался</a>
        }
        else //ожидаем ответ от претендента
        {
            if (Model.IsWinnerAccept.HasValue && !Model.IsWinnerAccept.Value)
            {
                <a asp-controller="vacancies" asp-action="winnerdecision" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-decision="true" title="Претендент принял">Претендент принял</a>
                <a asp-controller="vacancies" asp-action="winnerdecision" asp-route-id="@Model.Guid" asp-route-iswinner="false" asp-route-decision="false" title="Претендент отказался">Претендент отказался</a>

            }
        }
    }
}

<br />
<br />
<br />

<div class="ctr-buttons">
    @if (true)
    {
        <a asp-controller="vacancies" asp-action="close" asp-route-id="@Model.Guid" class="btn btn-success btn-lg pull-left">
            Завершить конкурс
        </a>
    }
    <a asp-controller="vacancies" asp-action="cancel" asp-route-id="@Model.Guid" class="btn btn-danger btn-lg pull-right">
        Отменить вакансию
    </a>
</div>

<br />

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">@Model.OrganizationName</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
</div>
