@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

<div class="crumbs">
    <a href="/">Главная</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="account">@Model.OrganizationName</a><span class="separator">/</span>
    <a asp-controller="organizations" asp-action="vacancies">Вакансии</a><span class="separator">/</span>
    @ViewBag.Title
</div>

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID @Model.Guid.ToString().Substring(0, 4)</h4>
</div>


<div class="content-popup">

    @Component.Invoke("VacancyInfo", Model)

    <h4 class="mt45 mb12">Поданные заявки</h4>

    <table class="table request-table">
        <thead>
            <tr>
                <th>
                    <div class="inline-block">
                        <img src="/images/icons/arrow-bottom-tab.png" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">№</div>
                </th>
                <th>
                    <div class="inline-block">
                        <img src="/images/icons/tab-head.png" class="va-middle" />
                    </div>
                    <div class="inline-block ml6 va-middle">Дата подачи заявки</div>
                </th>
                <th>
                    <div class="pl21 va-middle lh30">Фамилия, имя, отчество</div>
                </th>
                <th>
                    <div class="pl21 va-middle">Победители</div>
                </th>
                <th>
                    <div class="pl21 va-middle">Статус</div>
                </th>
                <th>
                    <div class="pl21 va-middle">Действия</div>
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Applications != null)
            {
                foreach (var item in Model.Applications.Items.Where(c => c.Status != VacancyApplicationStatus.Removed && c.Status != VacancyApplicationStatus.Cancelled && c.Status != VacancyApplicationStatus.InProcess))
    {
                    <text>
                    <tr>
                        <td>@Model.Applications.Items.IndexOf(item)</td>
                        <td>@(item.SentDate?.ToLocalVacancyString())</td>
                        <td>@item.Researcher.SecondName<br />@item.Researcher.FullName @item.Researcher.Patronymic</td>
                        <td class="align-center pl0">
                            @if (Model.WinnerGuid == item.Guid)
                            {
                                <text>
                                Победитель
                                </text>
                            }
                            @if (Model.PretenderGuid == item.Guid)
                            {
                                <text>
                                Второе место
                                </text>
                            }
                        </td>
                        <td>
                            @if (item.Status != VacancyApplicationStatus.Applied)
                            {
                                @item.Status.GetDescription()
                            }
                        </td>
                        <td>
                            <a asp-controller="applications" asp-action="preview" asp-route-id="@item.Guid" class="view-td-icon" title="Просмотр заявки"></a>
                            <!--TODO: Vacancy -> Applications -> Print: распечатать заявку-->
                            <a asp-controller="applications" asp-action="print" asp-route-id="@item.Guid" class="print-td-icon" title="Распечатать Заявку"></a>
                        </td>
                    </tr>
                    </text>
                }
            }

        </tbody>
    </table>

</div>
@if (Model.Applications != null && Model.Applications.Items.Any())
{
    <span class="blue-btn middle-icon icon-print-button" style="margin-right: 15px;" rel="tooltip" title="Распечатать все заявки">Распечатать все заявки</span>
}

<br />
<br />
<br />

<div class="ctr-buttons">
    @if (true)
    {
        <a asp-controller="vacancies" asp-action="close" asp-route-id="@Model.Guid" class="btn btn-success btn-lg pull-left">
            Завершить конкурс
        </a>
    }
    <a asp-controller="vacancies" asp-action="cancel" asp-route-id="@Model.Guid" class="btn btn-danger btn-lg pull-right">
        Отменить вакансию
    </a>
</div>

<br />

<div class="b-bottom-nav">
    <a href="/" class="small-icon icon-prev">Главная</a>
    <a asp-controller="organizations" asp-action="account" class="small-icon icon-prev">@Model.OrganizationName</a>
    <a asp-controller="organizations" asp-action="vacancies" class="small-icon icon-prev">Вакансии</a>
</div>
