@using System.Threading.Tasks
@using SciVacancies.Domain.Enums
@using SciVacancies.WebApp
@using SciVacancies.WebApp.Engine
@model SciVacancies.WebApp.ViewModels.VacancyDetailsViewModel

@{
    var referer = Context.Request.Headers["referer"];
}
@if (!string.IsNullOrWhiteSpace(referer))
{
    <text>
    <div class="crumbs">
        <a href="@referer.ToLower()">Назад</a><span class="separator">/</span>
        @ViewBag.Title
    </div>
    </text>
}

<h3>@ViewBag.Title</h3>
<div class="title-popup">
    <h4>Вакансия ID @Model.Guid.ToString().Substring(0, 4)</h4>
</div>

@if (Model.Status == VacancyStatus.AppliesAcceptance && User.IsInRole(ConstTerms.RequireRoleResearcher))
{
    <text>
    <a asp-controller="applications" asp-action="create" asp-route-vacancyguid="@Model.Guid" class="green-btn middle-icon">Подать заявку</a>

    <br />
    <br />
    </text>
}

@if (bool.Parse(ViewData["ShowAddFavorite"].ToString()))
{
    <text>
    <a asp-controller="researchers" asp-action="addtofavorite" asp-route-vacancyguid="@Model.Guid" class="success-btn middle-icon">Добавить в избранное</a>
    <br />
    <br />
    </text>
}
@if (bool.Parse(ViewData["VacancyInFavorites"].ToString()))
{
    <text>
    <a asp-controller="researchers" asp-action="favorities" class="success-btn middle-icon">В избранном</a>
    &nbsp;
    <a asp-controller="researchers" asp-action="removefavorite" onclick="javascript: return confirm('Вы уверены, что хотите удалить эту вакансию из избранного?');" asp-route-vacancyguid="@Model.Guid"> Убрать из избранных</a>
    <br />
    <br />
    </text>
}

<div class="content-popup">
    <div class="title-cat-inform">Специализация:</div>
    <ul class="list-information">
        <li class="even">
            <span>Статус:</span>@Model.Status.GetDescription()
        </li>
        <li class="odd">
            <span>Должность:</span>@Model.Name
        </li>
        <li class="even">
            <span>Полное наименование:</span>@Model.FullName
        </li>
        <li class="odd">
            <span>Отрасль науки:</span>@Model.ResearchDirection
        </li>
        <li class="even">
            <span>Тематика исследований:</span>@Model.ResearchTheme
        </li>
    </ul>

    <div class="title-cat-inform">Задачи и критерии:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Задачи:</span>@Model.Tasks
        </li>
        <li class="even">
            <!-- TODO: показать критерии оценки -->
            <del><span>Критерии оценки:</span>@Model.Criteria </del>(в разработке)
        </li>
    </ul>

    <div class="title-cat-inform">Условия:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Заработная плата:</span>@Model.SalaryFrom - @Model.SalaryTo рублей/месяц
        </li>
        <li class="even">
            <span>Стимулирующие выплаты:</span>@Model.Bonuses
        </li>
        <li class="odd">
            <span>Трудовой договор:</span>@Model.ContractType.GetDescription()
        </li>
        <li class="even">
            <span>Социальный пакет:</span>@(Model.SocialPackage ? "Да" : "Нет")
        </li>
        <li class="odd">
            <span>Найм жилья:</span>@(Model.Rent ? "Да" : "Нет")
        </li>
        <li class="even">
            <span>Компенсация проезда:</span>@(Model.TransportCompensation ? "Да" : "Нет")
        </li>
    </ul>

    <div class="title-cat-inform">Лицо для получения дополнительных справок:</div>
    <ul class="list-information">
        <li class="odd">
            <span>Фамилия, имя, отчество:</span>@Model.ContactName
        </li>
        <li class="even">
            <span>E-mail:</span>@Model.ContactEmail
        </li>
        <li class="even">
            <span>Телефон:</span>@Model.ContactPhone
        </li>
    </ul>

    @if (User.IsInRole(ConstTerms.RequireRoleOrganizationAdmin) && ViewBag.CurrentOrganizationGuid != null && ViewBag.CurrentOrganizationGuid == Model.OrganizationGuid)
    {
        <text>
        <h4 class="mt45 mb12">Поданные заявки</h4>

        <table class="table request-table">
            <thead>
                <tr>
                    <th>
                        <div class="inline-block">
                            <img src="/images/icons/arrow-bottom-tab.png" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">№</div>
                    </th>
                    <th>
                        <div class="inline-block">
                            <img src="/images/icons/tab-head.png" class="va-middle" />
                        </div>
                        <div class="inline-block ml6 va-middle">Дата подачи заявки</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle lh30">Фамилия, имя, отчество</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle">Победители</div>
                    </th>
                    <th>
                        <div class="pl21 va-middle">Действия</div>
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Applications != null)
                {
                    foreach (var item in Model.Applications.Items)
                    {
                        <text>

                        <tr>
                            <td>@Model.Applications.Items.IndexOf(item)</td>
                            <td>@(item.SentDate?.ToLocalVacancyString())</td>
                            <td>@item.Researcher.SecondName<br />@item.Researcher.FullName @item.Researcher.Patronymic</td>
                            <td class="align-center pl0">
                                @if (Model.WinnerGuid == item.Guid)
                                {
                                    <text>
                                    Победитель
                                    </text>
                                }
                                @if (Model.PretenderGuid == item.Guid)
                                {
                                    <text>
                                    Второе место
                                    </text>
                                }
                            </td>
                            <td>
                                <a asp-controller="applications" asp-action="applicationinvacancy" asp-route-id="@item.Guid" class="view-td-icon" title="Просмотр заявки"></a>
                                <!--TODO: Vacancy -> Applications -> Print: распечатать заявку-->
                                <a asp-controller="applications" asp-action="print" asp-route-id="@item.Guid" class="print-td-icon" title="Распечатать Заявку"></a>
                            </td>
                        </tr>
                        </text>
                    }
                }

            </tbody>
        </table>

        @if (Model.Applications != null && Model.Applications.Items.Any())
        {
            <div class="ctr-buttons">
                <span class="blue-btn middle-icon icon-print-button" rel="tooltip" title="">Распечатать все заявки</span>
            </div>
        }

        </text>
    }

</div>

@if (!string.IsNullOrWhiteSpace(referer))
{
    <text>
    <div class="b-bottom-nav">
        <a href="@referer.ToLower()" class="small-icon icon-prev">Назад</a>
    </div>
    </text>
}


    @*<div class="slider-popup">
            <ul class="bxslider">
                <li>
                    <div class="caption-slide">Заявка на ID МНС6000567 №001 от 01-09-14 </div>
                    <div class="content-slide">
                        <div class="profile">
                            <div class="photo inline-block">
                                <img width="140" height="180" src="/images/user-photo.jpg" />
                            </div>
                            <div class="info info-view inline-block">
                                <h4>Глаголев Виктор Александрович</h4>
                                <span class="int-name">Glagolev Victor Alexandrovitch</span>
                                <span class="block bold">Год рождения: 1931</span>
                                <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
                                <span class="block">
                                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                                    <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
                                </span>
                                <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>
                            </div>
                        </div>
                        <div class="list-info">
                            <div class="list-item">
                                <div class="bold">Образование</div>
                                <ul class="table-emulation">
                                    <li>
                                        <span class="w85 italic inline-block">Город</span> <span class="italic grey">Челябинск</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">ВУЗ</span> <span class="italic grey">ЧГАКИ</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Факультет</span> <span class="italic grey">Информационных ресурсов и технологий</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Год окончания</span> <span class="italic grey">2000</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-item">
                                <div class="bold">Публикации</div>
                                <ol>
                                    <li>Научная публикация поколения 2.0: перспектива или реальность?</li>
                                    <li>Электронно-библиотечная система: перевод понятия на «библиотечный» английский</li>
                                </ol>
                                <span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>
                            </div>
                            <div class="list-item">
                                <div class="bold">Приложенные файлы</div>
                                <ol>
                                    <li>
                                        Доклад по автоматизированным системам в области науковедения.doc<br />
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                    <li>
                                        Резюме на английском языке.pdf<br />
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="b-solution">
                            <div class="table-form">
                                <div class="table-row">
                                    <div class="left-cell">
                                        <label>Решение по заявке:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="radio-list">
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb1">
                                                </span><label for="rb1">Первое место</label>
                                            </li>
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb2">
                                                </span><label for="rb2">Второе место</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="table-row form-row mt18">
                                    <div class="left-cell">
                                        <label>Обоснование:</label>
                                    </div>
                                    <div class="right-cell">
                                        <textarea></textarea>
                                    </div>
                                </div>

                                <div class="table-row form-row mt14">
                                    <div class="left-cell">
                                        <label>Приложенные файлы:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="content-list">
                                            <li>
                                                Протокол №6000567.pdf
                                                <div class="buttons">
                                                    <span class="big-link-remove"></span>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="small-icon link-add">Приложить файл</span>
                                    </div>
                                </div>
                                <div class="table-row mt37">
                                    <div class="ctr-buttons button-align">
                                        <span class="green-btn middle-icon icon-ok">Выбрать победителем</span>
                                    </div>
                                </div>
                                <div class="table-row mt49">
                                    <div class="ctr-buttons button-align">
                                        <span class="blue-btn middle-icon icon-arr-left">Вернуться в личный кабинет</span><span class="blue-btn middle-icon icon-arr-right">Вернуться к вакансии</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="align-center">Перейти к решению по заявке<span class="solutions op"></span></div>
                        <div class="align-center mt33" style="display:none;"><span class="solutions cl"></span>Свернуть</div>
                    </div>
                </li>

                <li>
                    <div class="caption-slide">Заявка1 на ID МНС6000567 №001 от 01-09-14 </div>
                    <div class="content-slide">
                        <div class="profile">
                            <div class="photo inline-block">
                                <img width="140" height="180" src="/images/user-photo.jpg" />
                            </div>
                            <div class="info info-view inline-block">
                                <h4>Глаголев Виктор Александрович</h4>
                                <span class="int-name">Glagolev Victor Alexandrovitch</span>
                                <span class="block bold">Год рождения: 1931</span>
                                <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
                                <span class="block">
                                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                                    <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
                                </span>
                                <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>
                            </div>
                        </div>
                        <div class="list-info">
                            <div class="list-item">
                                <div class="bold">Образование</div>
                                <ul class="table-emulation">
                                    <li>
                                        <span class="w85 italic inline-block">Город</span> <span class="italic grey">Челябинск</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">ВУЗ</span> <span class="italic grey">ЧГАКИ</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Факультет</span> <span class="italic grey">Информационных ресурсов и технологий</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Год окончания</span> <span class="italic grey">2000</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-item">
                                <div class="bold">Публикации</div>
                                <ol>
                                    <li>Научная публикация поколения 2.0: перспектива или реальность?</li>
                                    <li>Электронно-библиотечная система: перевод понятия на «библиотечный» английский</li>
                                </ol>
                                <span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>
                            </div>
                            <div class="list-item">
                                <div class="bold">Приложенные файлы</div>
                                <ol>
                                    <li>
                                        Доклад по автоматизированным системам в области науковедения.doc<br />
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                    <li>
                                        Резюме на английском языке.pdf<br />
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="b-solution">
                            <div class="table-form">
                                <div class="table-row">
                                    <div class="left-cell">
                                        <label>Решение по заявке:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="radio-list">
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb1">
                                                </span><label for="rb1">Первое место</label>
                                            </li>
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb2">
                                                </span><label for="rb2">Второе место</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="table-row form-row mt18">
                                    <div class="left-cell">
                                        <label>Обоснование:</label>
                                    </div>
                                    <div class="right-cell">
                                        <textarea></textarea>
                                    </div>
                                </div>

                                <div class="table-row form-row mt14">
                                    <div class="left-cell">
                                        <label>Приложенные файлы:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="content-list">
                                            <li>
                                                Протокол №6000567.pdf
                                                <div class="buttons">
                                                    <span class="big-link-remove"></span>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="small-icon link-add">Приложить файл</span>
                                    </div>
                                </div>
                                <div class="table-row mt37">
                                    <div class="ctr-buttons button-align">
                                        <span class="green-btn middle-icon icon-ok">Выбрать победителем</span>
                                    </div>
                                </div>
                                <div class="table-row mt49">
                                    <div class="ctr-buttons button-align">
                                        <span class="blue-btn middle-icon icon-arr-left">Вернуться в личный кабинет</span><span class="blue-btn middle-icon icon-arr-right">Вернуться к вакансии</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="align-center">Перейти к решению по заявке<span class="solutions op"></span></div>
                        <div class="align-center mt33" style="display:none;"><span class="solutions cl"></span>Свернуть</div>
                    </div>
                </li>

                <li>
                    <div class="caption-slide">Заявка2 на ID МНС6000567 №001 от 01-09-14 </div>
                    <div class="content-slide">
                        <div class="profile">
                            <div class="photo inline-block">
                                <img width="140" height="180" src="/images/user-photo.jpg"/>
                            </div>
                            <div class="info info-view inline-block">
                                <h4>Глаголев Виктор Александрович</h4>
                                <span class="int-name">Glagolev Victor Alexandrovitch</span>
                                <span class="block bold">Год рождения: 1931</span>
                                <span class="block"><span class="bold">Индивидуальный номер ученого:</span> 00005444</span>
                                <span class="block">
                                    <span class="bold">Научные интересы (Государственный рубрикатор научно-технической информации):</span>
                                    <span>Автоматизация и автоматизированные системы в области науковедения; Библиотечное дело, библиотековедение; Информационная деятельность в области науковедения...</span>
                                </span>
                                <span class="small-icon icon-sm-eye"><span>Показать все (23)</span></span>
                            </div>
                        </div>
                        <div class="list-info">
                            <div class="list-item">
                                <div class="bold">Образование</div>
                                <ul class="table-emulation">
                                    <li>
                                        <span class="w85 italic inline-block">Город</span> <span class="italic grey">Челябинск</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">ВУЗ</span> <span class="italic grey">ЧГАКИ</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Факультет</span> <span class="italic grey">Информационных ресурсов и технологий</span>
                                    </li>
                                    <li>
                                        <span class="w85 italic inline-block">Год окончания</span> <span class="italic grey">2000</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-item">
                                <div class="bold">Публикации</div>
                                <ol>
                                    <li>Научная публикация поколения 2.0: перспектива или реальность?</li>
                                    <li>Электронно-библиотечная система: перевод понятия на «библиотечный» английский</li>
                                </ol>
                                <span class="small-icon icon-sm-eye"><span>Показать все (5)</span></span>
                            </div>
                            <div class="list-item">
                                <div class="bold">Приложенные файлы</div>
                                <ol>
                                    <li>
                                        Доклад по автоматизированным системам в области науковедения.doc<br/>
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                    <li>
                                        Резюме на английском языке.pdf<br/>
                                        <span class="small-icon icon-sm-download"><span>Скачать</span></span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="b-solution">
                            <div class="table-form">
                                <div class="table-row">
                                    <div class="left-cell">
                                        <label>Решение по заявке:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="radio-list">
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb1">
                                                </span><label for="rb1">Первое место</label>
                                            </li>
                                            <li>
                                                <span class="radio">
                                                    <input type="radio" name="r3" id="rb2">
                                                </span><label for="rb2">Второе место</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="table-row form-row mt18">
                                    <div class="left-cell">
                                        <label>Обоснование:</label>
                                    </div>
                                    <div class="right-cell">
                                        <textarea></textarea>
                                    </div>
                                </div>

                                <div class="table-row form-row mt14">
                                    <div class="left-cell">
                                        <label>Приложенные файлы:</label>
                                    </div>
                                    <div class="right-cell">
                                        <ul class="content-list">
                                            <li>
                                                Протокол №6000567.pdf
                                                <div class="buttons">
                                                    <span class="big-link-remove"></span>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="small-icon link-add">Приложить файл</span>
                                    </div>
                                </div>
                                <div class="table-row mt37">
                                    <div class="ctr-buttons button-align">
                                        <span class="green-btn middle-icon icon-ok">Выбрать победителем</span>
                                    </div>
                                </div>
                                <div class="table-row mt49">
                                    <div class="ctr-buttons button-align">
                                        <span class="blue-btn middle-icon icon-arr-left">Вернуться в личный кабинет</span>
                                        <span class="blue-btn middle-icon icon-arr-right">Вернуться к вакансии</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="align-center">Перейти к решению по заявке<span class="solutions op"></span></div>
                        <div class="align-center mt33" style="display: none;"><span class="solutions cl"></span>Свернуть
                        </div>
                    </div>
                </li>
            </ul>

        </div>*@